{% extends "_email-base.html" %}

{% block content %}
    <h1>Mentor Waitlist Offer</h1>

    {{ first_name }}
    {{ last_name }}
    {{ class_code }}
    {{ class_title }}
    {{ class_description }}
    {{ class_start_date }}
    {{ class_start_time }}
    {{ class_end_date }}
    {{ class_end_time }}
    {{ class_location_name }}
    {{ class_location_street }}
    {{ class_location_city }}
    {{ class_location_state }}
    {{ class_location_zip }}
    {{ class_additional_info }}
    {{ class_url }}
    {{ class_ics_url }}
{% endblock content %}
