{% extends "_email-base.html" %}

{% block content %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="padding: 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding">
                        <p>Unfortunately your recent avatar image was rejected.</p>

                        <p>Please <a href="*|site_url|*/dojo/">upload a new image</a> as soon as you get a chance.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" style="padding-top: 25px;" class="padding">
                        <table border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                            <tr>
                                <td align="center" style="border-radius: 3px;" bgcolor="#86C447"><a href="*|site_url|*/dojo/" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: 700; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 15px 25px; border: 1px solid #86C447; display: inline-block;" class="mobile-button">UPLOAD NEW PHOTO &rarr;</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding">
                        <p>Thank you,</p>

                        <p>The We All Code Team</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}
