{% extends "_email_base.html" %}

{% block content %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="padding" align="center">
      <img src="cid:*|image|*" width="500" height="500" border="0" alt="" style="display: block; padding: 0; color: #666666; text-decoration: none; font-family: Helvetica, arial, sans-serif; font-size: 16px;" class="img-max">
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333;" class="padding">*|first_name|* *|last_name|*'s new profile picture</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" style="padding-top: 25px;" class="padding">
            <table border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
              <tr>
                <td align="center" style="border-radius: 3px;" bgcolor="#86C447">
                  <a href="*|approve_url|*" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: 700; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 15px 25px; border: 1px solid #86C447; display: inline-block;" class="mobile-button">Approve</a>
                </td>
                <td>&nbsp;</td>
                <td align="center" style="border-radius: 3px;" bgcolor="#a94442">
                  <a href="*|reject_url|*" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: 700; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 15px 25px; border: 1px solid #a94442; display: inline-block;" class="mobile-button">Reject</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock %}
