{% extends "_email-base.html" %}

{% block content %}
<p>Your class is just hours away! All you have to do is show up on time. That’s it. Nothing else. No reading, supply shopping or cramming. We’ve got it all covered.</p>

<p><strong>Details</strong>:</p>

<p>{{ class_code }}: {{ class_title }}<br>
{{ class_start_date }} {{ class_start_time }}-{{ class_end_time }}<br>
<a href="{{ class_ics_url }}">Mark it in your calendar now.</a><br>
{{ class_location_name }}<br>
{{ class_location_address }}, {{ class_location_address2 }}<br>
{{ class_location_city }}, {{ class_location_state }} {{ class_location_zip }}</p>
{% if class_additional_info %}

<p><strong>Note</strong>:</p>

<p>{{ class_additional_info }}</p>
{% endif %}

<p>We think you’ll be surprised to see just how easily kids pick up coding. You may even learn a thing or to yourself if you’re not careful. We look forward to seeing you.</p>

<p>The CoderDojoChi Team</p>
{% endblock %}
