{% extends "_email_base.html" %}

{% block content %}
<p>Wow, that is so incredibly cool of you. Your generous donation is what makes We All Code possible. The classes, equipment&mdash;and let&rsquo;s not forget the food&mdash;are all thanks to contributions like yours.</p>

<p>We are so very grateful, and on behalf of each and every one of our students, we thank you.</p>

<p><strong>Your Donation Record:</strong></p>

<table>
  <tbody>
    <tr>
      <th width="170" style="text-align:right; padding-right: 20px;">Donor&rsquo;s Name:</th>
      <td>*|first_name|* *|last_name|*</td>
    </tr>
    <tr>
      <th width="170" style="text-align:right; padding-right: 20px;">Donor&rsquo;s Email:</th>
      <td>*|email|*</td>
    </tr>
    <tr>
      <th width="170" style="text-align:right; padding-right: 20px;">Amount:</th>
      <td>*|amount|*</td>
    </tr>
    <tr>
      <th width="170" style="text-align:right; padding-right: 20px;">Gift Frequency:</th>
      <td>One-time gift</td>
    </tr>
    <tr>
      <th width="170" style="text-align:right; padding-right: 20px;">Charity Name:</th>
      <td>We All Code</td>
    </tr>
    <tr>
      <th width="170" style="text-align:right; padding-right: 20px;">Charity Email:</th>
      <td>info@weallcode.org</td>
    </tr>
    <tr>
      <th width="170" style="text-align:right; padding-right: 20px;">Charity EIN:</th>
      <td>46-4988098</td>
    </tr>
    <tr>
      <th width="170" style="text-align:right; padding-right: 20px;">Transaction ID:</th>
      <td>*|transaction_id|*</td>
    </tr>
    <tr>
      <th width="170" style="text-align:right; padding-right: 20px;">Transaction Date:</th>
      <td>*|transaction_date|*</td>
    </tr>
  </tbody>
</table>

<p style="font-size:small;">No goods or services were received in exchange for this donation and your contribution is entirely tax-deductible as allowed by law.</p>
{% endblock %}
