{% extends "_email-base.html" %}

{% block content %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333;" class="padding">Welcome!</td>
        </tr>
        <tr>
          <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding">
            <p>Hello *|first_name|*,</p>

            <p>Thanks for checking out We All Code. We&rsquo;re thrilled that you&rsquo;re interested.</p>

            <p>We offer several classes throughout the year, so we&rsquo;ll keep you updated with the latest news and announcements. If you&rsquo;d like to participate in other ways, such as donating time, you&rsquo;re a click away.</p>

            <p>Thanks again for your interest in We All Code. We&rsquo;ll see you soon!</p>

            <p>The We All Code Team</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock %}
