{% extends "_email_base.html" %}

{% block content %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333;" class="padding">Welcome!</td>
        </tr>
        <tr>
          <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding">
            <p>Hello *|first_name|*,</p>

            <p>We're thrilled that you're interested in volunteering with We All Code. Thank you for making it possible for kids to explore their curiosity through coding.</p>

            <p>Before you join us for one of our awesome classes, there are a few things you need to do.</p>

            <ol>
              <li>Complete your We All Code profile. Be sure to upload a profile picture and write a little bit about yourself.</li>
              <li><a href="https://app.sterlingvolunteers.com/promoorder/3df76c55-9961-46e1-8e5f-f6b38e2ec4dc" target="_blank">Submit a background check.</a> We work with children and safety is our number one priority.</li>
              <li>Sign-up to attend a Volunteer Training. Visit <a href="https://weallcode.eventbrite.com/" target="_blank">our Eventbrite page</a> to choose a time that is convenient for you.</li>
            </ol>

            <p>You help us provide a magical experience for all our students. Together we are teaching the next generation of coders, hackers and nerds.</p>

            <p>We look forward to seeing you soon.</p>

            <p><i>We All Code Team</i></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock %}
