{% extends "_email-base.html" %}

{% block content %}
<p>{{ first_name }},</p>

<p>You&rsquo;re obviously wired for greatness.</p>

<p>We&rsquo;re thrilled that you&rsquo;re interested in participating in CoderDojoChi. The best way to find out more about us is to attend our {% if next_intro_meeting_url %}<a href="{{ next_intro_meeting_url }}" target="_blank">next meeting</a>{% else %}next meeting{% endif %}.</p>

<p>You&rsquo;ll find out how you can help share code with the next generation of coders, hackers and nerds, learn more about our nonprofit, how we work, and get to know other mentors.</p>

<p>We&rsquo;re glad to have you on the team and look forward to seeing you then.</p>

<p>Don&rsquo;t want to come alone? That&rsquo;s cool&mdash;bring a friend! Send <a href="{{ site_url }}" target="_blank">CoderDojoChi.org</a> to your friends who might be interested in becoming mentors too. Now you&rsquo;ll have a familiar face to sit next to, and you already helped recruit a new mentor&mdash;wasn&rsquo;t that easy?</p>

<p>The CoderDojoChi Team</p>
{% endblock %}
