{% extends "_admin-base.html" %}

{% load humanize coderdojochi_extras %}

{% block title %}CoderDojoChi Admin - Meeting Check in{% endblock %}

{% block extra_head %}
    <style>
        col.success { background-color: #dff0d8; }
        col.error{ background-color: #f2dede; }
        col.warning { background-color: #fcf8e3; }
        col.info { background-color: #d9edf7; }
        .table tbody > tr > td.vert-align { vertical-align: middle; }
    </style>

    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawBasic);

      function drawBasic() {
        var gender_data = google.visualization.arrayToDataTable([
          ['Gender', 'Students'],
          {% for key, value in gender_count %}
          ['{{ key.title }}', {{ value }}],
          {% endfor %}
        ]);

        var gender_options = {
          legend: {
            position: 'bottom',
          },
          // pieSliceText: 'label',
          // title: 'Genders of Registered Students',
          // pieStartAngle: 100,
        };

        var gender_chart = new google.visualization.PieChart(document.getElementById('gender_chart'));
        gender_chart.draw(gender_data, gender_options);

        // Age
        var age_data = google.visualization.arrayToDataTable([
          ['Age', 'Students'],
          {% for key, value in age_count %}
          ['{{ key }} y/o', {{ value }}],
          {% endfor %}
        ]);

        // var age_options = {
        //   legend: {
        //     position: 'bottom',
        //   },
        //   pieSliceText: 'label',
        //   title: 'Genders of Registered Students',
        //   // pieStartAngle: 100,
        // };

        // var age_options = {
          // title: 'Population of Largest U.S. Cities',
          // chartArea: {width: '50%'},
          // hAxis: {
          //   title: 'Total Population',
          //   minValue: 0
          // },
          // vAxis: {
          //   title: 'City'
          // }
        // };

        var age_options = {
          // chart: {
          //   title: 'Genders of Registered Students',
          // },
          // bars: 'horizontal', // Required for Material Bar Charts.
          // hAxis: { format: 'short' },
          legend: { position: 'none' },
          annotations: {
            alwaysOutside: true,
          },
        };

        // var age_chart = new google.visualization.BarChart(document.getElementById('age_chart'));
        // age_chart.draw(age_data, age_options);

        var age_chart = new google.charts.Bar(document.getElementById('age_chart'));
        age_chart.draw(age_data, age_options);

      }
    </script>
{% endblock %}

{% block topnav %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'cdc_admin' %}">CoderDojoChi Admin</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="pull-right" href="/dj-admin">Django Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

    {% if active_orders.count %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-6">Attendance</div>
                            <div class="col-sm-6 text-right">{{ checked_in.count }} of {{ active_orders.count }}</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4 class="text-center"></h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{% widthratio checked_in.count active_orders.count 100 %}" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio checked_in.count active_orders.count 100 %}%">
                                {% widthratio checked_in.count active_orders.count 100 %}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Attending <span class="badge">{{ orders.count }}</span></h2>
                {% if active_orders.count %}
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th class="col-sm-1"></th>
                                <th class="col-sm-8">Name</th>
                                <th class="col-sm-1 text-right"></th>
                                <th class="col-sm-2 text-right">Checkin Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in active_orders %}
                            <tr class="{% if order.check_in %}success{% endif %}">
                                <form method="post" action=".">
                                    {% csrf_token %}
                                    <input type="hidden" name="order_id" value="{{ order.id }}">
                                    <td>{{ forloop.counter|stringformat:"02d" }}</td>
                                    <td><strong>{{ order.mentor.user.first_name }}</strong> {{ order.mentor.user.last_name }}</td>
                                    <td class="text-right">
                                        {% if not order.check_in %}
                                            <button class="btn btn-primary btn-xs">Check In</button>
                                        {% else %}
                                            <button class="btn btn-danger btn-xs">Undo</button>
                                        {% endif %}
                                    </td>
                                    <td class="text-right">{{ order.check_in|default:"" }}</td>
                                </form>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No one signed up yet.</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% if inactive_orders.count %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Cancelled <span class="badge">{{ inactive_orders.count }}</span></h2>

                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th class="col-sm-1"></th>
                            <th class="col-sm-8">Name</th>
                            <th class="col-sm-3 text-right">Cancelled Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in inactive_orders %}
                        <tr class="">
                            <td>{{ forloop.counter|stringformat:"02d" }}</td>
                            <td><strong>{{ order.mentor.user.first_name }}</strong> {{ order.mentor.user.last_name }}</td>
                            <td class="text-right">{{ order.updated_at }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

