{% extends "email/_base.html" %}

{% block content %}
<p>Hi {{ user}},</p>
<p>Thank you for signing up to attend the following mentor meeting...</p>
<h2>{{ meeting.title }}</h2>
<p><strong><i class="fa fa-clock-o"></i> When:</strong><br>
{{ meeting.start_date|date }} from {{ meeting.start_date|time }} to {{ meeting.end_date|time }}</p>
<p><strong><i class="fa fa-map-marker"></i> Where:</strong><br>
{{ meeting.location }}</p>
{% if meeting.additional_info %}
<p><strong><i class="fa fa-info"></i> Additional Info:</strong><br>
{{ meeting.additional_info|safe }}</p>
{% endif %}
<p>{{ meeting.description|safe }}</p>
{% endblock %}