{% extends "email/_base.html" %}

{% block content %}
<p>Hi {{ user}},</p>
{% if user.role == 'mentor' %}
<p>Thank you for signing up as a mentor for the following upcoming class...</p>
{% endif %}
{% if user.role == 'guardian' %}
<p>Thank you for signing up your student for the following upcoming class...</p>
{% endif %}
<h2>{% if session.course.code %}<small>{{ session.course.code }}:</small> {% endif %}{{ session.course.title }}</h2>
<p>{{ session.course.description|safe }}</p>
<p><strong><i class="fa fa-clock-o"></i> When:</strong><br>
{{ session.start_date|date }} from {{ session.start_date|time }} to {{ session.end_date|time }}</p>
<p><strong><i class="fa fa-map-marker"></i> Where:</strong><br>
{{ session.location }}</p>
{% if session.additional_info %}
<p><strong><i class="fa fa-info"></i> Additional Info:</strong><br>
{{ session.additional_info|safe }}</p>
{% endif %}
{% endblock %}