{% extends "email/_base.html" %}

{% block content %}
<p>Hi {{ user}},</p>
{% if user.role == 'mentor' %}
<p>Thank you for signing up as a mentor with CoderDojoChi! <a href="{{ site_url }}/classes">Sign up to mentor your first class now!</a></p>
{% endif %}
{% if user.role == 'guardian' %}
<p>Thank you for signing up as a guardian with CoderDojoChi! <a href="{{ site_url }}/welcome">Add your students</a> or <a href="{{ site_url }}/classes">view upcoming classes</a> now.</p>
{% endif %}
{% endblock %}