{% load static raven %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" {% if DEBUG %}class="debug"{% endif %}>
    <head>
        <title>{% block title %}CoderDojoChi - Welcome!{% endblock %}</title>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="CoderDojoChi is volunteer run nonprofit organization that teaches web, game, and app development to youth ages 7 to 17 free of charge.">
            <meta property="og:description" content="CoderDojoChi is volunteer run nonprofit organization that teaches web, game, and app development to youth ages 7 to 17 free of charge.">
            <meta property="og:image" content="{% static "images/coderdojochi.jpg" %}">
            <meta property="og:site_name" content="CoderDojoChi">
            <meta property="fb:app_id" content="1454178301519376">

            {% block extra_meta %}
            <meta property="og:url" content="http://coderdojochi.org">
            <meta property="og:title" content="CoderDojoChi - Welcome!">
            {% endblock %}


            <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Quicksand:300,400,700" rel="stylesheet">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >

            {% if DEBUG %}
            <link href="{% static "css/cdc.css" %}" rel="stylesheet">
            {% else %}
            <link href="{% static "css/cdc.min.css" %}" rel="stylesheet">
            {% endif %}

            <!--[if lt IE 9]>
            <script src="{% static 'js/vendor/html5shiv.js' %}"></script>
            <script src="{% static 'js/vendor/selectivizr.js' %}"></script>
            <script src="{% static 'js/vendor/respond.js' %}"></script>
            <![endif]-->

        {% block extra_style %}{% endblock %}

        {% block extra_head %}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% block topnav %}
            {% include "_topnav.html" %}
        {% endblock %}

        {% block body_base %}
            <div role="main" class="main">
                {% include "_messages.html" %}
                {% block content %}{% endblock %}
            </div>
        {% endblock %}

        {% block footer_base %}
            <footer>
                <div class="container">
                    <div class="col-sm-6 text-muted">
                        <p>&copy;2013&ndash;{% now "Y" %}. All rights reserved.</p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <p>
                            {% if 'contact' not in request.path %}
                            <a href="{% url 'contact' %}">Contact Us</a>
                            {% endif %}
                            {% if 'privacy' not in request.path %}
                            <a href="{% url 'privacy' %}">Privacy &amp; Terms</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </footer>
        {% endblock %}

        <!-- jQuery CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- jQuery local fallback -->
        <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"><\/script>')</script>

        <!-- Bootstrap JS CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Bootstrap JS local fallback -->
        <script>if(typeof($.fn.modal) === 'undefined') {document.write('<script src="{% static "js/vendor/bootstrap-3.3.7.min.js" %}"><\/script>')}</script>

        <!-- Bootstrap CSS local fallback -->
        <script>
            $(document).ready(function() {
                var bodyColor = $('body').css('color');
                if (bodyColor != 'rgb(51, 51, 51)') {
                    $("head").prepend('<link rel="stylesheet" href="{% static "css/vendor/bootstrap-3.3.7.min.css" %}">');
                }
            });
        </script>


        <script src="{% static "js/vendor/jquery.maskedinput.min.js" %}"></script>

        {% if DEBUG %}
            <script src="{% static "js/cdc.js" %}"></script>
        {% else %}
            <script src="{% static "js/cdc.min.js" %}"></script>
            <script>Raven.config('{% sentry_public_dsn %}').install()</script>
        {% endif %}

        {% block extra_script %}{% endblock %}

        {% block extra_body %}{% endblock %}

        <!-- Analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-78618586-1', 'auto');
        ga('send', 'pageview');
        </script>
    </body>
</html>
