{% extends "_base.html" %}

{% block title %}Donate{% endblock %}

{% block body_class %}page-donate{% endblock %}

{% block content %}

<div class="hero">
    <div class="container">
        <h1 class="title">
            {% if referral_heading %}{{ referral_heading }}{% else %}Donate Today!{% endif %}
        </h1>
        <ul class="list-inline amount-buttons">
            <li><button class="btn-cdc btn-cdc-inverse" data-value="25">$25</button></li>
            <li><button class="btn-cdc btn-cdc-inverse" data-value="50">$50</button></li>
            <li><button class="btn-cdc btn-cdc-inverse" data-value="100">$100</button></li>
            <li><button class="btn-cdc btn-cdc-inverse" data-value="150">$150</button></li>
            <li><button class="btn-cdc btn-cdc-inverse" data-value="other">Other</button></li>
        </ul>
        <div class="amount-actual">
            <span class="dollar">$</span>
            <input type="text" class="form-control input-lg" maxlength="6">
        </div>
        <div class="personal-info">
            <h3 class="text-center">Please tell us a little about yourself</h3>
            <div class="form-group">
                <input type="text" id="firstNameInput" class="form-control input-lg" placeholder="First name e.g. William">
            </div>
            <div class="form-group">
                <input type="text" id="lastNameInput" class="form-control input-lg" placeholder="Last name e.g. Gates">
            </div>
            <div class="form-group">
                <input type="email" id="emailInput" class="form-control input-lg" placeholder="Email Address e.g. bill.gates@microsoft.com">
            </div>
            <div class="form-group">
                <input type="referral" id="referralInput" class="form-control input-lg" {% if referral_code %}readonly value="{{ referral_code }}"{% endif %} placeholder="Referral Code (optional)">
            </div>
            <h3 class="text-center">We will email you a receipt<br>(includes tax exempt information)</h3>

            <button class="btn-cdc btn-cdc-inverse btn-do-it" disabled>Do it.</button>
        </div>
    </div>
</div>

<div class="container">
    <h2>You can help!</h2>
    <p>CoderDojoChi is a registered non-profit organization supported entirely by...you! Please help us continue our mission by donating a small amount to our cause. Thank you! </p>

    {% if referral_disclaimer %}
        <p>{{ referral_disclaimer }}</p>
    {% endif %}

    {{ form.render }}
</div>

{% endblock %}

{% block extra_script %}
<script>
    $(function() {
        var $donateForm = $('form');
        var $amountButtons = $('.amount-buttons:first');
        var $donateButton = $('.btn-do-it:first');
        var $donateAmount = $('#id_amount');
        var $amountActual = $('.amount-actual:first');
        var $amountActualField = $('.form-control', $amountActual);
        var $personalInfo = $('.personal-info:first');
        var $firstNameInput = $('#firstNameInput');
        var $lastNameInput = $('#lastNameInput');
        var $emailInput = $('#emailInput');
        var $referralInput = $('#referralInput');
        var $invoiceNumber = $('#id_invoice');
        var $paymentFirstName = $('#id_first_name');
        var $paymentLastName = $('#id_last_name');

        var amountButtonClick = function() {
            var $clicked = $(this);
            var clickedValue = $clicked.data('value');

            $('.active', $amountButtons).removeClass('active');
            $clicked.addClass('active');
            $donateButton.attr('disabled', false);

            // show personal information fields
            $personalInfo.show();

            if (clickedValue === 'other') {
                $amountActual.show();
                $amountActualField.focus();
            } else {
                $amountActual.hide();
                $('.form-control:first', $personalInfo).focus();
            }

            ga('send', 'event', 'button', 'click', 'donation form amount selected', clickedValue);
        };

        var donateFormSubmit = function(e) {
            $donateButton.trigger('click');
        };

        var donateButtonClick = function() {

            var $selectedAmountButton = $('.active', $amountButtons);
            var selectedAmount = $selectedAmountButton.data('value');
            var emailTest = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
            var formData;

            if(selectedAmount === 'other') {

                var customAmount = $amountActualField.val();

                if(customAmount.length){
                    selectedAmount = parseInt(customAmount);
                } else {
                    $amountActual.addClass('has-error');
                    $amountActualField.focus();
                    return false;
                }
            }

            // set donation amount
            $donateAmount.val(selectedAmount);

            if(!$firstNameInput.val()) {
                showError($firstNameInput, 'First name is required to receive a receipt.');
                return false;
            }

            if(!$lastNameInput.val()) {
                showError($lastNameInput, 'Last name is required to receive a receipt.');
                return false;
            }

            if(!$emailInput.val() || !emailTest.test($emailInput.val())) {
                showError($emailInput, 'A valid email address is required to receive a receipt.');
                return false;
            }

            formData = {
                first_name: $firstNameInput.val(),
                last_name: $lastNameInput.val(),
                email: $emailInput.val(),
                referral_code: $referralInput.val(),
                amount: parseInt(selectedAmount),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }

            ga('send', 'event', 'button', 'click', 'donation form donate button clicked');

            // submit donation record before submitting
            $.post('/donate/', formData, function(response) {
                if(response !== 'failed') {
                    $paymentFirstName.val(formData.first_name);
                    $paymentLastName.val(formData.last_name);
                    $invoiceNumber.val(response);
                    $donateForm.off('submit');
                    $donateForm.submit();
                } else {
                    alert('An error occured, please refresh the page and try again.')
                }
            });
        };

        var showError = function ($input, message) {
            $('.has-error', $personalInfo).removeClass('has-error');
            $('.alert-danger', $personalInfo).remove();
            $input.closest('.form-group')
                .addClass('has-error')
                .before(
                    '<div class="alert alert-danger">' + message + "<\/div>"
                );
        };

        $donateForm.submit(donateFormSubmit);

        $amountButtons
            .on('click', 'button', amountButtonClick);

        $donateButton
            .on('click', donateButtonClick);

        // tracking code

        $firstNameInput.on('focus', function() {
            ga('send', 'event', 'input', 'focus', 'donation form first name input focus');
        });

        $lastNameInput.on('focus', function() {
            ga('send', 'event', 'input', 'focus', 'donation form last name input focus');
        });

        $emailInput.on('focus', function() {
            ga('send', 'event', 'input', 'focus', 'donation form email input focus');
        });

        $amountActualField.on('focus', function() {
            ga('send', 'event', 'input', 'focus', 'donation form custom amount input focus');
        });

    });
</script>
{% endblock %}
