{% extends "_base.html" %}

{% block title %}FAQs{% endblock %}

{% block body_class %}page-faqs{% endblock %}

{% block content %}
<div class="container">
    <h1>FAQs {{ name }}</h1>

    <h2>Does my child need to already know code?</h2>
    <p>There are no requirements for attending a CoderDojo class other than bringing yourself and a desire to learn. Every Dojo teaches a basic introduction to making a webpage as a starting point to learning how to code. From there, children begin to learn how to code in more advanced languages by learning from each other and from the mentors.</p>

    <h2>What is the age range of the students?</h2>
    <p>Approximately 7–17 years old.</p>

    <h2>On average how many students are at each session?</h2>
    <p>Between 10–30 students.</p>

    <h2>What level IT skills do students need at the start?</h2>
    <p>It's recommended that they have used a computer and browsed the internet before but no real computer skills are needed. The point is to introduce kids to programming and inspire them to explore technology on their own.</p>

    <h2>What level of code you are offering at classes?</h2>
    <p>Our Dojo develops content to suit the students and mentors in attendance. CoderDojo recommends HTML as a good starting point to demonstrate to kids that they can actually create content. This will encourage progression into more complex programming with functions/loops/variables etc.</p>

    <h2>Who are the volunteers?</h2>
    <p>Volunteers include parents, teachers and programmers from the industry who are enthusiastic about helping kids to develop their coding skills.</p>

    <h2>Can I stay with my child during the class?</h2>
    <p>Yes! We highly encourage parents to stay with their children throughout the process. This allows everyone to learn something new and amazing!</p>

    <h2>Do we need to provide a laptop?</h2>
    <p>That depends on the curriculum, class size and location. Please check the email you receive when signing up.</p>

    <h2>Need something else? <a href="{% url 'contact' %}">Contact us</a></h2>
</div>
{% endblock %}
