{% extends "_base.html" %}

{% load static coderdojochi_extras %}

{% block body_class %}page-homepage{% endblock %}

{% block content %}


<div class="hero">
    <div class="container">
        <div id="carousel-home-hero" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                        <iframe id="homepage-video" src="//www.youtube.com/embed/IAVyEnIdxBM?rel=0&amp;controls=1&amp;showinfo=0&amp;autohide=1&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="homepage-about text-center">
    <div class="container">
        <div class="row">
            <h1>Our Mission</h1>
            <p>CoderDojoChi is a volunteer run nonprofit organization that teaches web, game, and app development to youth ages 7 to 17. Our mission is to create a fun, collaborative environment to explore <abbr title="STEM is an acronym referring to the academic disciplines of science, technology, engineering, and mathematics.">STEM</abbr>. Through challenging play, youth can build memorable experiences with mentors.</p>
            <p>All classes are <strong>100% free of charge</strong> thanks to your generous <a title="Donate now" href="{% url 'donate' %}">donations</a>.</p>
        </div>
    </div>
</div>

<div class="homepage-cta">
    <div class="container">
        <div class="row">
            <div class="col-md-6 homepage-volunteer">
                <a class="icon-action" href="{% url 'volunteer' %}">
                    <span class="icon-volunteer fa fa-fw fa-group"></span>
                </a>
                <h1><a href="{% url 'volunteer' %}">Volunteer</a></h1>
                <p>We're looking for people who believe they can make a difference by exposing the youth to the world of coding.</p>
            </div>
            <div class="col-md-6 homepage-donate">
                <a class="icon-action" href="{% url 'donate' %}">
                    <span class="icon-donation fa fa-fw"></span>
                </a>
                <h1><a href="{% url 'donate' %}">Donate</a></h1>
                <p>Funding goes 100% towards equipment and food for youth, attendees, and mentors.</p>
            </div>
        </div>
    </div>
</div>

{% if upcoming_classes %}
<div class="upcoming-sessions">
    {% for session in upcoming_classes %}
        <div class="upcoming-session" style="background-image: url({% if session.bg_image %}{{ session.bg_image.url }}{% else %}{% static '' %}images/{{ session.image_url }}{% endif %});">
            <div class="session-shim">
                <div class="container">
                    <div class="date">
                        {{ session.start_date|date:'F' }}
                        <span class="day">{{ session.start_date|date:'d' }}</span>
                    </div>
                    <div class="description">
                        <h4 class="title"><a href="{{ session.get_absolute_url }}">{% if session.course.code %}{{ session.course.code }}: {% endif%}{{ session.course.title }}</a></h4>
                        <p>{{ session.course.description|safe|truncatechars:180 }}</p>
                    </div>
                    <div class="actions">
                        <p><a href="{{ session.get_absolute_url }}" class="btn-cdc">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endif %}

{% endblock %}


{% block extra_script %}

<script>

// This code loads the IFrame Player API code asynchronously
var tag = document.createElement('script');
tag.src = "http://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


// This code is called by the YouTube API to create the player object
function onYouTubeIframeAPIReady(event) {
  player = new YT.Player('homepage-video', {
    events: {
      'onStateChange': onPlayerStateChange
    }
  });
}

var pauseFlag = false;

function onPlayerStateChange(event) {
    // track when user clicks to Play
    if (event.data == YT.PlayerState.PLAYING) {
        _gaq.push(['_trackEvent', 'Videos', 'Play', 'Homepage Video']);
        pauseFlag = true;
    }
    // track when user clicks to Pause
    if (event.data == YT.PlayerState.PAUSED && pauseFlag) {
        _gaq.push(['_trackEvent', 'Videos', 'Pause', 'Homepage Video']);
        pauseFlag = false;
    }
    // track when video ends
    if (event.data == YT.PlayerState.ENDED) {
        _gaq.push(['_trackEvent', 'Videos', 'Finished', 'Homepage Video']);
    }
}

</script>



{% endblock %}
