{% extends "_base.html" %}

{% block title %}{{ meeting.title }} Sign Up{% endblock %}

{% block body_class %}page-class-sign-up{% endblock %}

{% block content %}
<div class="container registration min-height">
    <h1 class="light">
    {% if user_signed_up %}You can no longer make it{% else %}Sign up{% endif %} to attend the mentor meeting <strong>"{{ meeting.meeting_type.title }}"</strong> on <strong>{{ meeting.start_date|date }}</strong> from <strong>{{ meeting.start_date|time }}</strong> to <strong>{{ meeting.end_date|time }}</strong>?</h1>
    <form class="form" method="POST" action="">
        {% csrf_token %}
        <button class="btn-cdc btn-cdc-{% if user_signed_up %}danger{% else %}success{% endif %} btn-cdc-lg">{% if user_signed_up %}Yes, cancel{% else %}Yes, I'm excited!{% endif %}</button>
        <a href="{{ meeting.get_absolute_url }}" class="btn-cdc btn-cdc-sm btn-cdc-inverse">Nevermind</a>
    </form>
    <br>
    <a target="_blank" class="map" href="//www.google.com/maps/preview?q={{ meeting.location.address }}, {{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}"><img width="100%" src="//maps.google.com/maps/api/staticmap?size=550x550&amp;sensor=false&amp;markers={{ meeting.location.address }}, {{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}&amp;center={{ meeting.location.address }} {{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}"></a>
    <p class="text-center"><a target="_blank" href="//www.google.com/maps/preview?q={{ meeting.location.address }}, {{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}">Open in Google Maps</a></p>
</div>
{% endblock %}
