{% extends "_base.html" %}

{% load coderdojochi_extras %}

{% block title %}{{ meeting.meeting_type.title }}{% endblock %}

{% block extra_meta %}
<meta property="og:url" content="{{ meeting.get_absolute_url }}">
<meta property="og:title" content="{{ meeting.start_date|date }} | {{ meeting.meeting_type.title }}">
{% endblock %}

{% block body_class %}page-class-detail{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title">{{ meeting.meeting_type.title }} <small>{{ meeting.start_date|date }}</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 class-detail-content">
            <p>{{ meeting.meeting_type.description|safe }}</p>

            <h2 class="title light space-above">Meeting Information</h2>

            <h3>Who</h3>
            <p>Teachers, coders, writers, crafters, nurturers, leaders, tinkers, go getters to name a few. If you are passionate about coding and/or teaching children, join us. Everyone is welcome, regardless of technical ability.</p>

            <h3>When</h3>
            <p>{{ meeting.start_date|date }} from {{ meeting.start_date|time }} to {{ meeting.end_date|time }}</p>
            <p><i class="fa fa-calendar"></i> <a href="{{ meeting.get_ics_url }}">Add to your calendar</a></p>

            <h3>Where</h3>
            <p><a target="_blank" class="static-map" href="//www.google.com/maps/preview?q={{ meeting.location.full }}">{{ meeting.location.name }} {{ meeting.location.street }} <br>{{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}</a></p>

            {% if meeting.additional_info %}
            <h3>Additional Info</h3>
            <p>{{ meeting.additional_info|safe }}</p>
            {% endif %}

            {% if meeting.get_current_mentors.count %}
            <h2 class="subtitle">Attending</h2>

            <div class="row mentors">
                {% for mentor in meeting.get_current_mentors %}
                    {% if mentor.is_public == True %}
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <a href="{% url 'mentor_detail' mentor.id %}" class="thumbnail">
                                <img src="{% if mentor.avatar %}{{ mentor.avatar.thumbnail.url }}{% else %}http://gravatar.com/avatar/?s=175&d=mm{% endif %}" width="175" height="175">
                                <span class="caption text-center">{{ mentor.user.first_name }} {{ mentor.user.last_name }}</span>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="col-sm-4 class-detail-sidebar-right">
            {% if user.is_staff %}
                <ul class="center-block well well-sm list-group list-unstyled">
                    {% if meeting.is_active %}
                        <!-- Todo -->
                        <li class="list-group-item">Attending: <b>{{ active_meeting_orders.count }}</b></li>

                        {% if meeting.announced_date %}
                            <li class="text-muted list-group-item">Announced: <b>{{ meeting.announced_date|date }}</b></li>
                        {% else %}
                            <li class="list-group-item"><a href="#" onclick="event.preventDefault()" data-toggle="popover" title="Announce Meeting?" data-content="<a class='btn btn-danger' href='{% url 'meeting_announce' meeting.id %}'>Announce</a>" data-html="true">Announce</a></li>
                        {% endif %}

                        <li class="list-group-item"><a href="{% url 'meeting_check_in' meeting.id %}">Check-in Meeting</a></li>
                    {% endif %}

                    <!-- Todo -->
                    {# <li class="list-group-item"><a href="#" disabled>Meeting Stats</a></li> #}

                    <li class="list-group-item"><a href="/dj-admin/coderdojochi/meeting/{{ meeting.id }}">Edit Meeting</a></li>
                </ul>
            {% endif %}

            <div class="sidebar-right-section center-block">
                {% if meeting.external_enrollment_url %}
                    <p><a href="{{ meeting.external_enrollment_url }}" class="btn-cdc btn-cdc-lg btn-block">Attend Meeting</a></p>
                {% else %}
                    {% if user.is_authenticated and user.role == 'mentor' %}
                        {% if mentor_signed_up %}
                            <p>You are signed up to attend this meeting.</p>
                            <p><a href="{{ meeting.get_signup_url }}" class="btn-cdc btn-cdc-danger btn-block">I can't make it...</a></p>
                        {% else %}
                            <p><a href="{{ meeting.get_signup_url }}" class="btn-cdc btn-cdc-lg btn-block">Attend Meeting</a></p>
                        {% endif %}
                    {% else %}
                    <p><a href="{% url 'account_login' %}?next={{ meeting.get_absolute_url }}">Login</a> or <a href="{% url 'account_signup' %}?next={{ meeting.get_absolute_url }}">register</a> to sign up for this mentor meeting.</p>
                    {% endif %}
                {% endif %}
            </div>

            <div class="sidebar-right-section center-block">
                <div class="map">
                    <a target="_blank" class="static-map" href="//www.google.com/maps/preview?q={{ meeting.location.address }}, {{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}"><img src="//maps.google.com/maps/api/staticmap?size=281x281&amp;sensor=false&amp;zoom=15&amp;markers={{ meeting.location.address }}, {{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}&amp;center={{ meeting.location.address }} {{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}"></a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
