{% extends "_base.html" %}

{% load static coderdojochi_extras %}

{% block title %}Upcoming Classes{% endblock %}

{% block extra_meta %}
<meta property="og:url" content="{{ session.get_absolute_url }}">
<meta property="og:title" content="Check out our upcoming classes!">
{% endblock %}

{% block body_class %}page-classes{% endblock %}

{% block content %}
<div class="container">
    <h1>Upcoming Classes</h1>
    <p>Thanks for checking out CoderDojoChi. We're thrilled that you're interested.</p>

    <p>We offer several classes throughout the year, please take a moment to read about them below and sign up!</p>

    <p>If you'd like to participate in other ways, please consider <a href="{% url 'volunteer' %}">donating time</a> or <a href="{% url 'donate' %}">making a contribution to our nonprofit</a>.</p>

    <p>We'll see you soon!</p>
</div>
<div class="upcoming-sessions">
{% if all_sessions %}
    {% for session in all_sessions %}
        <div class="upcoming-session" style="background-image: url({% if session.bg_image %}{{ session.bg_image.url }}{% else %}{% static '' %}images/{{ session.image_url }}{% endif %});">
            <div class="session-shim">
                <div class="container">
                    <div class="date">
                        {{ session.start_date|date:'F' }}
                        <span class="day">{{ session.start_date|date:'d' }}</span>
                    </div>
                    <div class="description">
                        <h4 class="title"><a href="{{ session.get_absolute_url }}">{% if session.course.code %}{{ session.course.code }}: {% endif%}{{ session.course.title }}</a></h4>
                        <p>{{ session.course.description|safe|truncatechars:180 }} <a href="{{ session.get_absolute_url }}">Learn more</a></p>
                    </div>
                    <div class="actions">
                        {% if user.is_authenticated and user.role == 'mentor' %}
                            {% if session.mentor_capacity and session.get_mentor_orders.count >= session.mentor_capacity %}
                                <a href="{{ session.get_absolute_url }}" class="btn-cdc btn-cdc">Join Waitlist</a>
                            {% else %}
                                <a href="{{ session.get_absolute_url }}" class="btn-cdc btn-cdc">Volunteer</a>
                            {% endif %}
                        {% else %}
                            {% if session.get_current_students.count < session.capacity %}
                                <a href="{{ session.get_absolute_url }}" class="btn-cdc btn-cdc">Learn more</a>
                            {% else %}
                                <a href="{{ session.get_absolute_url }}" class="btn-cdc btn-cdc">Join Waitlist</a>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-warning text-center">There are no upcoming classes at this time.  Please <a href="{% url 'contact' %}">contact us</a> for more information.</div>
{% endif %}
</div>
{% endblock %}

{% block extra_script %}
<script>
$(function(){
    $('#calendar-month-select').on('change', function() {
        window.location = '/classes/{{calendar_date.year }}/' + $(this).val();
    });
    $('#calendar-year-select').on('change', function() {
        window.location = '/classes/' + $(this).val() + '/{{calendar_date.month }}';
    });
});
</script>
{% endblock %}
