{% extends "_base.html" %}

{% load coderdojochi_extras %}

{% block title %}Upcoming Classes{% endblock %}

{% block extra_meta %}
<meta property="og:url" content="{{ session.get_absolute_url }}">
<meta property="og:title" content="Check out our upcoming classes!">
{% endblock %}

{% block body_class %}page-classes{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {{ partner_message|safe }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form method="post" action="." class="">
                    {% csrf_token %}

                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ error }}
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordStatus" required="required">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
