<div class="bg-white radius">
  {% if label %}<h6 class="text-uppercase padding-1 margin-0 text-grey-for-white">{{ label }}</h6>{% endif %}
  {% if image_url %}<img class="width-100" src="{{ image_url }}" alt="">{% endif %}
  <div class="padding-1 padding-horizontal-2 text-center">
    {% if subtitle %}<h4 class="text-blue text-uppercase text-primary">{{ title }}</h4>{% endif %}
    {% if subtitle %}<div><strong>{{ subtitle }}</strong></div>{% endif %}
    {% if description %}<div>{{ description }}</div>{% endif %}
    {% if cta_url %}<a class="button bg-tertiary width-100 margin-top-1" href="{{ cta_url }}">{{ cta_text }}</a>{% endif %}
  </div>
</div>
