<div class="grid-x grid-margin-x grid-margin-y margin-top-2 text-white text-center">
  <div class="cell padding-2 large-4 bg-gray-for-blue padding-vertical-3">
    {% include "weallcode/snippets/poster.html" with svg_href=svg_href_1 title=title_1 content=content_1 %}
  </div>
  <div class="cell padding-2 large-4 bg-tertiary padding-vertical-3">
    {% include "weallcode/snippets/poster.html" with svg_href=svg_href_2 title=title_2 content=content_2 %}
  </div>
  <div class="cell padding-2 large-4 bg-primary padding-vertical-3">
    {% include "weallcode/snippets/poster.html" with svg_href=svg_href_3 title=title_3 content=content_3 %}
  </div>
</div>
