{% load static %}

<div class="text-center height-100 {% if is_on_dark %}bg-white{% else %}bg-dark-blue{% endif %}">
  <div class="position-relative">
    {% if link %}
    <a href="{{ link }}" class="profile-image-wrapper bg-avatar">
    {% else %}
    <div class="profile-image-wrapper bg-avatar">
    {% endif %}
      <img class="profile-image" src="{% if image %}{{ image.url }}{% else %}{% static static_image %}{% endif %}" alt="{{ name }}" loading="lazy">
    {% if link %}
    </a>
    {% else %}
    </div>
    {% endif %}

    {% if label %}
    <div class="bottom-label bg-primary text-white">
      <strong>{{ label }}</strong>{% if sublabel %}<br><small>{{ sublabel }}</small>{% endif %}
    </div>
    {% endif %}
  </div>

  <div class="padding-vertical-2 padding-horizontal-1">
    {% if is_small %}
      <h6 class="text-uppercase text-{% if is_on_dark %}primary{% else %}white{% endif %}">{{ name }}</h6>
    {% else %}
      <h4 class="text-uppercase text-{% if is_on_dark %}primary{% else %}white{% endif %}">{{ name }}</h4>
    {% endif %}

    {% if title %}
      <div class="line width-25 bg-{{ color|default:"secondary" }} margin-vertical-half"></div>

      <div class="text-uppercase text-grey-for-white">
        {% if is_small %}<small>{% endif %}
        <p><strong>{{ title }}</strong></p>
        {% if description %}
          <p>{{ description }}</p>
        {% endif %}
        {% if is_small %}</small>{% endif %}
      </div>
    {% endif %}
  </div>
</div>
