{% load static %}

<div class="text-center height-100 {% if is_on_dark %}bg-white{% else %}bg-dark-blue{% endif %}">
  <div class="position-relative">
    <{% if link %}a href="{{ link }}"{% else %}div{% endif %} class="profile-image-wrapper bg-avatar">
      <svg
        class="profile-image"
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
        style="background-image: url(
          {% if image %}
            {{ image.url }}
          {% elif static_image %}
            {% static static_image %}
          {% endif %})
        "
      ></svg>
    </{% if link %}a{% else %}div{% endif %}>
    {% if label %}
    <div class="bottom-label bg-primary text-white">
      <strong>{{ label }}</strong>{% if sublabel %}<br><small>{{ sublabel }}</small>{% endif %}
    </div>
    {% endif %}
  </div>

  <div class="padding-vertical-2 padding-horizontal-1">
    {% if is_small %}
      <h6 class="text-uppercase {% if is_on_dark %}text-primary{% else %}text-white{% endif %}">{{ name }}</h6>
    {% else %}
      <h4 class="text-uppercase {% if is_on_dark %}text-primary{% else %}text-white{% endif %}">{{ name }}</h4>
    {% endif %}

    {% if title %}
      <div class="line width-25 bg-{{ color|default:"secondary" }} margin-vertical-half"></div>

      <div class="text-uppercase text-grey-for-white">
        {% if is_small %}<small>{% endif %}
        <p><strong>{{ title }}</strong></p>
        {% if description %}
          <p>{{ description }}</p>
        {% endif %}
        {% if is_small %}</small>{% endif %}
      </div>
    {% endif %}
  </div>
</div>
