/*
 * Retina Sprites for Compass  (modified for CoderDojoChi)
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
/* line 16, ../scss/modules/_utils.scss */
.container, .row, .page-class-detail .teachers .teacher {
  zoom: 1;
}
/* line 18, ../scss/modules/_utils.scss */
.container:before, .row:before, .page-class-detail .teachers .teacher:before, .container:after, .row:after, .page-class-detail .teachers .teacher:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 24, ../scss/modules/_utils.scss */
.container:after, .row:after, .page-class-detail .teachers .teacher:after {
  clear: both;
}

/* line 45, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 81, ../scss/_normalize.scss */
[hidden] {
  display: none;
}

/* line 94, ../scss/_normalize.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 106, ../scss/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 116, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 138, ../scss/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 152, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 157, ../scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 162, ../scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 167, ../scss/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 172, ../scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 177, ../scss/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 185, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 191, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 204, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 210, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 226, ../scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 239, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 247, ../scss/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 262, ../scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 270, ../scss/_normalize.scss */
small {
  font-size: 80%;
}

/* line 277, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 285, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 289, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 341, ../scss/_normalize.scss */
img {
  border: 0;
}

/* line 350, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 360, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* line 377, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 388, ../scss/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 402, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 417, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 427, ../scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 440, ../scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 453, ../scss/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 463, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0;
}

/* line 476, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 486, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 495, ../scss/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 504, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 515, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, ../scss/cdc.scss */
html {
  background: #f9f9f9;
}

/* line 8, ../scss/cdc.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-top: 50px;
  background: #f9f9f9;
}
@media (min-width: 768px) {
  /* line 8, ../scss/cdc.scss */
  body {
    padding-top: 110px;
  }
}
/* line 18, ../scss/cdc.scss */
body.page-donate {
  padding-top: 50px;
}
@media (min-width: 768px) {
  /* line 18, ../scss/cdc.scss */
  body.page-donate {
    padding-top: 110px;
  }
}
/* line 26, ../scss/cdc.scss */
body.page-cdc-admin {
  padding: 0;
}

/* line 32, ../scss/cdc.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

/* line 37, ../scss/cdc.scss */
.center-block {
  float: none;
}

/* line 44, ../scss/cdc.scss */
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

/* line 48, ../scss/cdc.scss */
.hidden {
  display: none;
}

/* line 52, ../scss/cdc.scss */
.shim {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #000;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  display: none;
}

/* line 64, ../scss/cdc.scss */
.min-height {
  min-height: 480px;
}

/* line 68, ../scss/cdc.scss */
.drop-caps {
  overflow: hidden;
}
/* line 72, ../scss/cdc.scss */
.drop-caps:first-letter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: Georgia;
}

/* line 83, ../scss/cdc.scss */
.ir, .signup-google, .login-google, .signup-email, .login-email {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

/* line 89, ../scss/cdc.scss */
.space-above {
  margin-top: 50px;
}

/* line 93, ../scss/cdc.scss */
hr {
  border: 1px dotted #ccc;
  border-width: 0 0 1px 0;
  margin: 0 0 10px;
}

/* line 100, ../scss/cdc.scss */
#id_human {
  display: none;
}

/* line 104, ../scss/cdc.scss */
.global-messages {
  position: absolute;
  width: 100%;
  z-index: 1033;
  top: -100px;
  left: 0;
  padding: 20px 0;
  text-align: center;
  background: #fff;
}
/* line 114, ../scss/cdc.scss */
.global-messages a {
  color: #87c448;
}
/* line 118, ../scss/cdc.scss */
.global-messages .global-messages-close {
  position: absolute;
  right: 20px;
  top: 5px;
  color: #888;
}
/* line 124, ../scss/cdc.scss */
.global-messages .global-messages-close:hover {
  color: #000;
}
/* line 128, ../scss/cdc.scss */
.global-messages .global-messages-close:active {
  outline: none;
}

/* -------------------------------------------------------------------------*/
/* Global Typography */
/* line 137, ../scss/cdc.scss */
h1, h2, h3, h4 {
  line-height: 1.3;
}
/* line 141, ../scss/cdc.scss */
h1 small, h2 small, h3 small, h4 small {
  color: #666;
  font-weight: normal;
  display: block;
  font-size: .6em;
}
/* line 147, ../scss/cdc.scss */
h1 small.light, h2 small.light, h3 small.light, h4 small.light {
  color: #999;
}
/* line 152, ../scss/cdc.scss */
h1.light, h2.light, h3.light, h4.light {
  font-weight: normal;
}

/* line 157, ../scss/cdc.scss */
.text-large {
  font-size: 1.2em;
}

/* line 161, ../scss/cdc.scss */
.text-heading {
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
}

/* -------------------------------------------------------------------------*/
/* Links / Buttons */
/* line 169, ../scss/cdc.scss */
a {
  color: #000;
  text-decoration: underline;
}
/* line 173, ../scss/cdc.scss */
a:hover {
  color: #87c448;
}
/* line 177, ../scss/cdc.scss */
a.unstyled {
  text-decoration: none;
}

/* line 182, ../scss/cdc.scss */
.signup-google {
  background-image: url('../images/global-sfa9cf3d5cc.png');
  background-position: 0 -923px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 53px;
  width: 305px;
  border-radius: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 182, ../scss/cdc.scss */
  .signup-google {
    background-image: url('../images/global-2x-s6512998c16.png');
    background-size: 305px 956px;
    background-position: 0 -903px;
    height: 53px;
    width: 305px;
  }
}

/* line 188, ../scss/cdc.scss */
.login-google {
  background-image: url('../images/global-sfa9cf3d5cc.png');
  background-position: 0 -568px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 53px;
  width: 305px;
  border-radius: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 188, ../scss/cdc.scss */
  .login-google {
    background-image: url('../images/global-2x-s6512998c16.png');
    background-size: 305px 956px;
    background-position: 0 -561px;
    height: 53px;
    width: 305px;
  }
}

/* line 194, ../scss/cdc.scss */
.signup-email {
  background-image: url('../images/global-sfa9cf3d5cc.png');
  background-position: 0 -865px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 53px;
  width: 305px;
  border-radius: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 194, ../scss/cdc.scss */
  .signup-email {
    background-image: url('../images/global-2x-s6512998c16.png');
    background-size: 305px 956px;
    background-position: 0 -847px;
    height: 53px;
    width: 305px;
  }
}

/* line 200, ../scss/cdc.scss */
.login-email {
  background-image: url('../images/global-sfa9cf3d5cc.png');
  background-position: 0 -510px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 53px;
  width: 305px;
  border-radius: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 200, ../scss/cdc.scss */
  .login-email {
    background-image: url('../images/global-2x-s6512998c16.png');
    background-size: 305px 956px;
    background-position: 0 -505px;
    height: 53px;
    width: 305px;
  }
}

/* line 206, ../scss/cdc.scss */
.btn-cdc {
  background: #87c448;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  line-height: 48px;
  margin: 0;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 24, ../scss/modules/_buttons.scss */
.btn-cdc.disabled, .btn-cdc[disabled] {
  border-color: #eee;
  background: #eee;
  color: #333;
}
/* line 30, ../scss/modules/_buttons.scss */
.btn-cdc.disabled.btn-cdc-inverse, .btn-cdc.disabled.btn-cdc-inverse:hover, .btn-cdc[disabled].btn-cdc-inverse, .btn-cdc[disabled].btn-cdc-inverse:hover {
  border-color: #eee;
  color: #666;
  background: #eee;
}
/* line 38, ../scss/modules/_buttons.scss */
.btn-cdc:not([disabled]):hover {
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
  color: #fff;
  text-decoration: none;
}
/* line 44, ../scss/modules/_buttons.scss */
.btn-cdc.btn-cdc-inverse {
  border-color: #87c448;
  color: #87c448;
  background: #fff;
}
/* line 50, ../scss/modules/_buttons.scss */
.btn-cdc.btn-cdc-inverse:hover {
  color: #87c448;
}
/* line 54, ../scss/modules/_buttons.scss */
.btn-cdc.btn-cdc-inverse.active {
  background: #87c448;
  color: #fff;
  border: 2px solid #fff;
}
/* line 61, ../scss/modules/_buttons.scss */
.btn-cdc.btn-cdc-danger {
  background: red;
  border: 2px solid red;
}
/* line 66, ../scss/modules/_buttons.scss */
.btn-cdc.btn-cdc-lg {
  font-size: 20px;
  height: 60px;
  line-height: 58px;
  padding: 0 16px;
}
/* line 73, ../scss/modules/_buttons.scss */
.btn-cdc.btn-cdc-sm {
  font-size: 14px;
  height: 36px;
  line-height: 34px;
  padding: 0 12px;
}
/* line 80, ../scss/modules/_buttons.scss */
.btn-cdc:focus, .btn-cdc:active {
  outline: none;
}

/* -------------------------------------------------------------------------*/
/* Global Layout */
/* line 213, ../scss/cdc.scss */
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 10px;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 219, ../scss/cdc.scss */
.container.registration {
  max-width: 650px;
}

/* line 224, ../scss/cdc.scss */
.main {
  margin: 30px 0 0;
}
@media (min-width: 480px) {
  /* line 224, ../scss/cdc.scss */
  .main {
    margin: 40px 0 0;
  }
}
/* line 232, ../scss/cdc.scss */
.page-homepage .main, .page-donate .main {
  margin: 0;
}

/* line 237, ../scss/cdc.scss */
.row, .page-class-detail .teachers .teacher {
  margin: 10px 0;
}

@media (min-width: 768px) {
  /* line 244, ../scss/cdc.scss */
  .half {
    width: 50%;
    float: left;
    padding-left: 10px;
  }
  /* line 249, ../scss/cdc.scss */
  .half:first-child {
    padding-left: 0;
    padding-right: 10px;
  }
}
/* line 1, ../scss/_topnav.scss */
.navbar-default {
  background-color: #87c448;
  border: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  /* line 11, ../scss/_topnav.scss */
  .navbar-default .navbar-nav {
    margin: 50px 0 10px;
  }
}
/* line 16, ../scss/_topnav.scss */
.navbar-default .donate a {
  font-weight: bold;
}
/* line 20, ../scss/_topnav.scss */
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 29, ../scss/_topnav.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: transparent;
  text-decoration: none;
  border-bottom: 2px solid #FFF;
  padding-bottom: 5px;
}
/* line 39, ../scss/_topnav.scss */
.navbar-default .navbar-collapse {
  border: none;
}
/* line 42, ../scss/_topnav.scss */
.navbar-default .navbar-collapse.in, .navbar-default .navbar-collapse.collapsing {
  background: #4f9551;
}
/* line 45, ../scss/_topnav.scss */
.navbar-default .navbar-collapse.in .navbar-nav > .active > a,
.navbar-default .navbar-collapse.in .navbar-nav > .active > a:hover,
.navbar-default .navbar-collapse.in .navbar-nav > .active > a:focus, .navbar-default .navbar-collapse.collapsing .navbar-nav > .active > a,
.navbar-default .navbar-collapse.collapsing .navbar-nav > .active > a:hover,
.navbar-default .navbar-collapse.collapsing .navbar-nav > .active > a:focus {
  border: none;
}
/* line 54, ../scss/_topnav.scss */
.navbar-default .brand {
  background-image: url('../images/global-sfa9cf3d5cc.png');
  background-position: 0 -626px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 56px;
  width: 105px;
  position: fixed;
  z-index: 1032;
  left: 10px;
  top: 2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 54, ../scss/_topnav.scss */
  .navbar-default .brand {
    background-image: url('../images/global-2x-s6512998c16.png');
    background-size: 305px 956px;
    background-position: 0 -616px;
    height: 56px;
    width: 105px;
  }
}
@media (min-width: 768px) {
  /* line 54, ../scss/_topnav.scss */
  .navbar-default .brand {
    background-image: url('../images/global-sfa9cf3d5cc.png');
    background-position: 0 -760px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    height: 100px;
    width: 188px;
    top: auto;
    bottom: -15px;
    left: 0;
    position: absolute;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi) {
  /* line 54, ../scss/_topnav.scss */
  .navbar-default .brand {
    background-image: url('../images/global-2x-s6512998c16.png');
    background-size: 305px 956px;
    background-position: 0 -745px;
    height: 100px;
    width: 188px;
  }
}

@media (min-width: 768px) {
  /* line 74, ../scss/_topnav.scss */
  .navbar-default.shrink .navbar-nav {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  /* line 79, ../scss/_topnav.scss */
  .navbar-default.shrink .brand {
    background-image: url('../images/global-sfa9cf3d5cc.png');
    background-position: 0 -687px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    height: 68px;
    width: 127px;
    bottom: -10px;
    top: auto;
    left: 10px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi) {
  /* line 79, ../scss/_topnav.scss */
  .navbar-default.shrink .brand {
    background-image: url('../images/global-2x-s6512998c16.png');
    background-size: 305px 956px;
    background-position: 0 -675px;
    height: 68px;
    width: 127px;
  }
}

/* line 88, ../scss/_topnav.scss */
.navbar-default .note {
  display: none;
}
@media (min-width: 768px) {
  /* line 93, ../scss/_topnav.scss */
  .navbar-default .note {
    font-size: 14px;
    padding-top: 20px;
    color: #FFF;
    background-color: #1a676a;
  }
  /* line 99, ../scss/_topnav.scss */
  .navbar-default .note a {
    color: #FFF;
  }
}

/* line 1, ../scss/_footer.scss */
footer {
  margin: 80px 0 0;
  color: #666;
}
/* line 7, ../scss/_footer.scss */
footer p {
  font-size: .9em;
  height: 60px;
  line-height: 60px;
}
/* line 13, ../scss/_footer.scss */
footer a {
  display: inline-block;
  color: #333;
  text-decoration: none;
  margin-left: 10px;
}
/* line 19, ../scss/_footer.scss */
footer a:hover {
  text-decoration: underline;
}

/* line 1, ../scss/_home.scss */
.hero {
  background-color: #1a676a;
}
/* line 4, ../scss/_home.scss */
.hero .carousel-control {
  background-image: none;
}

/* line 20, ../scss/_home.scss */
.page-homepage .homepage-about {
  padding: 10px 0 50px;
  font-size: 20px;
  line-height: 1.5;
}
/* line 25, ../scss/_home.scss */
.page-homepage .homepage-about h1 {
  background: #87c448;
  color: #fff;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}
/* line 36, ../scss/_home.scss */
.page-homepage .block-cta a {
  text-decoration: none;
}
/* line 40, ../scss/_home.scss */
.page-homepage .block-cta h1 {
  font-size: 48px;
  text-align: center;
}
/* line 45, ../scss/_home.scss */
.page-homepage .block-cta p {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
}
/* line 51, ../scss/_home.scss */
.page-homepage .block-cta .icon-action span {
  margin: 0 auto -70px;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  display: block;
}
@media (min-width: 480px) {
  /* line 51, ../scss/_home.scss */
  .page-homepage .block-cta .icon-action span {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    margin: 0 auto -30px;
  }
}
/* line 62, ../scss/_home.scss */
.page-homepage .block-cta .icon-action span.icon-volunteer {
  margin: 36px auto -50px;
}
@media (min-width: 480px) {
  /* line 62, ../scss/_home.scss */
  .page-homepage .block-cta .icon-action span.icon-volunteer {
    margin: 36px auto 46px;
  }
}

/* line 74, ../scss/_home.scss */
.padded-p > p {
  margin: 0 0 20px;
  line-height: 24px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

/* line 82, ../scss/_home.scss */
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

/* line 91, ../scss/_home.scss */
.flex-video.widescreen {
  padding-bottom: 57.25%;
}

/* line 95, ../scss/_home.scss */
.flex-video.vimeo {
  padding-top: 0;
}

/* line 99, ../scss/_home.scss */
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  /* line 110, ../scss/_home.scss */
  .flex-video {
    padding-top: 0;
  }
}
/* line 1, ../scss/_donate.scss */
.page-donate {
  padding-top: 100px;
}
/* line 4, ../scss/_donate.scss */
.page-donate .hero {
  background-color: #87c448;
  padding-top: 80px;
  padding-bottom: 50px;
  margin-bottom: 40px;
  position: relative;
  color: #fff;
}
/* line 12, ../scss/_donate.scss */
.page-donate .hero .title {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: #fff;
}
/* line 19, ../scss/_donate.scss */
.page-donate .hero:after {
  position: absolute;
  content: '';
  bottom: -40px;
  left: 50%;
  margin-left: -80px;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 40px solid #87c448;
}
/* line 31, ../scss/_donate.scss */
.page-donate .amount-buttons {
  margin: 40px auto 10px;
  text-align: center;
}
/* line 35, ../scss/_donate.scss */
.page-donate .amount-buttons .btn-cdc {
  width: 100px;
  margin: 0 0 10px;
}
/* line 41, ../scss/_donate.scss */
.page-donate .amount-actual {
  text-align: center;
  display: none;
}
/* line 46, ../scss/_donate.scss */
.page-donate .amount-actual .dollar {
  font-size: 30px;
  color: #eee;
  vertical-align: top;
  margin: 0 3px 0 -22px;
  display: inline-block;
}
/* line 54, ../scss/_donate.scss */
.page-donate .amount-actual .form-control {
  width: 100px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
/* line 64, ../scss/_donate.scss */
.page-donate .personal-info {
  width: 100%;
  margin: auto;
  display: none;
}
@media (min-width: 768px) {
  /* line 64, ../scss/_donate.scss */
  .page-donate .personal-info {
    width: 50%;
  }
}
/* line 74, ../scss/_donate.scss */
.page-donate .btn-do-it {
  width: 150px;
  margin: 30px auto 0;
  display: block;
}
/* line 80, ../scss/_donate.scss */
.page-donate input[type="image"] {
  display: none;
}

/* line 2, ../scss/_login.scss */
.page-login .main .container {
  max-width: 650px;
}

/* -------------------------------------------------------------------------*/
/* Modules */
/* line 275, ../scss/cdc.scss */
.panels {
  display: inline;
}

/* line 279, ../scss/cdc.scss */
.panel {
  height: 100%;
  width: 100%;
  display: table;
}

/* line 285, ../scss/cdc.scss */
.panel-content {
  display: table-cell;
  vertical-align: middle;
}
/* line 289, ../scss/cdc.scss */
.splash .panel-content {
  vertical-align: auto;
}

/* line 294, ../scss/cdc.scss */
.hero-image {
  min-width: 100%;
}

/* line 299, ../scss/cdc.scss */
form p {
  margin: .5em 0;
}
/* line 304, ../scss/cdc.scss */
form .form-control[readonly] {
  background-color: #fff;
  cursor: text;
}

/* line 310, ../scss/cdc.scss */
.errorlist {
  padding: 0;
  margin: 0;
}
/* line 314, ../scss/cdc.scss */
.errorlist li {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  font-size: .9em;
  margin: .25em 0;
}

/* line 327, ../scss/cdc.scss */
a.icon-action {
  text-decoration: none;
}
/* line 330, ../scss/cdc.scss */
a.icon-action:hover {
  text-decoration: none;
}

/* line 335, ../scss/cdc.scss */
.icon-volunteer {
  color: #1a676a;
  font-size: 170px;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  margin: -30px auto -50px;
  display: block;
}
/* line 342, ../scss/cdc.scss */
.icon-volunteer:hover {
  color: #87c448;
}

/* line 347, ../scss/cdc.scss */
.icon-donation {
  background-image: url('../images/global-sfa9cf3d5cc.png');
  background-position: 0 -255px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 250px;
  width: 250px;
  display: block;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  margin: -30px auto -90px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 347, ../scss/cdc.scss */
  .icon-donation {
    background-image: url('../images/global-2x-s6512998c16.png');
    background-size: 305px 956px;
    background-position: 0 -253px;
    height: 250px;
    width: 250px;
  }
}
/* line 353, ../scss/cdc.scss */
.icon-donation:hover {
  background-image: url('../images/global-sfa9cf3d5cc.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 250px;
  width: 250px;
  display: block;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 353, ../scss/cdc.scss */
  .icon-donation:hover {
    background-image: url('../images/global-2x-s6512998c16.png');
    background-size: 305px 956px;
    background-position: 0 0;
    height: 250px;
    width: 250px;
  }
}

/* -------------------------------------------------------------------------*/
/* Pages */
/* line 367, ../scss/cdc.scss */
.page-auth form {
  margin-bottom: 20px;
}
/* line 373, ../scss/cdc.scss */
.page-auth .form-horizontal .form-control {
  width: 300px;
  float: left;
}
/* line 378, ../scss/cdc.scss */
.page-auth .form-horizontal .control-label {
  float: left;
  margin-right: 20px;
  width: 150px;
}

/* line 390, ../scss/cdc.scss */
.page-welcome .role {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
  height: 200px;
  margin-bottom: 10px;
}
/* line 397, ../scss/cdc.scss */
.page-welcome .role button {
  height: 100%;
  width: 100%;
  font-size: 2em;
}
/* line 402, ../scss/cdc.scss */
.page-welcome .role button small {
  display: block;
  font-size: .5em;
}
/* line 407, ../scss/cdc.scss */
.page-welcome .role button i {
  font-size: 2em;
  display: block;
  margin-top: 20px;
}
@media (min-width: 768px) {
  /* line 390, ../scss/cdc.scss */
  .page-welcome .role {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 417, ../scss/cdc.scss */
  .page-welcome .role:last-child {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}
/* line 423, ../scss/cdc.scss */
.page-welcome .role:hover {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* line 431, ../scss/cdc.scss */
.dojo-profile {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  /* line 431, ../scss/cdc.scss */
  .dojo-profile {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 438, ../scss/cdc.scss */
.dojo-profile .avatar {
  width: 100%;
}

/* line 443, ../scss/cdc.scss */
.dojo-content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  /* line 443, ../scss/cdc.scss */
  .dojo-content {
    width: 66.10169%;
    float: right;
    margin-right: 0;
    margin-bottom: 0;
  }
}

/* line 455, ../scss/cdc.scss */
.upcoming-sessions {
  margin: 20px 0;
}
@media (min-width: 768px) {
  /* line 455, ../scss/cdc.scss */
  .upcoming-sessions {
    margin: 40px 0;
  }
}
/* line 463, ../scss/cdc.scss */
.page-homepage .upcoming-sessions {
  margin-top: 0;
}

/* line 468, ../scss/cdc.scss */
.upcoming-session {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
/* line 475, ../scss/cdc.scss */
.upcoming-session .session-shim {
  padding: 40px 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
}
@media (min-width: 768px) {
  /* line 475, ../scss/cdc.scss */
  .upcoming-session .session-shim {
    padding: 60px 0;
  }
}
/* line 487, ../scss/cdc.scss */
.upcoming-session .date {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 1;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
}
/* line 495, ../scss/cdc.scss */
.upcoming-session .date .day {
  margin: 10px auto 0;
  padding-top: 5px;
  width: 50%;
}
@media (min-width: 768px) {
  /* line 487, ../scss/cdc.scss */
  .upcoming-session .date {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 0;
    border-bottom: none;
    font-size: 16px;
    padding: 0;
  }
  /* line 509, ../scss/cdc.scss */
  .upcoming-session .date .day {
    font-weight: bold;
    font-size: 46px;
    display: block;
    border-top: 1px solid #000;
  }
}
/* line 518, ../scss/cdc.scss */
.upcoming-session .description {
  padding: 0 10px;
}
/* line 522, ../scss/cdc.scss */
.upcoming-session .description .title {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 0 10px;
  text-align: center;
}
/* line 529, ../scss/cdc.scss */
.upcoming-session .description p {
  margin: 0 0 10px;
}
@media (min-width: 768px) {
  /* line 518, ../scss/cdc.scss */
  .upcoming-session .description {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 536, ../scss/cdc.scss */
  .upcoming-session .description .title {
    text-align: left;
    font-size: 22px;
  }
}
/* line 543, ../scss/cdc.scss */
.upcoming-session .actions {
  text-align: center;
}
/* line 547, ../scss/cdc.scss */
.upcoming-session .actions .btn-cdc {
  margin-top: 10px;
}
@media (min-width: 768px) {
  /* line 543, ../scss/cdc.scss */
  .upcoming-session .actions {
    width: 15.25424%;
    float: right;
    margin-right: 0;
  }
  /* line 554, ../scss/cdc.scss */
  .upcoming-session .actions .btn-cdc {
    margin-top: 20px;
  }
}

/* line 563, ../scss/cdc.scss */
.calendar {
  margin-top: 20px;
}
/* line 567, ../scss/cdc.scss */
.calendar .controls {
  margin-bottom: 10px;
  text-align: center;
}
/* line 572, ../scss/cdc.scss */
.calendar table {
  color: #999;
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
/* line 579, ../scss/cdc.scss */
.calendar table th {
  border: 1px solid #ddd;
  font-size: .9em;
  color: #999;
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
}
/* line 588, ../scss/cdc.scss */
.calendar table td {
  border: 1px solid #ddd;
  height: 5em;
  width: 5em;
  padding: 5px;
  vertical-align: top;
}
/* line 596, ../scss/cdc.scss */
.calendar table caption {
  font-size: 300%;
  font-style: italic;
}
/* line 602, ../scss/cdc.scss */
.calendar tbody .month {
  display: none;
}
/* line 608, ../scss/cdc.scss */
.calendar .filled a {
  font-size: .9em;
  background: #4f9752;
  color: #fff;
  padding: 4px;
  margin: 5px 0;
  display: block;
}
/* line 616, ../scss/cdc.scss */
.calendar .filled a.unavailable {
  background-color: #999;
}
/* line 626, ../scss/cdc.scss */
.calendar .today {
  font-weight: bold;
}
/* line 630, ../scss/cdc.scss */
.calendar .noday {
  background: #f8f8f8;
}

/* line 11, ../scss/_class-detail.scss */
.page-class-detail .teachers {
  overflow: hidden;
  margin-bottom: 40px;
}
/* line 15, ../scss/_class-detail.scss */
.page-class-detail .teachers .teacher {
  margin: 0 0 10px 0;
}
@media (min-width: 768px) {
  /* line 19, ../scss/_class-detail.scss */
  .page-class-detail .teachers .teacher .image {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 26, ../scss/_class-detail.scss */
.page-class-detail .teachers .teacher .image img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  /* line 32, ../scss/_class-detail.scss */
  .page-class-detail .teachers .teacher .info {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}
/* line 38, ../scss/_class-detail.scss */
.page-class-detail .teachers .teacher .info .subtitle {
  margin: 0 0 30px;
}
/* line 45, ../scss/_class-detail.scss */
.page-class-detail .students {
  width: 100%;
}
/* line 48, ../scss/_class-detail.scss */
.page-class-detail .students td {
  padding: 5px;
}
/* line 55, ../scss/_class-detail.scss */
.page-class-detail .class-detail-sidebar-right {
  color: #666;
  background: #FFF;
  border: 1px solid #CCC;
  padding-top: 15px;
}
/* line 62, ../scss/_class-detail.scss */
.page-class-detail .add-another {
  display: block;
  margin: 10px 0;
}
/* line 67, ../scss/_class-detail.scss */
.page-class-detail .map {
  margin: 20px 0 40px;
}
/* line 70, ../scss/_class-detail.scss */
.page-class-detail .map .static-map {
  display: block;
  width: 100%;
}
/* line 74, ../scss/_class-detail.scss */
.page-class-detail .map .static-map img {
  width: 100%;
}
/* line 80, ../scss/_class-detail.scss */
.page-class-detail .upcoming-class {
  padding: 25px 0;
  position: relative;
  border-top: 1px solid #87c448;
  font-size: 14px;
  line-height: 1.3;
}
/* line 88, ../scss/_class-detail.scss */
.page-class-detail .upcoming-class .date {
  position: absolute;
  left: 0;
  top: 20px;
  text-align: center;
  width: 40px;
  margin-right: 10px;
}
/* line 97, ../scss/_class-detail.scss */
.page-class-detail .upcoming-class .date strong {
  font-size: 24px;
}
/* line 102, ../scss/_class-detail.scss */
.page-class-detail .upcoming-class a {
  padding-left: 55px;
  display: inline-block;
  text-transform: uppercase;
}
/* line 110, ../scss/_class-detail.scss */
.page-class-detail .social-sharing li {
  padding: 0;
}

/* line 640, ../scss/cdc.scss */
.mentors {
  overflow: hidden;
  padding-top: 10px;
}
/* line 644, ../scss/cdc.scss */
.mentors .mentor {
  width: 44.44444%;
  float: left;
  margin-bottom: 20px;
  position: relative;
}
/* line 66, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.mentors .mentor:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.mentors .mentor:nth-child(2n + 2) {
  margin-left: 55.55556%;
  margin-right: -100%;
  clear: none;
}
@media (min-width: 480px) {
  /* line 644, ../scss/cdc.scss */
  .mentors .mentor {
    width: 28.57143%;
    float: left;
  }
  /* line 66, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  .mentors .mentor:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  .mentors .mentor:nth-child(3n + 2) {
    margin-left: 35.71429%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  .mentors .mentor:nth-child(3n + 3) {
    margin-left: 71.42857%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 768px) {
  /* line 644, ../scss/cdc.scss */
  .mentors .mentor {
    width: 16.66667%;
    float: left;
    margin-bottom: 30px;
  }
  /* line 66, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  .mentors .mentor:nth-child(5n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  .mentors .mentor:nth-child(5n + 2) {
    margin-left: 20.83333%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  .mentors .mentor:nth-child(5n + 3) {
    margin-left: 41.66667%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  .mentors .mentor:nth-child(5n + 4) {
    margin-left: 62.5%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  .mentors .mentor:nth-child(5n + 5) {
    margin-left: 83.33333%;
    margin-right: -100%;
    clear: none;
  }
}
/* line 659, ../scss/cdc.scss */
.page-class-detail .mentors .mentor, .page-meeting-detail .mentors .mentor {
  width: 44.44444%;
  float: left;
  margin-bottom: 20px;
}
/* line 66, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.page-class-detail .mentors .mentor:nth-child(2n + 1), .page-meeting-detail .mentors .mentor:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
.page-class-detail .mentors .mentor:nth-child(2n + 2), .page-meeting-detail .mentors .mentor:nth-child(2n + 2) {
  margin-left: 55.55556%;
  margin-right: -100%;
  clear: none;
}
@media (min-width: 480px) {
  /* line 659, ../scss/cdc.scss */
  .page-class-detail .mentors .mentor, .page-meeting-detail .mentors .mentor {
    width: 28.57143%;
    float: left;
  }
  /* line 66, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  .page-class-detail .mentors .mentor:nth-child(3n + 1), .page-meeting-detail .mentors .mentor:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  .page-class-detail .mentors .mentor:nth-child(3n + 2), .page-meeting-detail .mentors .mentor:nth-child(3n + 2) {
    margin-left: 35.71429%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
  .page-class-detail .mentors .mentor:nth-child(3n + 3), .page-meeting-detail .mentors .mentor:nth-child(3n + 3) {
    margin-left: 71.42857%;
    margin-right: -100%;
    clear: none;
  }
}
/* line 669, ../scss/cdc.scss */
.mentors .mentor img {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
          filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
/* line 680, ../scss/cdc.scss */
.mentors .mentor img:hover {
  -webkit-filter: none;
          filter: none;
}
/* line 685, ../scss/cdc.scss */
.mentors .mentor .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #000;
  background: rgba(0, 0, 0, 0.65);
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
}

/* line 2, ../scss/_admin.scss */
.session .title {
  font-size: 25px;
  display: block;
  text-transform: uppercase;
}
/* line 8, ../scss/_admin.scss */
.session .name .title {
  font-size: 22px;
}
/* line 12, ../scss/_admin.scss */
.session .subtitle {
  display: block;
}
/* line 16, ../scss/_admin.scss */
.session a {
  text-decoration: none;
}

/*# sourceMappingURL=cdc.css.map */