# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# End of https://www.gitignore.io/api/django

# Created by https://www.gitignore.io/api/elasticbeanstalk

### ElasticBeanstalk ###

.elasticbeanstalk/
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.tmp-deploy

# End of https://www.gitignore.io/api/elasticbeanstalk

### Miscellaneous ###

*.DS_Store
Thumbs.db
/static
*.sql

# End of Miscellaneous
