# ------------------------------
# Miscellaneous
# ------------------------------
*.DS_Store
_internal/
src/
static/avatars/**/*
coderdojochi/static/avatars/**/*

# ------------------------------
# Grunt/Bower
# ------------------------------
.sass-cache/
node_modules/

# ------------------------------
# Django
# ------------------------------
*.log
*.pot
*.pyc
local_settings.py
test_settings.py
production_settings.py

# ------------------------------
# Python
# ------------------------------
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist


# build



eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Django Development
*.bak
*.sqlite3
test_settings.py

local_settings.py
/media

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#############################
# docker deployment and aws #
#############################
.elasticbeanstalk
.tmp-deploy

*.sql
