[tool.isort]
profile = "black"
line_length = 79
multi_line_output = 3
include_trailing_comma = true
combine_as_imports = true
force_grid_wrap = 2
use_parentheses = true
remove_redundant_aliases = true
known_django = "django"
sections = "FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER"
skip_gitignore = true
skip = [".gitignore", ".dockerignore", ".venv"]
skip_glob = "**/migrations/*.py"


[tool.black]
line_length = 79
target-version = ['py311']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | migrations
  )/

)
'''

[tool.poetry]
package-mode = false
name = "we-all-code"
description = ""
version = "0.0.1"
license = "MIT"
readme = "README.md"
repository = "https://github.com/weallcode/website"
homepage = "https://github.com/weallcode/website"
authors = ["Ali Karbassi <ali@weallcode.org>"]

[tool.poetry.dependencies]
python = "3.11.9"
arrow = "^1.3.0"
boto3 = "^1.35.36"
django = "^5.1"
django-active-link = "^0.2.2"
django-allauth = {extras = ["socialaccount"], version = "^65.0.2"}
django-anymail = "^11.1"
django-appconf = "^1.0.6"
django-bootstrap3 = "^24.3"
django-cleanup = "^9.0.0"
django-common-helpers = "^0.9.2"
django-cron = "^0.6.0"
django-debug-toolbar = "^4.4.6"
django-environ = "^0.11.2"
django-fullurl = "^1.4"
django-heroku = "^0.3.1"
django-html5 = "^1.0.0"
django-import-export = "^4.1.1"
django-loginas = "^0.3.11"
django-meta = "^2.4.2"
django-nose = "^1.4.7"
django-recaptcha = "^4.0.0"
django-stdimage = "^6.0.2"
django-storages = "^1.14"
factory-boy = "^3.3.1"
gunicorn = "^23.0.0"
icalendar = "^6.0.0"
invoke = "^2.2.0"
json-logging-py = "^0.2"
mock = "^5.1.0"
pillow = "^10.4.0"
psycopg = {extras = ["binary"], version = "^3.2.1"}
sentry-sdk = "^2.17.0"
