arrow==0.7.0
boto==2.39.0
dealer==2.0.5
django-allauth==0.25.2
django-appconf==1.0.1
django-bootstrap3==7.0.1
django-cleanup==0.4.2
django-common-helpers==0.8.0
django-cron==0.4.6
django-debug-toolbar==1.4
django-html5==1.0.0
django-loginas==0.1.9
django-paypal==0.3.2
django-stdimage==2.3.2
django-storages==1.4.1
Django==1.9.6
djrill==2.0
gunicorn==19.4.5
httplib2==0.9.2
icalendar==3.9.2
json-logging-py==0.2
oauth2==1.9.0.post1
oauthlib==1.0.3
Pillow==3.2.0
psycopg2==2.6.1
python-dateutil==2.5.2
python-memcached==1.57
python-openid==2.2.5
pytz==2016.3
requests-oauthlib==0.6.1
requests==2.9.1
six==1.10.0
sqlparse==0.1.19
