Django==1.7.1
Pillow==2.4.0
django-appconf==0.6
django-avatar==2.0
django-bootstrap3==4.7.0
django-contact-form==1.0
django-html5==1.0.0
-e git://github.com/CoderDojoChi/django-registration.git@6df2c0b8af68ccff8f8916680233e1bf2b26600b#egg=django_registration-master
django-social-auth==0.7.28
djrill==1.2.0
httplib2==0.9
oauth2==1.5.211
python-openid==2.2.5
pytz==2014.4
requests==2.5.0
six==1.7.2
wsgiref==0.1.2
arrow==0.4.4
