{% extends "coderdojochi/_base.html" %}

{% load static i18n humanize coderdojochi_extras %}

{% block title %}{% if object.course.code %}{{ object.course.code }}: {% endif %}{{ object.course.title }} on {{ object.start_date|date }} | {{ block.super }}{% endblock %}
{% block meta_facebook_title %}{% if object.course.code %}{{ object.course.code }}: {% endif %}{{ object.course.title }} on {{ object.start_date|date }} | {{ block.super }}{% endblock %}
{% block meta_twitter_title %}{% if object.course.code %}{{ object.course.code }}: {% endif %}{{ object.course.title }} on {{ object.start_date|date }} | {{ block.super }}{% endblock %}

{% block meta_description %}{{ object.course.description|striptags|safe }}{% endblock %}
{% block meta_facebook_description %}{{ object.course.description|striptags|safe }}{% endblock %}
{% block meta_twitter_description %}{{ object.course.description|striptags|safe }}{% endblock %}



{% block body_class %}page-class-detail{% endblock %}

{% block contained_content %}

<h3 class="title text-primary">Class Details & Enrollment</h3>

<section class="margin-top-2">

  {% if object.external_enrollment_url %}

  <p><a href="{{ object.external_enrollment_url }}" class="button large secondary">Enroll now</a></p>

  {% else %}

  {% if spots_remaining < 1 %}

  <p class="subtitle">There are currently no available spots for this class. Please enroll in an <a href="{% url 'weallcode-programs' %}">upcoming class.</a></p>

  {% else %}

  {% if students %}

  {% if spots_remaining > 0 %}

  <p class="subtitle">Enroll Student{{ students|pluralize }}</p>

  {% else %}

  <p class="subtitle">There are currently no available spots for this class. Please join the waitlist below and/or <a href="{% url 'weallcode-programs' %}#classes">find another upcoming class.</a></p>

  {% endif %}

  <table class="students">
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{ student.first_name }} {{ student.last_name|slice:":1" }}</td>
        <td class="text-right">
          {% student_session_order_count student=student session=session as student_is_enrolled %}
          {% if spots_remaining > 0 or student_is_enrolled %}
          {% student_register_link student session %}
          {% else %}
          <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="waitlist" value="student">
            <input type="hidden" name="account_id" value="{{ student.id }}">
            {% if student in object.waitlist_students.all %}
            <input type="hidden" name="remove" value="true">
            <button class="button tertiary small">Remove from Waitlist</button>
            {% else %}
            <input type="hidden" name="remove" value="false">
            <button class="button secondary small">Add to Waitlist</button>
            {% endif %}
          </form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <small class="add-another"><a href="{% url 'welcome' %}?next={{ request.path }}&enroll=True">Add another student</a></small>

  {% else %}

  <p><a href="{% url 'welcome' %}?next={{ request.path }}&enroll=True" class="button large secondary">Enroll</a></p>

  {% endif %}

  {% endif %}

  {% endif %}
</section>

<div class="class-info-box grid-x text-white margin-top-2">
  <div class="cell medium-8 bg-dark-blue padding-2">
    <h2>{% if object.course.code %}{{ object.course.code }}: {% endif%}{{ object.course.title }}</h2>
    <p>{{ object.course.description|safe }}</p>

    {% if object.additional_info %}
    <p>Additional Info:<br>{{ object.additional_info|safe }}</p>
    {% endif %}

    {% if object.online_video_link %}
    <p><strong>This will be a live online class via Zoom.</strong></p>

    <h3>Technical Requirements</h3>
    <p><strong>Computer:</strong> PC (Windows XP or newer), Mac (OSX 10.7 or newer), or Chromebook with at least a 2GHz processor and 2GB of RAM (4GB of RAM is recommended).</p>

    <p><strong>Internet:</strong> At least 1.2Mbps download and 600Kbps upload speeds. Go to <a href="https://fast.com/" target="_blank">fast.com</a> to check your speed.</p>

    <p><strong>Webcam:</strong> Many laptops have an integrated webcam.</p>

    <p><strong>Microphone and Speakers:</strong> We highly recommend headphones with a built-in microphone, however any microphone and speakers will work in a quiet room.</p>

    <h3>How To Join Online Class</h3>
    <p>About 10 minutes before class time, click the following link to join.</p>
    <p><a href="{{ object.online_video_link }}">{{ object.online_video_link }}</a></p>

    <p><strong>Meeting ID:</strong> {{ object.online_video_meeting_id }}<br>
      <strong>Password:</strong> {{ object.online_video_meeting_password }}</p>

    {% endif %}
  </div>

  <div class="cell medium-4 bg-primary padding-2">
    <h5 class="text-uppercase">{{ object.start_date|date }}</h5>
    <p>{{ object.start_date|time }} to {{ object.end_date|time }}</p>
    <p><i class="fa fa-calendar"></i> <a class="text-white" href="{{object.get_calendar_url }}">Add to your calendar</a></p>

    <h5 class="text-uppercase margin-top-2">{{ object.location.name }}</h5>

    {% if object.location.address %}

    <p><a target="_blank" class="static-map text-white" href="https://www.google.com/maps/preview?q={{ object.location.address }}, {{ object.location.city }}, {{ object.location.state }} {{ object.location.zip }}">{{ object.location.address }}, {{ object.location.city }}, {{ object.location.state }} {{ object.location.zip }}</a></p>

    {% else %}

    <p><a href="{{ object.online_video_link }}" class="text-white text-underline">Join Zoom Meeting</a></p>

    <p>
      Meeting ID: {{ object.online_video_meeting_id }}<br>
      Password: {{ object.online_video_meeting_password }}
    </p>

    {% endif %}


    <h5 class="text-uppercase margin-top-2">Who</h5>
    {% if object.gender_limitation %}
    <p><strong>This class is limited to {{ object.gender_limitation }}s only.</strong></p>
    {% endif %}

    {% if object.gender_limitation %}
    <p>{{ object.gender_limitation|title }}s between {{ object.minimum_age }} and {{ object.maximum_age }} of age. No computer skills required.</p>
    {% else %}
    <p>Anyone between {{ object.minimum_age }} and {{ object.maximum_age }} of age. No computer skills required.</p>
    {% endif %}


    <h5 class="text-uppercase margin-top-2">Cost</h5>
    {% if object.minimum_cost or object.maximm_cost %}
    <p>${{ object.minimum_cost | floatformat:-2 }} – ${{ object.maximim_cost | floatformat:-2 }}</p>
    {% elif object.cost > 0 %}
    <p>${{ object.cost | floatformat:-2 }}</p>
    {% else %}
    <p>Free to attend!</p>
    {% endif %}

  </div>
</div>

{% if object.instructor %}
<section class="margin-top-3">
  <h3 class="title text-secondary">About the instructor</h3>
  <div class="grid-x instructor grid-margin-x grid-margin-y margin-top-2">
    <div class="cell small-4 medium-3 image">
      <a href="{% url 'mentor-detail' object.instructor.id %}">
        <img class="width-100 thumbnail" src="{{ object.instructor.get_avatar.thumbnail.url }}" alt="Photo of {{ object.instructor }}">
      </a>
    </div>
    <div class="cell small-8 medium-9 padding-top-1">
      <h4 class="subtitle">{{ object.instructor }}</h4>
      <p>{{ object.instructor.bio|truncatechars_html:120 }}</p>
      <p><a href="{% url 'mentor-detail' object.instructor.id %}">Learn more about {{ object.instructor.first_name }}.</a></p>
    </div>
  </div>
</section>
{% endif %}

{% if active_mentors %}
<section class="margin-top-3">
  <h3 class="title text-secondary">Meet the mentors</h3>
  <div class="grid-x mentors grid-margin-x grid-margin-y">
    {% for mentor in active_mentors %}
    {% if mentor.is_public == True %}
    <div class="cell small-4 medium-3">
      {% include "weallcode/snippets/team_member.html" with is_small=True name=mentor.full_name image=mentor.get_avatar.thumbnail %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
{% endif %}

{% endblock %}
