{% extends "avatar/base.html" %}
{% load i18n avatar_tags bootstrap3 %}
{% load url from future %}

{% block content %}
<div class="row">
    <div class="col-xs-6">
        <p>{% trans "Current avatar:" %}</p>
        <img src="{% avatar_url user 300 %}" style="width: 100%;">
    </div>
    <div class="col-xs-6">
        {% if not avatars %}
	        <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
	    {% endif %}
	    <p>{% trans "Upload new avatar:" %}</p>
	    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
	        {% bootstrap_form upload_avatar_form layout="inline" %}
	        <p>{% csrf_token %}<input type="submit" class="btn-cdc" value="{% trans "Upload" %}" /></p>
	    </form>
    </div>
</div>
{% endblock %}