{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}Update Avatar{% endblock %}</title>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600|Quicksand:300,400,700' rel='stylesheet' type='text/css'>
        <link href="{% static "css/vendor/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/cdc.css" %}" rel="stylesheet">
        <style>
        body {
            padding: 10px 0 20px;
        }
        </style>
    </head>
    <body>
        {% include "_messages.html" %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <script src="{% static "js/vendor/jquery.min.js" %}"></script>
        <script src="{% static "js/cdc.js" %}"></script>
    </body>
</html>
