{
  "option_settings": [
    {
      "option_name": "POSTGRES_HOST",
      "value": "<POSTGRES_HOST>"
    },
    {
      "option_name": "POSTGRES_PORT",
      "value": "<POSTGRES_PORT>"
    },
    {
      "option_name": "POSTGRES_DB",
      "value": "<POSTGRES_DB>"
    },
    {
      "option_name": "POSTGRES_USER",
      "value": "<POSTGRES_USER>"
    },
    {
      "option_name": "POSTGRES_PASSWORD",
      "value": "<POSTGRES_PASSWORD>"
    }
  ]
}
