{% extends "weallcode/_base.html" %}
{% load i18n bootstrap3 socialaccount %}

{% block title_placeholder %}Login{% endblock %}

{% block body_class %}page-login{% endblock %}

{% block small_content %}

<h1 class="title">Login</h1>

<div class="grid-x">
    <form action="{{ app_path }}" method="post" id="login-form" class="cell medium-6 form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="hidden" name="next" value="{{ next }}" />
        <button class="button" type="submit">
            {% trans 'Log in' %} <i class="fas fa-chevron-right margin-left-1"></i>
        </button>
    </form>
    <div class="cell medium-5 medium-offset-1 padding-top-1">
        <a href="{% provider_login_url "google" %}" class="button secondary">
            <i class="margin-right-1 fab fa-google"></i> {% trans "Sign in with Google" %} <i class="fas fa-chevron-right margin-left-1"></i>
        </a>
        <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="button secondary">
            <i class="margin-right-1 fab fa-facebook"></i> {% trans "Sign in with Facebook" %} <i class="fas fa-chevron-right margin-left-1"></i>
        </a>
        <p>{% trans "Not yet a member" %}? <a href="{% url 'account_signup' %}">{% trans "Register now" %}</a>!</p>
        <p>{% trans "Forgot your password" %}? <a href="{% url 'account_reset_password' %}">{% trans "Reset it" %}</a>!</p>
    </div>
</div>
{% endblock %}


{% block extra_script %}
{% providers_media_js %}
<script>
    $(function() {
        $('#id_username').focus();
    });
</script>
{% endblock %}
