$sprite-global-2x: (
	icon-donation-hover: (
		offset-x: 0px,
		offset-y: 0px,
		width: 500px,
		height: 500px,
		total-width: 1620px,
		total-height: 927px,
		image: "../images/sprites/sprite-global@2x.png"
	),
	icon-donation: (
		offset-x: -505px,
		offset-y: 0px,
		width: 500px,
		height: 500px,
		total-width: 1620px,
		total-height: 927px,
		image: "../images/sprites/sprite-global@2x.png"
	),
	login-email: (
		offset-x: -381px,
		offset-y: -505px,
		width: 610px,
		height: 106px,
		total-width: 1620px,
		total-height: 927px,
		image: "../images/sprites/sprite-global@2x.png"
	),
	login-google: (
		offset-x: 0px,
		offset-y: -710px,
		width: 610px,
		height: 106px,
		total-width: 1620px,
		total-height: 927px,
		image: "../images/sprites/sprite-global@2x.png"
	),
	logo-mobile: (
		offset-x: -1269px,
		offset-y: -111px,
		width: 210px,
		height: 112px,
		total-width: 1620px,
		total-height: 927px,
		image: "../images/sprites/sprite-global@2x.png"
	),
	logo-small: (
		offset-x: -1010px,
		offset-y: -111px,
		width: 254px,
		height: 135px,
		total-width: 1620px,
		total-height: 927px,
		image: "../images/sprites/sprite-global@2x.png"
	),
	logo: (
		offset-x: 0px,
		offset-y: -505px,
		width: 376px,
		height: 200px,
		total-width: 1620px,
		total-height: 927px,
		image: "../images/sprites/sprite-global@2x.png"
	),
	signup-email: (
		offset-x: 0px,
		offset-y: -821px,
		width: 610px,
		height: 106px,
		total-width: 1620px,
		total-height: 927px,
		image: "../images/sprites/sprite-global@2x.png"
	),
	signup-google: (
		offset-x: -1010px,
		offset-y: 0px,
		width: 610px,
		height: 106px,
		total-width: 1620px,
		total-height: 927px,
		image: "../images/sprites/sprite-global@2x.png"
	),
);