$sprite-global: (
	icon-donation-hover: (
		offset-x: 0px,
		offset-y: 0px,
		width: 250px,
		height: 250px,
		total-width: 816px,
		total-height: 471px,
		image: "../images/sprites/sprite-global.png"
	),
	icon-donation: (
		offset-x: -255px,
		offset-y: 0px,
		width: 250px,
		height: 250px,
		total-width: 816px,
		total-height: 471px,
		image: "../images/sprites/sprite-global.png"
	),
	login-email: (
		offset-x: -510px,
		offset-y: -116px,
		width: 306px,
		height: 53px,
		total-width: 816px,
		total-height: 471px,
		image: "../images/sprites/sprite-global.png"
	),
	login-facebook: (
		offset-x: -193px,
		offset-y: -255px,
		width: 306px,
		height: 53px,
		total-width: 816px,
		total-height: 471px,
		image: "../images/sprites/sprite-global.png"
	),
	login-google: (
		offset-x: 0px,
		offset-y: -360px,
		width: 306px,
		height: 53px,
		total-width: 816px,
		total-height: 471px,
		image: "../images/sprites/sprite-global.png"
	),
	login-twitter: (
		offset-x: 0px,
		offset-y: -418px,
		width: 306px,
		height: 53px,
		total-width: 816px,
		total-height: 471px,
		image: "../images/sprites/sprite-global.png"
	),
	logo-mobile: (
		offset-x: -642px,
		offset-y: -290px,
		width: 105px,
		height: 56px,
		total-width: 816px,
		total-height: 471px,
		image: "../images/sprites/sprite-global.png"
	),
	logo-small: (
		offset-x: -510px,
		offset-y: -290px,
		width: 127px,
		height: 68px,
		total-width: 816px,
		total-height: 471px,
		image: "../images/sprites/sprite-global.png"
	),
	logo: (
		offset-x: 0px,
		offset-y: -255px,
		width: 188px,
		height: 100px,
		total-width: 816px,
		total-height: 471px,
		image: "../images/sprites/sprite-global.png"
	),
	signup-email: (
		offset-x: -510px,
		offset-y: -174px,
		width: 306px,
		height: 53px,
		total-width: 816px,
		total-height: 471px,
		image: "../images/sprites/sprite-global.png"
	),
	signup-facebook: (
		offset-x: -510px,
		offset-y: -232px,
		width: 306px,
		height: 53px,
		total-width: 816px,
		total-height: 471px,
		image: "../images/sprites/sprite-global.png"
	),
	signup-google: (
		offset-x: -510px,
		offset-y: -58px,
		width: 306px,
		height: 53px,
		total-width: 816px,
		total-height: 471px,
		image: "../images/sprites/sprite-global.png"
	),
	signup-twitter: (
		offset-x: -510px,
		offset-y: 0px,
		width: 306px,
		height: 53px,
		total-width: 816px,
		total-height: 471px,
		image: "../images/sprites/sprite-global.png"
	),
);