{% extends "account/email/_allauth-email-base.html" %}

{% load account %}

{% user_display user as user_display %}

{% block child_subject %}Confirm your email{% endblock %}

{% block child_preheader %}Hello from {{ current_site.name }}!{% endblock %}

{% block child_content %}
    <p>Hello from {{ current_site.name }}!</p>
    <p>You're receiving this e-mail because user {{ user_display }} at {{ current_site.domain }} has given yours as an e-mail address to connect their account.</p>
    <p>{% autoescape off %}To confirm this is correct, go to <a href="{{ activate_url }}">{{ activate_url }}</a>{% endautoescape %}</p>

    <p>
    	Thank you from {{ current_site.name }}!<br>
    	{{ current_site.domain }}
    </p>

{% endblock %}



