{% extends "account/email/_allauth-email-base.html" %}

{% block child_subject %}Password Reset E-mail{% endblock %}

{% block child_preheader %}Hello from {{ current_site.name }}!{% endblock %}

{% block child_content %}
    <p>Hello from {{ site.name }}!</p>
    <p>You're receiving this e-mail because you or someone else has requested a password for your user account at {{ site.domain }}.</p>
    <p>It can be safely ignored if you did not request a password reset. Click the link below to reset your password.</p>

    <p>{% autoescape off %}<a href="{{ password_reset_url }}">{{ password_reset_url }}</a>{% endautoescape %}</p>

    {% if username %}<p>In case you forgot, your username is {{ username }}.</p>{% endif %}

    <p>
    	Thank you for using {{ site.name }}!<br>
      {{ site.domain }}
    </p>
{% endblock %}



