// ---------------------------------------------------------------------------
// Imports

@import "compass/utilities";
@import "susy";
@import "breakpoint";
@import 'retina-sprites';

// ---------------------------------------------------------------------------
// Basic Grid

$susy: (
    container: 960px,
    columns: 12,
    gutters: .25,
    global-box-sizing: content-box
);

// ---------------------------------------------------------------------------
// Media Queries

$retina-phone-and-up: 320px;
$phone-and-up: 480px;
$tablet-and-up: 768px;
$desktop-and-up: 992px;
$huge-and-up: 1200px;

// ---------------------------------------------------------------------------
// Colors

$cdc-color: #87c448;
$off-white: #f9f9f9;
$bg-color: $off-white;
$gray: #666;
$light-gray: #eee;
$green: #86C447;


// ---------------------------------------------------------------------------
// Mixins

@mixin opacity($trans: 0.5) {
    filter: alpha(opacity=($trans * 100));
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})';
    -moz-opacity: $trans;
    -khtml-opacity: $trans;
    opacity: $trans;
}

@mixin border-radius($radius: 3px 3px 3px 3px) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($transitions: all 1s ease) {
    -moz-transition: $transitions;
    -webkit-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;
}

@mixin perspective($perspective) {
    -moz-perspective: $perspective;
    -webkit-perspective: $perspective;
    -ms-perspective: $perspective;
    -o-perspective: $perspective;
    perspective: $perspective;
}

@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -o-animation: $animation;
}

@mixin transform-style($transform-style) {
    -webkit-transform-style: $transform-style;
    -moz-transform-style: $transform-style;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}


@mixin display-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($flex: auto) {
    -webkit-box-flex: $flex;
    -moz-box-flex: $flex;
    -webkit-flex: $flex;
    -ms-flex: $flex;
    flex: $flex;
}

@mixin horizontal-gradient($start, $end) {
    background-color: $start;
    background-image: -moz-linear-gradient(left, $start, $end);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, $start), color-stop(1, $end));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start}', endColorStr='#{$end}', gradientType=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start}', endColorStr='#{$end}', gradientType=1)";
}

@mixin vertical-gradient($start, $end) {
  background-color: $start;
  background-image: -moz-linear-gradient(top, $start, $end);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $start), color-stop(1, $end));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start}', EndColorStr='#{$end}');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start}', EndColorStr='#{$end}')";
}

@mixin radial-gradient($start, $end) {
    /* fallback */
    background-color: $end;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from($start), to($end));
    background: -webkit-radial-gradient(circle, $start, $end);
    background: -moz-radial-gradient(circle, $start, $end);
    background: -ms-radial-gradient(circle, $start, $end);
}


@mixin box-shadow($settings: 0 2px 0 0 #000) {
    -moz-box-shadow: $settings;
    -webkit-box-shadow: $settings;
    box-shadow: $settings;
}

@mixin button() {

    font: 14px sans-serif;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;

    display: inline-block;
    padding: 10px 8px;
    margin: 0 0 5px 0;
    min-width: 75px;

    @include border-radius(3px);

    background: rgba(58, 177, 239, 0.9);

    @include box-shadow(0px 2px 0px 0px #287ca8);

    &.active {
        background: #a9d36b !important;
        @include box-shadow(0px 2px 0px 0px #75d36b);
    }

    @include at-breakpoint($desktop-layout) {
        margin: 0 5px 10px 0;
    }

    @include at-breakpoint($tablet-layout) {
        margin: 0 5px 10px 0;
    }
}

@mixin columns($count: 3, $gap: 20px, $fill: auto) {
    -webkit-column-count: $count;
    -webkit-column-gap: $gap;
    -webkit-column-fill: $fill;
    -moz-column-count: $count;
    -moz-column-gap: $gap;
    -moz-column-fill: $fill;
    column-count: $count;
    column-gap: $gap;
    column-fill: $fill;
}

@mixin column-break-inside($break: avoid) {
    -webkit-column-break-inside: $break;
    -moz-column-break-inside: $break;
    column-break-inside: $break;
}

@mixin box-sizing($sizing: border-box) {
    -webkit-box-sizing: $sizing;
    -moz-box-sizing: $sizing;
    box-sizing: $sizing;
}

@mixin blur($value: 3px) {
    -webkit-filter: blur($value);
    -moz-filter: blur($value);
    -o-filter: blur($value);
    -ms-filter: blur($value);
    filter: blur($value);
}



// ---------------------------------------------------------------------------
// Placeholder Helpers

%ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;

    &:before {
        content: "";
        display: block;
        width: 0;
        height: 150%;
    }
}

%clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
