.page-class-detail {

    // main content

    .class-detail-content {
        .subtitle {
            // margin-bottom: 30px;
        }
    }

    .teachers {
        overflow: hidden;
        margin-bottom: 40px;

        .teacher {
            margin: 0 0 10px 0;
            @extend .row;

            .image {

                @include breakpoint($tablet-and-up) {
                    @include span(6);

                }

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .info {

                @include breakpoint($tablet-and-up) {
                    @include span(6 last);
                }

                .subtitle {
                    margin: 0 0 30px;
                }
            }
        }
    }

    .students {
        width: 100%;

        td {
            padding: 5px;
        }
    }

    // sidebar

    .class-detail-sidebar-right {
        color: #666;
        background: #FFF;
        border: 1px solid #CCC;
        padding-top: 15px;
    }

    .add-another {
        display: block;
        margin: 10px 0;
    }

    .map {
        margin: 20px 0 40px;

        .static-map {
            display: block;
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .upcoming-class {

        padding: 25px 0;
        position: relative;
        border-top: 1px solid $cdc-color;
        font-size: 14px;
        line-height: 1.3;

        .date {
            position: absolute;
            left: 0;
            top: 20px;
            text-align: center;
            width: 40px;

            margin-right: 10px;

            strong{
                font-size: 24px;
            }
        }

        a {
            padding-left: 55px;
            display: inline-block;
            text-transform: uppercase;
        }
    }

    .social-sharing {
        li {
            padding: 0;
        }
    }

}
