.page-class-detail {

    // main content

    .class-detail-content {
        .subtitle {
            // margin-bottom: 30px;
        }
    }

    .teachers {
        overflow: hidden;
        margin-bottom: 40px;

        .teacher {
            margin: 0 0 10px 0;
            @extend .row;

            .image {

                @include breakpoint($tablet-and-up) {
                    @include span(6);

                }

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .info {

                @include breakpoint($tablet-and-up) {
                    @include span(6 last);
                }

                .subtitle {
                    margin: 0 0 30px;
                }
            }
        }
    }

    .students {
        width: 100%;

        td {
            padding: 5px;
        }
    }

    // sidebar

    .class-detail-sidebar-right {
        color: #666;
        background: #FFF;
        border: 1px solid #CCC;
        padding-top: 15px;

        .sidebar-right-section {
            padding-top: 20px;
            padding-bottom: 20px;
            border-top: 1px dotted #ccc;

            &:first-child {
                padding-top: initial;
                border-top: 0;
            }
        }
    }

    .add-another {
        display: block;
        margin: 10px 0;
    }

    .map {
        .static-map {
            display: block;
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .upcoming-class {
        a {
            text-transform: uppercase;
            text-decoration: none;
        }
    }

    .social-sharing {
        li {
            padding: 0;
        }
    }

}
