// ---------------------------------------------------------------------------
// Basic Grid

$susy: (
    container: 960px,
    columns: 12,
    gutters: .25,
    global-box-sizing: content-box
);

// ---------------------------------------------------------------------------
// Media Queries

$retina-phone-and-up: 320px;
$phone-and-up: 480px;
$tablet-and-up: 768px;
$desktop-and-up: 992px;
$huge-and-up: 1200px;

// ---------------------------------------------------------------------------
// Colors

$cdc-color: #87c448;
$cdc-color-dark: #4f9551;
$cdc-color-dark-alt: #1a676a;
$off-white: #f9f9f9;
$bg-color: $off-white;
$gray: #666;	
$light-gray: #eee;