.page-donate {
    padding-top: 100px;

    .hero {
        background-color: $cdc-color;
        padding-top: 80px;
        padding-bottom: 50px;
        margin-bottom: 40px;
        position: relative;
        color: #fff;

        .title {
            text-transform: uppercase;
            text-align: center;
            font-size: 30px;
            color: #fff;
        }

        &:after {
            position: absolute;
            content: '';
            bottom: -40px;
            left: 50%;
            margin-left: -80px;
            border-left: 80px solid transparent;
            border-right: 80px solid transparent;
            border-top: 40px solid $cdc-color;
        }
    }

    .amount-buttons {
        margin: 40px auto 10px;
        text-align: center;

        .btn-cdc {
            width: 100px;
            margin: 0 0 10px;
        }
    }

    .amount-actual {

        text-align: center;
        display: none;

        .dollar {
            font-size: 30px;
            color: #eee;
            vertical-align: top;
            margin: 0 3px 0 -22px;
            display: inline-block;
        }

        .form-control {
            width: 100px;
            margin: 0 auto;
            text-transform: uppercase;
            text-align: center;
            display: inline-block;
            vertical-align: top;
        }
    }

    .personal-info {
        width: 100%;
        margin: auto;
        display: none;

        @include breakpoint($tablet-and-up) {
            width: 50%;
        }
    }

    .btn-do-it {
        width: 150px;
        margin: 30px auto 0;
        display: block;
    }
}
