footer {
    color: #666;

    p {
        font-size: .9em;
        height: 60px;
        line-height: 60px;
    }

    a {
        display: inline-block;
        color: #333;
        text-decoration: none;
        margin-left: 10px;

        &:hover {
            text-decoration: underline;
        }
    }
}
