.hero {
    background-color: #1a676a;

    .carousel-control {
        background-image: none;
    }

    .carousel-inner {
        .item {
            min-height: 500px;
        }
    }
}

.padded-p > p {
    margin: 0 0 20px;
    line-height: 24px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
