.page-sponsorship {

    .levels {
        margin: 10px 0 20px;

        > div {
            overflow: hidden;
            margin-top: 10px;
        }
    }

    .level {
        color: #fff;
        padding: 20px;
        background: $cdc-color;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 5px;
        }
    }

    .level-title {
        font-size: 32px;
        margin: 0;
    }

    .level-price {
        font-size: 36px;
    }

    .sponsorship-title {
        margin-bottom: 5px;
    }

    .list-group-item {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .chart-feature {
        padding: 50px 0;
        margin: 20px 0 0;
        background: $cdc-color;
        color: #fff;
    }

    .chart-title {
        text-align: center;
        margin: 20px 0 0;
    }
}
