.main-nav {
    background-color: $cdc;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    a {
        color: #FFF;
        text-transform: uppercase;
    }

    .nav-right {
        float: right;
    }
}

.logo {
    display: block;
    @include use-sprite("logo", "global");
    @extend %ir;
}
