.navbar-default {
    background-color: $cdc-color;

    @include breakpoint($tablet-and-up) {
        .navbar-nav {
            margin-top: 65px;
        }
    }

    .navbar-nav > li > a,
    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        color: #FFF;
        text-transform: uppercase;
        font-weight: 300;
    }

    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        color: #FFF;
        background-color: transparent;
        // text-decoration: underline;
        border-bottom: 2px solid #FFF;
        padding-bottom: 5px;
    }

    .navbar-brand {
        @include use-sprite("logo", "global");
        margin: 20px;
    }

}

