.navbar-default {
    background-color: $cdc-color;
    border: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 300;

    @include user-select(none);

    @include breakpoint($tablet-and-up) {
        .navbar-nav {
            margin: 50px 0 10px;
        }
    }

    .donate a {
        font-weight: bold;
    }

    .navbar-nav > li > a,
    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        color: #FFF;
        text-transform: uppercase;

        text-decoration: none;
    }

    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        color: #FFF;
        background-color: transparent;
        text-decoration: none;
        border-bottom: 2px solid #FFF;
        padding-bottom: 5px;
    }

    .navbar-collapse {
        border: none;

        &.in, &.collapsing {
           background: $cdc-color-dark;

            .navbar-nav > .active > a,
            .navbar-nav > .active > a:hover,
            .navbar-nav > .active > a:focus {
                border: none;
            }
        }

    }

    .brand {

        @include use-sprite("logo-mobile", "global");
        position: fixed;
        z-index: 1032;
        left: 10px;
        top: 2px;

        @include breakpoint($tablet-and-up) {
            @include use-sprite("logo", "global");
            top: auto;
            bottom: -15px;
            left: 0;
            position: absolute
        }
    }

    &.shrink {

        @include breakpoint($tablet-and-up) {
            .navbar-nav {
                margin-top: 10px;
                margin-bottom: 5px;
            }

            .brand {
                @include use-sprite("logo-small", "global");
                bottom: -10px;
                top: auto;
                left: 10px;
            }
        }
    }

}

.note {
    font-size: 14px;
    padding-top: 20px;
    color: #FFF;
    background-color: $cdc-color-dark-alt;

    a {
        color: #FFF;
    }
}

