@import 'bootstrap';
@import 'normalize';

html {
    background: $off-white;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-top: 50px;
    background: $off-white;

    @include breakpoint($tablet-and-up) {
        padding-top: 110px;
    }

    &.page-donate {
        padding-top: 50px;

        @include breakpoint($tablet-and-up) {
            padding-top: 110px;
        }
    }

    &.page-cdc-admin {
       padding: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}

// ---------------------------------------------------------------------------
// Global Helpers

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.shim {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #000;
    @include opacity(.5);
    display: none;
}

.min-height {
    min-height: 480px;
}

.drop-caps {

    overflow: hidden;

    &:first-letter {
        float: left;
        font-size: 75px;
        line-height: 60px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
        font-family: Georgia;
    }
}

.ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.space-above {
    margin-top: 50px;
}

hr {
    border: 1px dotted #ccc;
    border-width: 0 0 1px 0;
    margin: 0 0 10px;
}

/* -------------------------------------------------------------------------*/
/* Global Typography */

h1, h2, h3, h4 {

    line-height: 1.3;

    small {
        color: #666;
        font-weight: normal;
        display: block;
        font-size: .6em;

        &.light {
            color: #999;
        }
    }

    &.light {
        font-weight: normal;
    }
}

.text-large {
    font-size: 1.2em;
}

/* -------------------------------------------------------------------------*/
/* Links / Buttons */

a {
    color: #000;
    text-decoration: underline;

    &:hover {
        color: $cdc-color;
    }

    &.unstyled {
        text-decoration: none;
    }
}


.login-facebook {
    @include use-sprite("login-facebook", "global");
    @extend .ir;
}

.login-google {
    @include use-sprite("login-google", "global");
    @extend .ir;
}

.btn-cdc {
    @include button();
}

/* -------------------------------------------------------------------------*/
/* Global Layout */

.container {
    @include container;
    position: relative;
    @extend %clearfix;
    padding: 0 10px;

    &.registration {
        max-width: 500px;
    }
}

.main {
    margin: 15px 0 0;

    @include breakpoint($tablet-and-up) {
        margin: 40px 0 0;
    }

    .page-homepage &, .page-donate & {
        margin: 0;
    }
}

.row {
    @extend %clearfix;
    margin: 10px 0;
}


@include breakpoint($tablet-and-up) {
    .half {
        width: 50%;
        float: left;
        padding-left: 10px;

        &:first-child {
            padding-left: 0;
            padding-right: 10px;
        }
    }
}


// Top Navigation
@import "_topnav";

// Footer
@import "_footer";

// Homepage
@import "_home";

// Donate
@import "_donate";

/* -------------------------------------------------------------------------*/
/* Modules */

.panels {
    display: inline;
}

.panel {
    height: 100%;
    width: 100%;
    display: table;
}

.panel-content {
    display: table-cell;
    vertical-align: middle;

    .splash & {
        vertical-align: auto;
    }
}

.hero-image {
    min-width: 100%;
}

form {
    p {
        margin: .5em 0;
    }
}

.errorlist {
    padding: 0;
    margin: 0;

    li {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 4px;
        display: block;
        font-size: .9em;
        margin: .25em 0;
    }
}

/* -------------------------------------------------------------------------*/
/* Pages */


// auth

.page-auth {

    form {
        margin-bottom: 20px;
    }
}

// homepage

.page-homepage {

    .splash {

        .hero {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: -100;
            background: transparent url(/static/images/hero3.jpg) no-repeat;
            background-size: cover;
        }
    }

    .mission {
        background: url(/static/images/hero1.jpg) no-repeat;
        background-size: cover;

        h1 {
            color: #000;
            font-size: 2.5em;
            text-transform: uppercase;
            margin-bottom: 20px;
            line-height: 1.1;
            margin-top: 120px;
            padding: 15px;
            background: #FFF;
            background: rgba(255, 255, 255, 0.6);
            float: left;
        }

        .highlight {
            margin-bottom: 15px;
            padding: 10px;
            background: #FFF;
            background: rgba(255, 255, 255, 0.6);
            font-size: 20px;
            line-height: 1.25;
            float: left;
            clear: both;
        }
    }

    // .upcoming-class {
    //     position: absolute;
    //     max-width: 350px;
    //     min-width: 300px;
    //     left: -350px;
    //     bottom: 30px;
    //     font-size: .9em;
    //     padding: 15px 20px 10px;
    //     background: #000;
    //     background: rgb(134, 196, 71);
    //     color: #fff;
    //     z-index: 2;

    //     .title {
    //         margin: 0 0 15px;
    //         font-size: 1.4em;
    //     }

    //     p {
    //         margin: 5px 0;
    //     }

    //     small {
    //         display: block;
    //         color: #f3f3f3;
    //     }

    //     a:not(.btn) {
    //         color: #fff;

    //         small {
    //             color: #fff;
    //         }
    //     }

    //     em.underline {
    //         font-style: normal;
    //         border-bottom: 1px dotted;
    //         padding-bottom: 1px;
    //     }

    //     .btn {
    //         margin-top: 10px;
    //         text-decoration: none;
    //     }
    // }

    .block-cta {
        a {
            text-decoration: none;
        }

        .homepage-volunteer {
            .icon-volunteer {
                font-size: 170px;
                margin: 0 auto;
                display: block;
                margin-top: 36px;
                margin-bottom: 65px;
            }

            // FIXME: Weird px issue.
            p {
                padding-top: 2px;
            }
        }

        .homepage-donate {
            .icon-donation {
                @include use-sprite("icon-donation", "global");
                margin: 0 auto;
                display: block;

                &:hover {
                    @include use-sprite("icon-donation-hover", "global");
                    margin: 0 auto;
                    display: block;
                }
            }
        }
    }


}

// welcome

.welcome {

    .role {
        @include span(12);
        @include opacity(.9);
        height: 200px;
        margin-bottom: 10px;


        button {
            height: 100%;
            width: 100%;
            font-size: 2em;

            small {
                display: block;
                font-size: .5em;
            }

            i {
                font-size: 2em;
                display: block;
                margin-top: 20px;
            }
        }

        @include breakpoint($tablet-and-up) {
            @include span(6);

            &:last-child {
                @include span(last 6);
            }
        }


        &:hover {
            @include opacity(1);
        }
    }
}

// my dojo

.dojo-profile {
    @include span(12);

    @include breakpoint($tablet-and-up) {
        @include span(4);
    }

    .avatar {
        width: 100%;
    }
}

.dojo-content {
    @include span(12);

    margin-bottom: 30px;

    @include breakpoint($tablet-and-up) {
        @include span(last 8);
        margin-bottom: 0;
    }
}

// classes
.upcoming-sessions {

    margin: 20px 0;

    @include breakpoint($tablet-and-up) {
        margin: 40px 0;
    }

    .page-homepage & {
        margin-top: 0;
    }
}

.upcoming-session {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    .session-shim {

        padding: 40px 0;
        background: #fff;
        background: rgba(255, 255, 255, .7);


        @include breakpoint($tablet-and-up) {
            padding: 60px 0;
        }
    }

    .date {
        text-align: center;
        font-size: 22px;
        margin-bottom: 10px;
        line-height: 1;
        padding-bottom: 10px;
        border-bottom: 1px solid #666;

        .day {
            margin: 10px auto 0;
            padding-top: 5px;
            width: 50%;
            // font-family: 'Quicksand', sans-serif;
        }

        @include breakpoint($tablet-and-up) {
            @include span(2);
            margin-bottom: 0;
            border-bottom: none;
            font-size: 16px;
            padding: 0;

            .day {
                font-weight: bold;
                font-size: 46px;
                display: block;
                border-top: 1px solid #000;
            }
        }
    }

    .description {

        padding: 0 10px;

        .title {
            font-size: 24px;
            text-transform: uppercase;
            margin: 0 0 10px;
            text-align: center;
        }

        p {
            margin: 0 0 10px;
        }

        @include breakpoint($tablet-and-up) {
            @include span(8);

            .title {
                text-align: left;
                font-size: 16px;
            }
        }
    }

    .actions {

        text-align: center;

        .btn-cdc {
            margin-top: 10px;
        }

        @include breakpoint($tablet-and-up) {
            @include span(last 2);

            .btn-cdc {
                margin-top: 20px;
            }
        }

    }

}

.calendar {

    margin-top: 20px;

    .controls {
        margin-bottom: 10px;
        text-align: center;
    }

    table {
        color: #999;
        width: 100%;

        border: 1px solid #ddd;
        border-collapse: collapse;

        th {
            border: 1px solid #ddd;
            font-size: .9em;
            color: #999;
            padding: 5px;
            text-transform: uppercase;
            text-align: center;
        }

        td {
           border: 1px solid #ddd;
           height: 5em;
           width: 5em;
           padding: 5px;
           vertical-align: top;
        }

        caption {
           font-size: 300%;
           font-style: italic;
        }
    }

    tbody .month {
        display: none;
    }

    .filled {

        a {
            font-size: .9em;
            background: #4f9752;
            color: #fff;
            padding: 4px;
            margin: 5px 0;
            display: block;

            &.unavailable {
                background-color: #999;
            }

            small {

            }
        }
    }

    .today {
        font-weight: bold;
    }

    .noday {
        background: #f8f8f8;
    }

}

// class-detail

.page-class-detail {

    .title {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .subtitle {
        @extend .title;
        font-size: 18px;
    }

    // main content

    .class-detail-content {

        @include span(12);

        @include breakpoint($tablet-and-up) {
            @include span(7);
        }

        @include breakpoint($desktop-and-up) {
            @include span(8);
        }

        .subtitle {
            margin-bottom: 30px;
        }
    }

    .teachers {
        overflow: hidden;
        margin-bottom: 40px;

        .teacher {
            margin: 0 0 10px 0;
            overflow: hidden;

            img {
                width: 220px;
                height: 220px;
                float: left;
            }

            .info {

                float: left;

                @include breakpoint($tablet-and-up) {
                    @include span(4);
                    margin-left: 50px;
                }

                .subtitle {
                    margin-bottom: 30px;
                }
            }
        }
    }

    .students {
        width: 100%;

        td {
            padding: 5px;
        }
    }

    // sidebar

    .class-detail-sidebar-right {
        color: #666;

        @include span(12);


        @include breakpoint($tablet-and-up) {
            @include span(last 4);
        }

        @include breakpoint($desktop-and-up) {
            @include span(last 3.4);
        }

        .content {
            margin-bottom: 20px;
            background: #fff;
            padding: 18px 26px;
            background: #fff;
        }
    }

    .add-another {
        display: block;
        margin: 10px 0;
    }

    .map {
        margin: 20px 0 40px;

        .static-map {
            display: block;
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .upcoming-class {

        padding: 25px 0;
        position: relative;
        border-top: 1px solid $cdc-color;
        font-size: 14px;
        line-height: 1.3;

        .date {
            position: absolute;
            left: 0;
            top: 20px;
            text-align: center;
            width: 40px;

            margin-right: 10px;

            strong{
                font-size: 24px;
            }
        }

        a {
            padding-left: 55px;
            display: inline-block;
            text-transform: uppercase;
        }
    }

    .social-sharing {
        font-size: 2em;

        a {
            color: #666;

            &:hover {
                color: #000;
            }
        }
    }

}


 .mentors {
    overflow: hidden;
    padding-top: 10px;

    .mentor {

        float: left;
        margin-right: 20px;
        position: relative;

        img {
            width: 140px;
            height: 140px;
            float: left;
        }

        .info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            background: #000;
            background: rgba(0,0,0,.65);
            padding: 10px;
            color: #fff;
            text-transform: uppercase;
        }
    }
}
