@import "_base";
@import "_normalize";


// ---------------------------------------------------------------------------
// Sprites

$global-sprite-dimensions: true;
$global-spacing: 10px;
@import 'global/*.png';
@include all-global-sprites;

// ---------------------------------------------------------------------------
// Global Helpers

* {
    @include box-sizing();
}

.hidden {
    display: none;
}

.shim {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #000;
    @include opacity(.5);
    display: none;
}

.min-height {
    min-height: 480px;
}

.drop-caps {

    overflow: hidden;

    &:first-letter {
        float: left;
        font-size: 75px;
        line-height: 60px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
        font-family: Georgia;
    }
}

/* -------------------------------------------------------------------------*/
/* Global Typography */

body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    small {
        color: #666;
        font-weight: normal;
        display: block;
        font-size: .6em;

        &.light {
            color: #999;
        }
    }

    &.light {
        font-weight: normal;
    }
}


/* -------------------------------------------------------------------------*/
/* Global Layout */

html, body {
    height: 100%;
}

body {
    padding-top: 125px;

    &.homepage {
        padding-top: 0;
    }
}

.container {
    @include container;
    @extend %clearfix;
    padding: 0 10px;

    &.registration {
        max-width: 540px;
    }
}

.row {
    @extend %clearfix;
    margin: 10px 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    background: rgba(255,255,255,.95);
    overflow: visible;
    z-index: 3;
    @include transform(translatez(0));

    .social {

        li {
            a {
                color: #999;
                font-size: 1.5em;
                margin-left: 5px;
                padding: 0;

                &:hover {
                    color: #444;
                    background: none;
                }
            }
        }
    }

    .banner {
        background: $green;
        height: 40px;
        margin-top: 20px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;

        &.nav-right {
            float: right;
        }
    }

    li {
        display: inline-block;

        a {
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: .05em;
            font-weight: 600;
            height: 40px;
            line-height: 40px;
            padding: 0 10px;

            &:hover, &.active {
                background: #4f9752;
            }

            img {
                vertical-align: text-bottom;
            }
        }

        &.nav-text {
            color: #fff;
            margin-right: 10px;
        }
    }
}

.brand {
    position: fixed;
    left: 50%;
    top: 15px;
    margin-left: -94px;
    z-index: 4;
    @include perspective(800px);

    .logo {
        display: block;
        @extend .global-logo;
        @extend %ir;

        @include transform(rotateX(0deg) rotateY(0deg) rotateZ(0deg));
        @include transition(all .4s ease-in-out);
        @include transform-style(preserve-3d);

        .homepage &:hover{
            @include transform(rotateX(0deg) rotateY(360deg) rotateZ(0deg));
        }
    }
}

footer {
    color: #666;

    p {
        font-size: .9em;
        height: 60px;
        line-height: 60px;
    }

    a {
        display: inline-block;
        color: #333;
        text-decoration: none;
        margin-left: 10px;

        &:hover {
            text-decoration: underline;
        }
    }
}


/* -------------------------------------------------------------------------*/
/* Modules */

.panels {
    display: inline;
}

.panel {
    height: 100%;
    width: 100%;
    display: table;
}

.panel-content {
    display: table-cell;
    vertical-align: middle;

    .splash & {
        vertical-align: auto;
    }
}

.hero-image {
    min-width: 100%;
}

form {
    p {
        margin: .5em 0;
    }
}

.errorlist {
    padding: 0;
    margin: 0;

    li {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 4px;
        display: block;
        font-size: .9em;
        margin: .25em 0;
    }
}

/* -------------------------------------------------------------------------*/
/* Pages */

// homepage


.splash {

    .hero {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -100;
        background: transparent url(/static/images/hero3.jpg) no-repeat;
        background-size: cover;
    }
}



.mission {
    background: url(/static/images/hero1.jpg) no-repeat;
    background-size: cover;

    h1 {
        color: #000;
        font-size: 2.5em;
        text-transform: uppercase;
        margin-bottom: 20px;
        line-height: 1.1;
        margin-top: 120px;
        padding: 15px;
        background: #FFF;
        background: rgba(255, 255, 255, 0.6);
        float: left;
    }

    .highlight {
        margin-bottom: 15px;
        padding: 10px;
        background: #FFF;
        background: rgba(255, 255, 255, 0.6);
        font-size: 20px;
        line-height: 1.25;
        float: left;
        clear: both;
    }
}

.clouds{
    position: absolute;
    overflow: hidden;
    left: 0;
    width: 100%;
    top: 350px;
    z-index: 2;
    padding: 100px 0;
    @include transform(translatez(0));

    div {
        width: 200px;
        height: 60px;
        background: #fff;
        @include border-radius(200px);
        position: relative;

        &:before, &:after {
            content: '';
            position: absolute;
            background: #fff;
            width: 100px;
            height: 80px;
            top: -15px;
            left: 10px;

            @include border-radius(100px);
            @include transform(rotate(30deg));
        }

        &:after {
            width: 120px;
            height: 120px;
            top: -55px;
            left: auto;
            right: 15px;
        }
    }

    .cloud-1 {
        @include animation(moveclouds 30s linear infinite);
        @include opacity(0.85);
    }

    .cloud-2 {
        left: 200px;

        @include transform(scale(0.5));
        @include opacity(0.5);
        @include animation(moveclouds 50s linear infinite);
    }

    .cloud-3 {
        left: -450px;
        top: -150px;

        @include transform(scale(0.7));
        @include opacity(0.8);
        @include animation(moveclouds 40s linear infinite);
    }

    .cloud-4 {
        left: 470px;
        top: -250px;

        @include transform(scale(0.6));
        @include opacity(0.6);
        @include animation(moveclouds 36s linear infinite);
    }

    .cloud-5 {
        left: -150px;
        top: -150px;

        @include transform(scale(0.7));
        @include opacity(0.7);
        @include animation(moveclouds 40s linear infinite);
    }
}

@-webkit-keyframes moveclouds {
    0% {margin-left: 100%;}
    100% {margin-left: -20%;}
}
@-moz-keyframes moveclouds {
    0% {margin-left: 100%;}
    100% {margin-left: -20%;}
}
@-o-keyframes moveclouds {
    0% {margin-left: 100%;}
    100% {margin-left: -20%;}
}


// welcome

.welcome {
    .role {
        @include span(12);
        @include opacity(.9);
        height: 200px;
        margin-bottom: 10px;


        button {
            height: 100%;
            width: 100%;
            font-size: 2em;

            small {
                display: block;
                font-size: .5em;
            }

            i {
                font-size: 2em;
                display: block;
                margin-top: 20px;
            }
        }

        @include breakpoint($tablet-and-up) {
            @include span(6);

            &:last-child {
                @include span(last 6);
            }
        }


        &:hover {
            @include opacity(1);
        }
    }
}

// my dojo

.dojo-profile {
    @include span(12);

    @include breakpoint($tablet-and-up) {
        @include span(4);
    }

    .avatar {
        width: 100%;
    }
}

.dojo-content {
    @include span(12);

    @include breakpoint($tablet-and-up) {
        @include span(last 8);
    }
}

// classes

.calendar {

    margin-top: 20px;

    .controls {
        margin-bottom: 10px;
        text-align: center;
    }

    table {
        color: #999;
        width: 100%;

        border: 1px solid #ddd;
        border-collapse: collapse;

        th {
            border: 1px solid #ddd;
            font-size: .9em;
            color: #999;
            padding: 5px;
            text-transform: uppercase;
            text-align: center;
        }

        td {
           border: 1px solid #ddd;
           height: 5em;
           width: 5em;
           padding: 5px;
           vertical-align: top;
        }

        caption {
           font-size: 300%;
           font-style: italic;
        }
    }

    tbody .month {
        display: none;
    }

    .filled {

        a {
            font-size: .9em;
            background: #4f9752;
            color: #fff;
            padding: 4px;
            margin: 5px 0;
            display: block;

            &.unavailable {
                background-color: #999;
            }

            small {

            }
        }
    }

    .today {
        font-weight: bold;
    }

    .noday {
        background: #f8f8f8;
    }

}

// class-detail

.class-detail-content {
    @include span(12);

    @include breakpoint($tablet-and-up) {
        @include span(8);
    }
}

.class-detail-sidebar-right {
    @include span(12);

    @include breakpoint($tablet-and-up) {
        @include span(last 4);
    }
}

.map {
    display: block;
    width: 100%;
    margin-top: 40px;
    border: 2px solid #86C447;

    &:hover {
      border: 2px solid #4f9752;
    }

    img {
        width: 100%;
    }
}

.mentors {
    overflow: hidden;

    .mentor {
        margin: 0 0 10px 0;
        overflow: hidden;

        img {
            border: 2px solid #222;
            width: 150px;
            height: 150px;
            float: left;
        }

        .info {
            float: left;
            margin-left: 20px;

            .title {
                margin-bottom: 5px;
            }

            p {
                margin-top: 5px;
            }
        }
    }
}

.students {
    width: 100%;

    td {
        padding: 5px;
    }
}
