@import 'bootstrap';
@import 'normalize';

html {
    background: $off-white;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-top: 50px;
    background: $off-white;

    @include breakpoint($tablet-and-up) {
        padding-top: 110px;
    }

    &.page-donate {
        padding-top: 50px;

        @include breakpoint($tablet-and-up) {
            padding-top: 110px;
        }
    }

    &.page-cdc-admin {
       padding: 0;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}

// Bootstrap fix
.center-block {
    float: none;
}

// ---------------------------------------------------------------------------
// Global Helpers

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.shim {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #000;
    @include opacity(.5);
    display: none;
}

.min-height {
    min-height: 480px;
}

.drop-caps {

    overflow: hidden;

    &:first-letter {
        float: left;
        font-size: 75px;
        line-height: 60px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
        font-family: Georgia;
    }
}

.ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.space-above {
    margin-top: 50px;
}

hr {
    border: 1px dotted #ccc;
    border-width: 0 0 1px 0;
    margin: 0 0 10px;
}

// honeypot
#id_human {
    display: none;
}

.global-messages {
    position: absolute;
    width: 100%;
    z-index: 1033;
    top: -100px;
    left: 0;
    padding: 20px 0;
    text-align: center;
    background: #fff;

    a {
        color: $cdc-color;
    }

    .global-messages-close {
        position: absolute;
        right: 20px;
        top: 5px;
        color: #888;

        &:hover {
            color: #000;
        }

        &:active {
            outline: none;
        }
    }
}

/* -------------------------------------------------------------------------*/
/* Global Typography */

h1, h2, h3, h4 {

    line-height: 1.3;

    small {
        color: #666;
        font-weight: normal;
        display: block;
        font-size: .6em;

        &.light {
            color: #999;
        }
    }

    &.light {
        font-weight: normal;
    }
}

.text-large {
    font-size: 1.2em;
}

.text-heading {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
}

/* -------------------------------------------------------------------------*/
/* Links / Buttons */

a {
    color: #000;
    text-decoration: underline;

    &:hover {
        color: $cdc-color;
    }

    &.unstyled {
        text-decoration: none;
    }
}

.signup-twitter {
    @include sprite("signup-twitter", "global");
    @extend .ir;
    border-radius: 0;
}

.login-twitter {
    @include sprite("login-twitter", "global");
    @extend .ir;
    border-radius: 0;
}

.signup-facebook {
    @include sprite("signup-facebook", "global");
    @extend .ir;
    border-radius: 0;
}

.login-facebook {
    @include sprite("login-facebook", "global");
    @extend .ir;
    border-radius: 0;
}

.signup-google {
    @include sprite("signup-google", "global");
    @extend .ir;
    border-radius: 0;
}

.login-google {
    @include sprite("login-google", "global");
    @extend .ir;
    border-radius: 0;
}

.btn-cdc {
    @include button();
}

/* -------------------------------------------------------------------------*/
/* Global Layout */

.container {
    @include container;
    position: relative;
    @extend %clearfix;
    padding: 0 10px;

    &.registration {
        max-width: 650px;
    }
}

.main {

    margin: 30px 0 0;

    @include breakpoint($phone-and-up) {
        margin: 40px 0 0;
    }

    .page-homepage &, .page-donate & {
        margin: 0;
    }
}

.row {
    @extend %clearfix;
    margin: 10px 0;
}


@include breakpoint($tablet-and-up) {
    .half {
        width: 50%;
        float: left;
        padding-left: 10px;

        &:first-child {
            padding-left: 0;
            padding-right: 10px;
        }
    }
}


// Top Navigation
@import "_topnav";

// Footer
@import "_footer";

// Homepage
@import "_home";

// Donate
@import "_donate";

// Login (page-auth)
@import "_login";

/* -------------------------------------------------------------------------*/
/* Modules */

.panels {
    display: inline;
}

.panel {
    height: 100%;
    width: 100%;
    display: table;
}

.panel-content {
    display: table-cell;
    vertical-align: middle;

    .splash & {
        vertical-align: auto;
    }
}

.hero-image {
    min-width: 100%;
}

form {
    p {
        margin: .5em 0;
    }

    // bootstrap override
    .form-control[readonly] {
        background-color: #fff;
        cursor: text;
    }
}

.errorlist {
    padding: 0;
    margin: 0;

    li {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 4px;
        display: block;
        font-size: .9em;
        margin: .25em 0;
    }
}

a.icon-action {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.icon-volunteer {
    color: $cdc-color-dark-alt;
    font-size: 170px;
    transform: scale(.5);
    margin: -30px auto -50px;
    display: block;

    &:hover {
        color: #87c448;
    }
}

.icon-donation {
    @include sprite("icon-donation", "global");
    display: block;
    transform: scale(.5);
    margin: -30px auto -90px;

    &:hover {
        @include sprite("icon-donation-hover", "global");
        display: block;
    }
}

/* -------------------------------------------------------------------------*/
/* Pages */


// auth

.page-auth {

    form {
        margin-bottom: 20px;
    }

    // Registration
    .form-horizontal {
        .form-control {
          width: 300px;
          float: left;
        }

        .control-label {
          float: left;
          margin-right: 20px;
          width: 150px;
        }
    }
}

// welcome

.page-welcome {

    .role {
        @include span(12);
        @include opacity(.9);
        height: 200px;
        margin-bottom: 10px;


        button {
            height: 100%;
            width: 100%;
            font-size: 2em;

            small {
                display: block;
                font-size: .5em;
            }

            i {
                font-size: 2em;
                display: block;
                margin-top: 20px;
            }
        }

        @include breakpoint($tablet-and-up) {
            @include span(6);

            &:last-child {
                @include span(last 6);
            }
        }


        &:hover {
            @include opacity(1);
        }
    }
}

// my dojo

.dojo-profile {
    @include span(12);

    @include breakpoint($tablet-and-up) {
        @include span(4);
    }

    .avatar {
        width: 100%;
    }
}

.dojo-content {
    @include span(12);

    margin-bottom: 30px;

    @include breakpoint($tablet-and-up) {
        @include span(last 8);
        margin-bottom: 0;
    }
}

.avatar {
    position: relative;
    background: #fff;
}

.avatar input,
.change-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 40px;

    cursor: pointer;

    opacity: 0;
}


.change-overlay {
    line-height: 40px;

    text-align: center;

    opacity: 1;
    color: #FFF;
    background: rgba(0, 0, 0, 0.5);

    &:hover {
        height: 40px;

        background: rgba(0,0,0,0.9);
    }
}


// classes
.upcoming-sessions {

    margin: 20px 0;

    @include breakpoint($tablet-and-up) {
        margin: 40px 0;
    }

    .page-homepage & {
        margin-top: 0;
    }
}

.upcoming-session {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    .session-shim {

        padding: 40px 0;
        background: #fff;
        background: rgba(255, 255, 255, 0.7);


        @include breakpoint($tablet-and-up) {
            padding: 60px 0;
        }
    }

    .date {
        text-align: center;
        font-size: 22px;
        margin-bottom: 10px;
        line-height: 1;
        padding-bottom: 10px;
        border-bottom: 1px solid #666;

        .day {
            margin: 10px auto 0;
            padding-top: 5px;
            width: 50%;
            // font-family: 'Quicksand', sans-serif;
        }

        @include breakpoint($tablet-and-up) {
            @include span(2);
            margin-bottom: 0;
            border-bottom: none;
            font-size: 16px;
            padding: 0;

            .day {
                font-weight: bold;
                font-size: 46px;
                display: block;
                border-top: 1px solid #000;
            }
        }
    }

    .description {

        padding: 0 10px;

        .title {
            font-size: 24px;
            text-transform: uppercase;
            margin: 0 0 10px;
            text-align: center;
        }

        p {
            margin: 0 0 10px;
        }

        @include breakpoint($tablet-and-up) {
            @include span(8);

            .title {
                text-align: left;
                font-size: 22px;
            }
        }
    }

    .actions {

        text-align: center;

        .btn-cdc {
            margin-top: 10px;
        }

        @include breakpoint($tablet-and-up) {
            @include span(last 2);

            .btn-cdc {
                margin-top: 20px;
            }
        }

    }

}

.calendar {

    margin-top: 20px;

    .controls {
        margin-bottom: 10px;
        text-align: center;
    }

    table {
        color: #999;
        width: 100%;

        border: 1px solid #ddd;
        border-collapse: collapse;

        th {
            border: 1px solid #ddd;
            font-size: .9em;
            color: #999;
            padding: 5px;
            text-transform: uppercase;
            text-align: center;
        }

        td {
           border: 1px solid #ddd;
           height: 5em;
           width: 5em;
           padding: 5px;
           vertical-align: top;
        }

        caption {
           font-size: 300%;
           font-style: italic;
        }
    }

    tbody .month {
        display: none;
    }

    .filled {

        a {
            font-size: .9em;
            background: #4f9752;
            color: #fff;
            padding: 4px;
            margin: 5px 0;
            display: block;

            &.unavailable {
                background-color: #999;
            }

            small {

            }
        }
    }

    .today {
        font-weight: bold;
    }

    .noday {
        background: #f8f8f8;
    }

}

@import "_class-detail";
@import "_mentors";
@import "_students";
@import 'admin';
