{% extends "account/_base.html" %}
{% load i18n bootstrap3 %}

{% block title_placeholder %}Login{% endblock %}

{% block body_class %}page-login{% endblock %}

{% block content %}
<div class="container min-height">
    <div class="row">
        <h1>Login</h1>
        <h2>{% trans "Not yet a member" %}? <a href="{% url 'account_signup' %}">{% trans "Register now" %}</a>!</h2>
    </div>
    <p><a class="btn login-google" href="/login/google-oauth2/">Sign in with Google</a></p>
    <p class="text-muted">or</p>
    <div class="row">
        <form method="post" action="." class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="hidden" name="next" value="{{ next }}" />
            <input class="btn-cdc btn-cdc-lg" type="submit" value="{% trans 'Log in' %}" />
        </form>
    </div>
    <p>{% trans "Forgot your password" %}? <a href="{% url 'account_reset_password' %}">{% trans "Reset it" %}</a>!</p>
</div>
{% endblock %}


{% block extra_script %}
<script>
    $(function() {
        $('#id_username').focus();
    });
</script>
{% endblock %}
