{% extends "account/_base.html" %}
{% load bootstrap3 socialaccount %}

{% block title_placeholder %}Login{% endblock %}

{% block body_class %}page-login{% endblock %}

{% block content %}
<div class="container min-height">
    <div class="row">
        <h1>Login</h1>
        <h2>Not yet a member? <a href="{% url 'account_signup' %}">Register now</a>!</h2>
    </div>
    <div class="half">
        <p><a class="btn login-google" href="/accounts/google/login">Sign in with Google</a></p>
    </div>
    <div class="half">
        <p><a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn login-facebook">Sign in with Facebook</a></p>
    </div>
    <p class="text-muted">or</p>
    <div class="row">
        <form action="{{ app_path }}" method="post" id="login-form" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="hidden" name="next" value="{{ next }}" />
            <input class="btn-cdc btn-cdc-lg" type="submit" value="Log in" />
        </form>
    </div>
    <p>Forgot your password? <a href="{% url 'account_reset_password' %}">Reset it</a>!</p>
</div>
{% endblock %}


{% block extra_script %}
{% providers_media_js %}
<script>
    $(function() {
        $('#id_username').focus();
    });
</script>
{% endblock %}
