{% extends "account/_base.html" %}

{% block title_placeholder %}Logged Out{% endblock %}

{% block content_placeholder %}
    <h1>Log Out</h1>

    <p>Are you sure you want to log out?</p>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <input class="btn-cdc btn-cdc-lg" type="submit" value="Log out" />
    </form>
{% endblock %}
