{% extends "account/_base.html" %}

{% load account bootstrap3 %}

{% block title_placeholder %}Password Reset{% endblock %}

{% block content_placeholder %}

    <h1>Password Reset</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn-cdc btn-cdc-lg">Reset My Password</button>
    </form>

    <p>Please contact us if you have any trouble resetting your password.</p>
{% endblock %}
