{% load static meta %}
<!DOCTYPE html>
<html lang="en">
<head {% meta_namespaces %} class="no-js" dir="ltr">
  {% include "meta/meta.html" %}

  {% if meta and meta.title %}
  <title>{{ meta.title }}</title>
  {% else %}
  <title>{% block title %}We All Code{% endblock title %}</title>
  {% endif %}

  <link rel="canonical" href="{{ SITE_PROTOCOL }}://{{ SITE_DOMAIN }}{{ request.get_full_path }}" />

  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block extra_meta %}{% endblock %}

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'weallcode/images/favicon/apple-touch-icon.png' %}?v=12">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'weallcode/images/favicon/favicon-32x32.png' %}?v=12">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'weallcode/images/favicon/favicon-16x16.png' %}?v=12">
  <link rel="manifest" href="{% static 'weallcode/images/favicon/site.webmanifest' %}?v=12">
  <link rel="mask-icon" href="{% static 'weallcode/images/favicon/safari-pinned-tab.svg' %}" color="#f6bb47?v=12">
  <link rel="shortcut icon" href="{% static 'weallcode/images/favicon/favicon.ico' %}?v=12">
  <meta name="apple-mobile-web-app-title" content="We All Code">
  <meta name="application-name" content="We All Code">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-config" content="{% static 'weallcode/images/favicon/browserconfig.xml' %}?v=12">
  <meta name="theme-color" content="#426cff">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee|Poppins|Open+Sans&display=swap">
  <link rel="stylesheet" href="{% static 'weallcode/css/foundation.min.css' %}">
  <link rel="stylesheet" href="{% static 'weallcode/css/app.css' %}">

  {% block extra_style %}{% endblock %}
  {% block extra_head %}{% endblock %}
</head>
<body class="{% block page-class %}{% endblock %}">
  <!--[if IE]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  {% spaceless %}{% include 'weallcode/_svgs.html' %}{% endspaceless %}
  <a href="#main" class="show-for-sr show-on-focus">Skip to main content</a>
  <div class="app">
    <header class="bg-dark-blue">
      {% block header %}{% include 'weallcode/_header.html' %}{% endblock %}
      {% block subheader %}{% endblock %}
    </header>

    {% block messages %}
    {% if messages %}
    <div class="grid-container padding-vertical-1">
      {% include 'weallcode/_messages.html' %}
    </div>
    {% endif %}
    {% endblock %}

    {% block content %}
    <main id="main" class="margin-vertical-3">
      <div class="grid-container">
        {% block contained_content %}
        {% endblock %}
      </div>
    </main>
    {% endblock %}
    {% include 'weallcode/_footer.html' %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.2.1/what-input.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.1/js/foundation.min.js"></script>
  <script src="{% static 'weallcode/js/app.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/seamless-scroll-polyfill@1.0.0/dist/es5/seamless.auto-polyfill.min.js" data-seamless></script>

  {% block extra_script %}{% endblock %}
  {% block extra_body %}{% endblock %}

  <script src="https://donsplus.com/embed/donsplus.js?org=e4ec89b0-3a4a-11eb-a446-c3ba623037fb"></script>
  <script>
    window.ga = function () {
      ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-78618586-1', 'auto');
    ga('set', 'transport', 'beacon');
    ga('send', 'pageview');

  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
