{% load static %}<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>{% block title %}We All Code{% endblock %}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{% block meta_description %}We All Code is volunteer run nonprofit organization that teaches web, game, and app development to youth ages 7 to 17 free of charge.{% endblock %}">

  <!-- Facebook -->
  <meta property="og:url" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{{ request.get_full_path }}">
  <meta property="og:site_name" content="We All Code">
  <meta property="fb:app_id" content="1454178301519376">
  <meta property="og:title" content="{% block meta_facebook_title %}We All Code{% endblock %}">
  <meta property="og:description" content="{% block meta_facebook_description %}We All Code is volunteer run nonprofit organization that teaches web, game, and app development to youth ages 7 to 17 free of charge.{% endblock %}">
  <meta property="og:image" content="{% block meta_facebook_image %}{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'weallcode/images/logo/square/logo-square.png' %}{% endblock %}">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@weallcode">
  <meta name="twitter:creator" content="@weallcode">
  <meta name="twitter:title" content="{% block meta_twitter_title %}We All Code{% endblock %}">
  <meta name="twitter:description" content="{% block meta_twitter_description %}We All Code is volunteer run nonprofit organization that teaches web, game, and app development to youth ages 7 to 17 free of charge.{% endblock %}">
  <meta name="twitter:image" content="{% block meta_twitter_image %}{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'weallcode/images/photos/real-coding-skills.jpg' %}{% endblock %}">

  {% block extra_meta %}{% endblock %}

  <link rel="shortcut icon" type="image/png" href="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'weallcode/images/favicon/favicon-64.png' %}" />
  <meta name="theme-color" content="#426cff">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee|Poppins|Open+Sans">
  <link rel="stylesheet" href="{% static 'weallcode/css/foundation.min.css' %}">
  <link rel="stylesheet" href="{% static 'weallcode/css/app.css' %}">

  {% block extra_style %}{% endblock %}
  {% block extra_head %}{% endblock %}

</head>
<body class="{% block page-class %}{% endblock %}">
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  {% spaceless %}
  {% include 'weallcode/_svgs.html' %}
  {% endspaceless %}

  <div class="app">
    <header class="bg-dark-blue">
      {% block header %}{% include 'weallcode/_header.html' %}{% endblock %}
      {% block subheader %}{% endblock %}
    </header>

    {% block messages %}
      {% if messages %}
        <div class="grid-container padding-vertical-1">
          {% include 'weallcode/_messages.html' %}
        </div>
      {% endif %}
    {% endblock %}

    {% block content %}
    <section class="margin-vertical-3">
      <div class="grid-container">
        {% block contained_content %}
        {% endblock %}
      </div>
    </section>
    {% endblock %}
    {% include 'weallcode/_footer.html' %}
  </div>

  <script src="{% static 'weallcode/js/vendor/jquery.js' %}"></script>
  <script src="{% static 'weallcode/js/vendor/what-input.js' %}"></script>
  <script src="{% static 'weallcode/js/vendor/foundation.min.js' %}"></script>
  <script src="{% static 'weallcode/js/app.js' %}"></script>

  {% block extra_script %}{% endblock %}
  {% block extra_body %}{% endblock %}

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-78618586-1', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
