<footer>
  <div class="grid-container">
    <p>Need immediate help? Please email us at <a class="text-tertiary" href="mailto:outreach@weallcode.com">outreach@weallcode.com</a></p>
  </div>
  <nav>
    <div class="grid-container">
      <ul class="grid-x">
        <li class="medium-3 small-6">
          <a href="{% url 'weallcode_our_story' %}" class="group-link">Our Story</a>
          <ul>
            <li><a href="{% url 'weallcode_our_story' %}#vision">Vision</a></li>
            <li><a href="{% url 'weallcode_our_story' %}#mission">Mission</a></li>
            <li><a href="{% url 'weallcode_our_story' %}#offerings">Offerings</a></li>
            <li><a href="{% url 'weallcode_our_story' %}#approach">Approach</a></li>
            <li><a href="{% url 'weallcode_our_story' %}#results">Results</a></li>
          </ul>
        </li>
        <li class="medium-3 small-6">
          <a href="{% url 'weallcode_programs' %}" class="group-link">Programs</a>
          <ul>
            <li><a href="{% url 'weallcode_programs' %}#classes">Classes</a></li>
            <li><a href="{% url 'weallcode_programs' %}#pathways">Pathways</a></li>
            <li><a href="{% url 'weallcode_programs' %}#courses">Courses</a></li>
            <li><a href="{% url 'weallcode_programs' %}#summer-camps">Summer Camps</a></li>

          </ul>
        </li>
        <li class="medium-3 small-6">
          <a href="{% url 'weallcode_team' %}" class="group-link">Team</a>
          <ul>
            <li><a href="{% url 'weallcode_team' %}#leadership">Leadership</a></li>
            <li><a href="{% url 'weallcode_team' %}#board">Board</a></li>
            <li><a href="{% url 'weallcode_team' %}#associate-baord">Associate Board</a></li>
            <li><a href="{% url 'weallcode_team' %}#mentors">Mentors</a></li>
            <li><a href="{% url 'weallcode_team' %}#volunteers">Volunteers</a></li>
          </ul>
        </li>
        <li class="medium-3 small-6">
          <a href="{% url 'weallcode_get_involved' %}" class="group-link">Get Involved</a>
          <ul>
            <li><a href="{% url 'weallcode_get_involved' %}#volunteer">Volunteer</a></li>
            <li><a href="{% url 'weallcode_get_involved' %}#donate">Donate</a></li>
            <li><a href="{% url 'weallcode_get_involved' %}#sponsorship">Sponsorship</a></li>
            <li><a href="{% url 'weallcode_get_involved' %}#contact">Contact Us</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="grid-container">
    <small class="grid-x">
      <span class="small-12 medium-6 cell padding-bottom-1">&copy; 2019 We All Code</span>
      <div class="small-12 medium-6 cell padding-bottom-1 medium-text-right">
      <span><a href="{% url 'weallcode_privacy' %}" class="group-link">Privacy Policy</a></span>
      <span><a href="{% url 'weallcode_terms' %}" class="group-link">Terms</a></span>
        <span><a href="https://www.guidestar.org/profile/46-4988098">We All Code is a registered 501(c)(3).</a></span>
      </div>
    </small>
  </div>
</footer>
