<footer>
  <div class="grid-container">
    <p>Need immediate help? Please email us at <a class="text-tertiary" href="mailto:hello@weallcode.org">hello@weallcode.org</a></p>
  </div>
  <nav>
    <div class="grid-container">
      <ul class="grid-x">
        <li class="cell medium-auto">
          <a href="{% url 'weallcode-our-story' %}" class="group-link">Our Story</a>
          <ul>
            <li><a href="{% url 'weallcode-our-story' %}#vision">Vision</a></li>
            <li><a href="{% url 'weallcode-our-story' %}#mission">Mission</a></li>
            <li><a href="{% url 'weallcode-our-story' %}#offerings">Offerings</a></li>
            <li><a href="{% url 'weallcode-our-story' %}#approach">Approach</a></li>
            <li><a href="{% url 'weallcode-our-story' %}#results">Results</a></li>
          </ul>
        </li>
        <li class="cell medium-auto">
          <a href="{% url 'weallcode-programs' %}" class="group-link">Programs</a>
          <ul>
            <li><a href="{% url 'weallcode-programs' %}#classes">Classes</a></li>
            <li><a href="{% url 'weallcode-programs' %}#pathways">Pathways</a></li>
            <li><a href="{% url 'weallcode-programs' %}#courses">Courses</a></li>
            <li><a href="{% url 'weallcode-programs' %}#summer-camps">Summer Camps</a></li>

          </ul>
        </li>
        <li class="cell medium-auto">
          <a href="{% url 'weallcode-team' %}" class="group-link">Team</a>
          <ul>
            <li><a href="{% url 'weallcode-team' %}#leadership">Leadership</a></li>
            <li><a href="{% url 'weallcode-team' %}#board">Board</a></li>
            <li><a href="{% url 'weallcode-team' %}#associate-board">Associate Board</a></li>
            <li><a href="{% url 'weallcode-team' %}#mentors">Mentors</a></li>
            <li><a href="{% url 'weallcode-team' %}#volunteers">Volunteers</a></li>
          </ul>
        </li>
        <li class="cell medium-auto">
          <a href="{% url 'weallcode-join-us' %}" class="group-link">Join Us</a>
          <ul>
            <li><a href="{% url 'weallcode-join-us' %}#volunteer">Volunteer</a></li>
            <li><a href="#donate">Donate</a></li>
            <li><a href="{% url 'weallcode-join-us' %}#sponsorship">Sponsorship</a></li>
            <li><a href="{% url 'weallcode-join-us' %}#contact">Contact Us</a></li>
          </ul>
        </li>
        <li class="cell medium-auto">
          <p class="group-link">Follow Us</p>
          <ul>
            <li><a href="https://www.instagram.com/weallcode/">Instagram</a></li>
            <li><a href="https://www.twitter.com/weallcode/">Twitter</a></li>
            <li><a href="https://www.facebook.com/weallcode/">Facebook</a></li>
            <li><a href="https://www.linkedin.com/company/weallcode/">LinkedIn</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="grid-container">
    <small class="grid-x">
      <span class="small-12 medium-6 cell padding-bottom-1">&copy; 2019 We All Code</span>
      <div class="small-12 medium-6 cell padding-bottom-1 medium-text-right">
        <span><a href="{% url 'weallcode-privacy' %}" class="group-link">Privacy &amp; Terms</a></span>
        <span><a href="{% url 'weallcode-credits' %}" class="group-link">Credits</a></span>
        <span><a href="https://www.guidestar.org/profile/46-4988098">We All Code is a registered 501(c)(3).</a></span>
      </div>
    </small>
  </div>
</footer>
