<footer>
  <div class="grid-container">
    <p>Need immediate help? Please email us at <a class="text-tertiary" href="mailto:outreach@weallcode.com">outreach@weallcode.com</a></p>
  </div>
  <nav>
    <div class="grid-container">
      <ul class="grid-x">
        <li class="medium-3 small-6">
          <a class="group-link" href="our-story">Our Story</a>
          <ul>
            <li><a href="vision">Vision</a></li>
            <li><a href="mission">Mission</a></li>
            <li><a href="approach">Approach</a></li>
            <li><a href="results">Results</a></li>
            <li><a href="testimonials">Testimonials</a></li>
          </ul>
        </li>
        <li class="medium-3 small-6">
          <a class="group-link" href="programs">Programs</a>
          <ul>
            <li><a href="vision">Weekends</a></li>
            <li><a href="after-school">After School</a></li>
            <li><a href="summer-camps">Summer Camps</a></li>
            <li><a href="faq">FAQ</a></li>
          </ul>
        </li>
        <li class="medium-3 small-6">
          <a class="group-link" href="programs">Team</a>
          <ul>
            <li><a href="leadership">Leadership</a></li>
            <li><a href="board">Board</a></li>
            <li><a href="associate-baord">Associate Board</a></li>
            <li><a href="volunteers">Volunteers</a></li>
          </ul>
        </li>
        <li class="medium-3 small-6">
          <a class="group-link" href="get-involved">Get Involved</a>
          <ul>
            <li><a href="volunteer">Volunteer</a></li>
            <li><a href="donate">Donate</a></li>
            <li><a href="sponsorship">Sponsorship</a></li>
            <li><a href="contact">Contact Us</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="grid-container">
    <small class="grid-x">
      <span class="small-12 medium-6 cell padding-bottom-1">&copy; 2019 We All Code</span>
      <div class="small-12 medium-6 cell padding-bottom-1 medium-text-right">
      <span><a href="privacy">Privacy Policy</a></span>
      <span><a href="terms">Terms</a></span>
        <span><a href="https://www.guidestar.org/46-4988098">We All Code is a registered 501(c)(3).</a></span>
      </div>
    </small>
  </div>
</footer>
