{% load static %}

<header class="margin-bottom-3">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12">
        <div class="vr"></div>
        <nav role="navigation" aria-label="dropdown navigation">
          <ul class="dropdown menu align-right" data-dropdown-menu>
            <li class="mega-menu">
              <a data-toggle="ourStory-menu" href="#" class="mega-link">Our Story</a>
              <!-- <div class="dropdown-pane bottom" id="ourStory-menu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11">
                <ul class="menu align-right">
                  <li><a href="#">Vision</a></li>
                  <li><a href="#">Approach</a></li>
                  <li><a href="#">Results</a></li>
                  <li><a href="#">Testimonies</a></li>
                </ul>
              </div> -->
            </li>
            <li class="mega-menu">
              <a data-toggle="programs-menu" href="#" class="mega-link">Programs</a>
              <!-- <div class="dropdown-pane bottom" id="programs-menu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11">
                <ul class="menu align-right">
                  <li><a href="#">Weekends</a></li>
                  <li><a href="#">After School</a></li>
                  <li><a href="#">Summer Camps</a></li>
                </ul>
              </div> -->
            </li>
            <li class="mega-menu">
              <a data-toggle="team-menu" href="#" class="mega-link">Team</a>
              <!-- <div class="dropdown-pane bottom" id="team-menu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11">
                <ul class="menu align-right">
                  <li><a href="#">Leadership</a></li>
                  <li><a href="#">Board</a></li>
                  <li><a href="#">Assistant Board</a></li>
                  <li><a href="#">Volunteers</a></li>
                </ul>
              </div> -->
            </li>
            <li class="mega-menu margin-left-1">
              <a data-toggle="getInvolved-menu" href="#" class="button">Get Involved</a>
              <!-- <div class="dropdown-pane bottom" id="getInvolved-menu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11">
                <ul class="menu align-right">
                  <li><a href="#">Volunteer</a></li>
                  <li><a href="#">Donate</a></li>
                  <li><a href="#">Sponsorship</a></li>
                </ul>
              </div> -->
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell small-12 medium-8 medium-offset-2">
        <img class="width-100" src="{% static 'weallcode/images/logos/logo.svg' %}">
      </div>
    </div>
  </div>
</header>
