{% load static %}

<div class="main-menu bg-dark-blue">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-4">
        <a href="{% url 'weallcode_home' %}"><img class="logo" src="{% static 'weallcode/images/logo-horizontal-trim/logo-horizontal-trim.svg' %}"></a>
      </div>
      <div class="cell small-8">
        <nav role="navigation" aria-label="dropdown navigation" class="padding-vertical-1">
          <ul class="dropdown menu align-right" data-dropdown-menu>
            <li class="mega-menu">
              <a href="{% url 'weallcode_our_story' %}" class="mega-link">Our Story</a>
            </li>
            <li class="mega-menu">
              <a href="{% url 'weallcode_programs' %}" class="mega-link">Programs</a>
            </li>
            <li class="mega-menu">
              <a href="{% url 'weallcode_team' %}" class="mega-link">Team</a>
            </li>
            <li class="mega-menu margin-left-1">
              <a href="{% url 'weallcode_get_involved' %}" class="button">Get Involved</a>
            </li>
            <li class="mega-menu margin-left-1">
              <a href="{% url 'weallcode_get_involved' %}" class="button secondary">Log In</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
