{% for message in messages %}
  <div class="callout
    {% if message.tags %}
      {% if message.tags == 'error' %}alert{% else %}{{ message.tags }}{% endif %}
    {% else %}warning{% endif %}" role="alert">
      {% if message.tags %}
        {% if message.tags == 'error' %}
        <strong>Oh snap!</strong>
        {% elif message.tags == 'warning' %}
        <strong>Warning!</strong>
        {% elif message.tags == 'success' %}
        <strong>Well done!</strong>
        {% elif message.tags == 'info' %}
        <strong>Heads up!</strong>
        {% elif message.tags == 'debug' %}
        <strong>Heads up!</strong>
        {% endif %}
      {% endif %}
      {{ message|safe }}
  </div>
{% endfor %}
