{% extends 'weallcode/_base.html' %}

{% load static %}

{% block page-class %}join-us{% endblock %}

{% block subheader %}
  <div class="sub-menu">
    <nav class="grid-container" role="navigation">
      <ul class="menu">
        <li><a href="{% url 'weallcode-join-us' %}#volunteer">Volunteer</a></li>
        <li><a href="{% url 'weallcode-join-us' %}#donate">Donate</a></li>
        <li><a href="{% url 'weallcode-join-us' %}#sponsorship">Sponsorship</a></li>
        <li><a href="{% url 'weallcode-join-us' %}#contact">Contact Us</a></li>
      </ul>
    </nav>
  </div>
{% endblock subheader %}

{% block messages %}{% endblock %}

{% block content %}
  {% include "weallcode/snippets/hero_image.html" with src="weallcode/images/backgrounds/map.png" alt="map" %}

  <!-- Contact -->
  <section id="contact" class="padding-vertical-3">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell large-8 padding-right-2">
          <h1 class="title text-tertiary margin-bottom-2">Contact Us</h1>
          <p><strong class="text-secondary">No matter the reason for contacting us, we care about you</strong> and connecting you with the information you need to get involved or learn more about us and what we are doing. If you prefer to email us, feel free to reach out at <a href="mailto:hello@weallcode.org" class="text-secondary">hello@weallcode.org</a></p>
        </div>
        <div class="cell large-4 position-relative">
          <div class="aside-title bg-primary text-white">
            <div>Volunteer</div>
            <div>Donate</div>
            <div>Sponsor</div>
            <div>Collaborate</div>
            <div class="line width-25 bg-secondary margin-top-1"></div>
          </div>
        </div>
      </div>

      <form id="contact-form" method="POST" action="{% url 'weallcode_contact' %}#contact-form">
        {% csrf_token %}
        <div class="grid-x grid-padding-x margin-vertical-3">
          {% if messages %}
            <div class="cell">{% include 'weallcode/_messages.html' %}</div>
          {% endif %}
          {{ form.as_grid|safe }}
          <div class="cell text-center">
            <button type="submit" class="button padding-horizontal-3">Submit</button>
          </div>
        </div>
      </form>

    </div>
  </section>
{% endblock %}
