<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" href="icon.png">

  <link href="https://fonts.googleapis.com/css?family=Bungee|Poppins" rel="stylesheet">

  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>

<body>
  <div class="site">
    <h1 class="title">Contact Us</h1>
    <div class="row">
      <div class="columns">
        <form action="">
          <label>Your Email Address
              <input class="input" type="text" placeholder="Email Address">
          </label>
          <label>Your Name
              <input class="input" type="text" placeholder="Your Name">
          </label>
          <label>Your Message
              <textarea class="input" type="text" placeholder="Your Message"></textarea>
          </label>
          <button class="button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
