{% extends 'weallcode/_base.html' %}

{% load static %}

{% block title %}{{ block.super }}{% endblock %}

{% block page-class %}home{% endblock %}

{% block subheader %}
<section class="padding-vertical-3">
  <div class="grid-container text-center text-white padding-vertical-3">
    <div class="grid-x">
      <div class="cell medium-4 medium-offset-1">
        <img class="hero-logo dojo" src="{% static 'images/coderdojochi_600x300_transparent.png' %}" alt="coderdojochi">
      </div>
      <div class="cell medium-2 padding-vertical-3">
        <div class="medium-padding-vertical-3 large-padding-vertical-4">is now</div>
      </div>
      <div class="cell medium-4">
        <img class="hero-logo weallcode margin-top-1" src="{% static 'weallcode/images/logo/trim/logo-trim.png' %}" alt="we all code">
      </div>
    </div>
  </div>
</section>
{% endblock subheader %}

{% block content %}
  <!-- Impact -->
  <section class="margin-vertical-3">
    <div class="grid-container">
      <div class="grid-x grid-padding-x padding-bottom-1">
        <div class="medium-6 cell">
          <div class="binary-drop-left">
            <img class="width-100 margin-bottom-1" src="{% static 'weallcode/images/photos/real-coding-skills.jpg' %}" alt="after class photo">
          </div>
        </div>
        <div class="medium-6 cell">
          <h1 class="title text-primary">Real coding skills for every kid.</h1>
          <p>We All Code helps young people from age 7 to 17 envision and build toward a future in STEM through learning the coding skills necessary to make it happen.</p>
          <a class="button secondary" href="{% url 'weallcode_programs' %}#courses">Visit our Courses</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Core Values -->
  <section class="margin-bottom-3">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="small-6 small-offset-3">
          <h2 class="title text-tertiary text-center">Core Values</h2>
        </div>
      </div>

      {% include "weallcode/snippets/posters.html" with svg_href_1="#svg-intellectual" title_1="Open Mind" content_1="We emphasize fast-paced, experiential learning in an engaging and iterative format." svg_href_2="#svg-respect" title_2="Support" content_2="Our close 2:1 student-to-mentor ratio ensures every kid gets the support they need." svg_href_3="#svg-smile" title_3="Respect" content_3="We prize collaborative learning, teamwork, and fun." %}
    </div>
  </section>

  <!-- Free Programs -->
  <section class="padding-vertical-3 bg-binary">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-7">
          <h2 class="title text-primary">Free Programs for Students 7-17 Years Old</h2>
          <p>We All Code lessons are fast-paced, experiential, and build the confidence kids need to learn new skills. Our 2 to 1 mentor ratio gives kids the attention they need to thrive.</p>
          <a href="{% url 'weallcode_programs' %}" class="button large">See All Programs</a>
        </div>
        <div class="cell medium-5">
          <img class="width-100" src="{% static 'weallcode/images/photos/mentor-ratio.jpg' %}" alt="mentor and student">
        </div>
      </div>
    </div>
  </section>

  <!-- Get Involved -->
  <section class="padding-vertical-3 bg-dark-blue">
    <div class="grid-container">
      <h3 class="title text-white text-center">Get Involved</h3>

      <div class="grid-x grid-padding-x margin-vertical-3">
        <!-- Cell -->
        <div class="small-12 medium-6 large-4 cell margin-bottom-2">
          <div class="bg-white radius">
            <h6 class="text-uppercase padding-1 margin-0 text-grey-for-white">Volunteers</h6>
            <img class="width-100" src="https://www.fillmurray.com/300/169">
            <div class="padding-1 padding-horizontal-2 text-center">
              <h4 class="text-blue text-uppercase text-primary">Conrad</h4>
              <div><strong>Full Stack Software Engineer</strong></div>
              <div>Fourth Year</div>
              <a class="button width-100 margin-top-1" href="{% url 'weallcode_get_involved' %}#volunteer">Volunteer</a>
            </div>
          </div>
        </div>

        <!-- Cell -->
        <div class="small-12 medium-6 large-4 cell margin-bottom-2">
          <div class="bg-white radius">
            <h6 class="text-uppercase padding-1 margin-0 text-grey-for-white">Donors</h6>
            <img class="width-100" src="https://www.fillmurray.com/300/169">
            <div class="padding-1 padding-horizontal-2 text-center">
              <h4 class="text-blue text-uppercase text-primary">Christopher</h4>
              <div><strong>Web Program Student</strong></div>
              <div>First Year</div>
              <a class="button width-100 margin-top-1" href="{% url 'weallcode_get_involved' %}#donate">Donate</a>
            </div>
          </div>
        </div>

        <!-- Cell -->
        <div class="small-12 medium-6 large-4 cell margin-bottom-2">
          <div class="bg-white radius">
            <h6 class="text-uppercase padding-1 margin-0 text-grey-for-white">Sponsors</h6>
            <img class="width-100" src="https://www.fillmurray.com/300/169">
            <div class="padding-1 padding-horizontal-2 text-center">
              <h4 class="text-blue text-uppercase text-primary">First Name</h4>
              <div><strong>CEO, Wicker Park Credit Union</strong></div>
              <div>Terabyte Level</div>
              <a class="button width-100 margin-top-1" href="{% url 'weallcode_get_involved' %}#sponsor">Sponsor</a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="cell small-4 medium-auto margin-bottom-2">
          <img class="width-100" src="{% static 'weallcode/images/sponsors/activecampaign.png' %}" alt="Active Campaign logo">
        </div>
        <div class="cell small-4 medium-auto margin-bottom-2">
          <img class="width-100" src="{% static 'weallcode/images/sponsors/cme-group-foundation.png' %}" alt="CME Group Goundation logo">
        </div>
        <div class="cell small-4 medium-auto margin-bottom-2">
          <img class="width-100" src="{% static 'weallcode/images/sponsors/mind-hand.png' %}" alt="Mind+Hand logo">
        </div>
        <div class="cell small-4 medium-auto margin-bottom-2">
          <img class="width-100" src="{% static 'weallcode/images/sponsors/spothero.png' %}" alt="SpotHero logo">
        </div>
        <div class="cell small-4 medium-auto margin-bottom-2">
          <img class="width-100" src="{% static 'weallcode/images/sponsors/the-nerdery.png' %}" alt="Nerdery logo">
        </div>
        <div class="cell small-4 medium-auto margin-bottom-2">
          <img class="width-100" src="{% static 'weallcode/images/sponsors/west-town.png' %}" alt="West Town logo">
        </div>
        <div class="cell small-4 medium-auto margin-bottom-2">
          <img class="width-100" src="{% static 'weallcode/images/sponsors/wyzant.png' %}" alt="Wyzant logo">
        </div>
      </div>
    </div>
  </section>
{% endblock %}
