{% extends 'weallcode/_base.html' %}

{% load static %}

{% block page-class %}home{% endblock %}

{% block content %}

  {% if show_intro %}
  <div class="reveal large autoreveal text-center" id="introModal" aria-hidden="false" data-reveal>
    <div class="padding-2">
      <h4><strong>Hey Everybody! We have some exciting news...</strong></h4>

      <div class="grid-x grid-padding-y">
        <div class="cell medium-5">
          <img class="hero-logo dojo" src="{% static 'images/coderdojochi_600x300_transparent.png' %}" alt="CoderDojoChi">
        </div>
        <div class="cell medium-2">
          <div class="medium-padding-vertical-3 large-padding-vertical-4">
            <div class="medium-padding-vertical-3 large-padding-vertical-4">
              <strong>is now</strong>
            </div>
          </div>
        </div>
        <div class="cell medium-5">
          <img class="hero-logo weallcode margin-top-1" src="{% static 'weallcode/images/logo/logo-trim.png' %}" alt="We All Code">
        </div>
        <div class="cell medium-10 medium-offset-1">
          <p>CoderDojoChi is known as the preeminent provider of free coding classes to Chicagoland youth, and we’ll be continuing our mission with an all new name and look!</p>
        </div>
      </div>

      <button class="button large closer" data-close onclick="setCookie('has_seen_intro', 'true', 30)">
        Let's Code!
      </button>
    </div>
  </div>
  {% endif %}

  <!-- Hero -->
  <section class="padding-vertical-3 bg-kid-overlay">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y padding-bottom-1">
        <div class="cell medium-6 text-white">
          <h1 class="title">Let's explore<br> your coding<br> curiosity.</h1>
          <p>Our mission is to introduce a diverse group of children to the fun of coding by providing free educational resources and hands-on classes.</p>
        </div>
        <div class="cell medium-5 medium-offset-1 large-4 large-offset-2">
          {% if next_session %}
            <div class="bg-dark-blue text-center radius overlap-bottom">
              <h6 class="text-uppercase padding-1 margin-0 text-grey-for-white">Upcoming class</h6>
              <div class="padding-1 padding-horizontal-2 bg-white">
                <h4 class="text-blue text-uppercase text-primary"><strong>{{ next_session.course.code  }}</strong></h4>
                <div><strong>{{ next_session.course.title }}</strong></div>
                <div>{{ next_session.start_date|date }}</div>
                <div class="line bg-secondary width-25 margin-vertical-half"></div>
                <div>{{ next_session.location.name }}<br>{{next_session.location.address}}</div>
                <div>{{ next_session.location.city }} {{ next_session.location.state }} {{ next_session.location.zip }}</div>
                <a class="button bg-tertiary width-100 margin-top-1" href="{{ next_session.get_absolute_url }}">Enroll Now</a>
                <a href="{% url 'weallcode-programs' %}#classes"><small>View All Classes</small></a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <div class="bg-secondary padding-vertical-2"> </div>

  <!-- Impact -->
  <section class="margin-vertical-3">
    <div class="grid-container">
      <div class="grid-x grid-padding-x padding-bottom-1">
        <div class="medium-6 cell">
          <div class="binary-drop-left">
            <img class="width-100 margin-bottom-1" src="{% static 'weallcode/images/photos/real-coding-skills.jpg' %}" alt="After class photo">
          </div>
        </div>
        <div class="medium-6 cell">
          <h2 class="title text-primary">Real coding skills for every kid.</h2>
          <p>We help young people from 7-17 envision a future in STEM and gain the coding skills to make it real.</p>
          <a class="button secondary" href="{% url 'weallcode-programs' %}#courses">View Our Courses</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Core Values -->
  <section class="margin-bottom-3">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="small-6 small-offset-3">
          <h2 class="title text-tertiary text-center">Core Values</h2>
        </div>
      </div>

      {% include "weallcode/snippets/posters.html" with svg_href_1="#svg-intellectual" title_1="Open Mind" content_1="We emphasize fast-paced, experiential learning in an engaging and iterative format." svg_href_2="#svg-respect" title_2="Support" content_2="Our close 2:1 student-to-mentor ratio ensures every kid gets the support they need." svg_href_3="#svg-smile" title_3="Respect" content_3="Our teaching style is collaborative, respectful, teamwork-focused, and fun." %}
    </div>
  </section>

  <!-- Free Programs -->
  <section class="padding-vertical-3 bg-binary">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell medium-7">
          <h2 class="title text-primary">Free coding programs for kids and teens.</h2>
          <p>We All Code lessons teach STEM through experience. With one mentor for every two students, kids can build confidence and get the attention they need to thrive.</p>
          <a href="{% url 'weallcode-programs' %}" class="button large">See All Programs</a>
        </div>
        <div class="cell medium-5">
          <img class="width-100" src="{% static 'weallcode/images/photos/mentor-ratio.jpg' %}" alt="mentor and student">
        </div>
      </div>
    </div>
  </section>

  <!-- Get Involved -->
  <section class="padding-vertical-3 bg-dark-blue">
    <div class="grid-container">
      <h3 class="title text-white text-center">Get Involved</h3>

      <div class="grid-x grid-padding-x margin-vertical-3">
        <!-- Cell -->
        <div class="small-12 medium-6 large-4 cell margin-bottom-2">
          <div class="bg-white radius">
            <h6 class="text-uppercase padding-1 margin-0 text-grey-for-white">Volunteers</h6>
            <img class="width-100" src="{% static 'weallcode/images/photos/get-involved-volunteer.jpg' %}" alt="">
            <div class="padding-1 padding-horizontal-2 text-center">
              <a class="button bg-gray-for-blue width-100 margin-top-1" href="{% url 'weallcode-get-involved' %}#volunteer">Volunteer</a>
            </div>
          </div>
        </div>

        <!-- Cell -->
        <div class="small-12 medium-6 large-4 cell margin-bottom-2">
          <div class="bg-white radius">
            <h6 class="text-uppercase padding-1 margin-0 text-grey-for-white">Donors</h6>
            <img class="width-100" src="{% static 'weallcode/images/photos/get-involved-donor.jpg' %}" alt="">
            <div class="padding-1 padding-horizontal-2 text-center">
              <a class="button bg-tertiary width-100 margin-top-1" href="{% url 'weallcode-get-involved' %}#donate">Donate</a>
            </div>
          </div>
        </div>

        <!-- Cell -->
        <div class="small-12 medium-6 large-4 cell margin-bottom-2">
          <div class="bg-white radius">
            <h6 class="text-uppercase padding-1 margin-0 text-grey-for-white">Sponsors</h6>
            <img class="width-100" src="{% static 'weallcode/images/photos/get-involved-sponsor.jpg' %}" alt="">
            <div class="padding-1 padding-horizontal-2 text-center">
              <a class="button bg-primary width-100 margin-top-1" href="{% url 'weallcode-get-involved' %}#sponsor">Sponsor</a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="cell small-4 medium-auto margin-bottom-2">
          <img class="width-100" src="{% static 'weallcode/images/sponsors/activecampaign.png' %}" alt="Active Campaign logo">
        </div>
        <div class="cell small-4 medium-auto margin-bottom-2">
          <img class="width-100" src="{% static 'weallcode/images/sponsors/cme-group-foundation.png' %}" alt="CME Group Goundation logo">
        </div>
        <div class="cell small-4 medium-auto margin-bottom-2">
          <img class="width-100" src="{% static 'weallcode/images/sponsors/mind-hand.png' %}" alt="Mind+Hand logo">
        </div>
        <div class="cell small-4 medium-auto margin-bottom-2">
          <img class="width-100" src="{% static 'weallcode/images/sponsors/spothero.png' %}" alt="SpotHero logo">
        </div>
        <div class="cell small-4 medium-auto margin-bottom-2">
          <img class="width-100" src="{% static 'weallcode/images/sponsors/the-nerdery.png' %}" alt="Nerdery logo">
        </div>
        <div class="cell small-4 medium-auto margin-bottom-2">
          <img class="width-100" src="{% static 'weallcode/images/sponsors/west-town.png' %}" alt="West Town logo">
        </div>
        <div class="cell small-4 medium-auto margin-bottom-2">
          <img class="width-100" src="{% static 'weallcode/images/sponsors/wyzant.png' %}" alt="Wyzant logo">
        </div>
      </div>
    </div>
  </section>
{% endblock %}
