{% extends 'weallcode/_base.html' %}

{% load static %}

{% block title %}Programs | {{ block.super }}{% endblock %}

{% block page-class %}progams{% endblock %}

{% block subheader %}
<div class="sub-menu">
  <nav class="grid-container" role="navigation">
    <ul class="menu align-right">
      <li><a href="{% url 'weallcode_programs' %}#classes">Classes</a></li>
      <li><a href="{% url 'weallcode_programs' %}#pathways">Pathways</a></li>
      <li><a href="{% url 'weallcode_programs' %}#courses">Courses</a></li>
      <li><a href="{% url 'weallcode_programs' %}#summer-camps">Summer Camps</a></li>
    </ul>
  </nav>
</div>
{% endblock subheader %}

{% block content %}
<section class="hero">
  <img src="{% static 'weallcode/images/photos/hero-programs.png' %}" alt="classroom">
</section>

<section class="grid-container padding-vertical-3">
  <a id="classes"></a>
  <h2 class="title text-tertiary margin-bottom-2">Classes</h2>
  <p>Classes are offered during the weekend, run 3 to 5 hours long, and concentrate on teaching specific coding topics, like HTML 1.</p>
</section>

<section class="grid-container padding-vertical-3">
  <a id="pathways"></a>
  <h2 class="title text-tertiary margin-bottom-2">Pathways</h2>
  <p>PLACEHOLDER CONTENT We All Code works hard to make sure kids learn in a safe and supportive environment. We could not do it alone either. Thanks to organization leaders, teachers, mentors and volunteers, we can help run relatively free classes that help kids and community. Something else about efforts together equalling success.</p>

  <div class="grid-x grid-margin-x grid-margin-y margin-top-2 text-white text-center">
    <div class="cell padding-2 large-4 bg-gray-blue">
      <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell medium-2 large-12">
          <svg class="fill-white program-icon"><use xlink:href="#frontend"></use></svg>
        </div>
        <div class="cell medium-10 large-12 medium-text-left large-text-center">
          <div>
            <h4 class="text-uppercase padding-top-1">Front-end Development</h4>
            <p>We All Code works hard to make sure kids learn in a safe.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cell padding-2 large-4 bg-tertiary">
      <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell medium-2 large-12">
          <svg class="fill-white program-icon"><use xlink:href="#backend"></use></svg>
        </div>
        <div class="cell medium-10 large-12 medium-text-left large-text-center">
          <div>
            <h4 class="text-uppercase padding-top-1">Back-end Development</h4>
            <p>We All Code works hard to make sure kids learn in a safe.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cell padding-2 large-4 bg-primary">
      <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell medium-2 large-12">
          <svg class="fill-white program-icon"><use xlink:href="#design"></use></svg>
        </div>
        <div class="cell medium-10 large-12 medium-text-left large-text-center">
          <div>
            <h4 class="text-uppercase padding-top-1">Design &amp; Communication</h4>
            <p>We All Code works hard to make sure kids learn in a safe.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="grid-container padding-vertical-3">
  <a id="courses"></a>
  <h2 class="title text-tertiary margin-bottom-2">Courses</h2>
  <p>PLACEHOLDER CONTENT We All Code works hard to make sure kids learn in a safe and supportive environment. We could not do it alone either. Thanks to organization leaders, teachers, mentors and volunteers, we can help run relatively free classes that help kids and community. Something else about efforts together equalling success.</p>
</section>

<section class="grid-container padding-vertical-3">
  <a id="summer-camps"></a>
  <h2 class="title text-tertiary margin-bottom-2">Summer Camps</h2>
  <p>Week-long summer experiences offering students the chance to learn in-depth skills like project management, quality assurance, and social skills along with code.</p>
</section>
{% endblock content %}
