{% extends 'weallcode/_base.html' %}

{% load static %}

{% block title %}Team | {{ block.super }}{% endblock %}

{% block page-class %}team{% endblock %}

{% block subheader %}
<div class="sub-menu">
  <nav class="grid-container" role="navigation">
    <ul class="menu align-right">
      <li><a href="{% url 'weallcode_team' %}#leadership">Leadership</a></li>
      <li><a href="{% url 'weallcode_team' %}#board">Board</a></li>
      <li><a href="{% url 'weallcode_team' %}#associate-board">Associate Board</a></li>
      <li><a href="{% url 'weallcode_team' %}#head-teachers">Head Teachers</a></li>
      <li><a href="{% url 'weallcode_team' %}#mentors">Mentors</a></li>
      <li><a href="{% url 'weallcode_team' %}#volunteers">Volunteers</a></li>
    </ul>
  </nav>
</div>
{% endblock subheader %}

{% block content %}
<section class="hero">
  <img src="{% static 'weallcode/images/photos/hero-team.png' %}" alt="team">
</section>

<section class="grid-container padding-vertical-3">
  <h1 class="title text-tertiary margin-bottom-2">The Team</h1>
  <p>We All Code works hard to make sure kids learn in a safe and supportive environment. We could not do it alone either. Thanks to organization leaders, teachers, mentors and volunteers, we can help run relatively free classes that help kids and community. Something else about efforts together equalling success.</p>
</section>

<!-- Leadership -->
<section id="leadership" class="bg-dark-blue text-center padding-vertical-3">
  <div class="grid-container">
    <div class="text-white">
      <h3 class="title">Leadership</h3>
      <p class="padding-horizontal-3">Need something <strong class="text-secondary">warm hearted and inspiring</strong> here that explains how great the leadership is, how that impacts the organization, and why people should believe/trust it.</p>
    </div>

    <div class="grid-x grid-margin-x grid-margin-y margin-top-2">
      <div class="cell small-10 small-offset-1 medium-6 medium-offset-0 bg-white">
        <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
        <div class="padding-vertical-2">
          <h4 class="text-uppercase text-primary">Ali Karbassi</h4>
          <div class="text-uppercase text-grey-for-white">Founder, CEO of We All Code</div>
        </div>
      </div>
      <div class="cell small-10 small-offset-1 medium-6 medium-offset-0 bg-white">
        <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
        <div class="padding-vertical-2">
          <h4 class="text-uppercase text-primary">Brian Pastor</h4>
          <div class="text-uppercase text-grey-for-white">Chief Operating Officer</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Board -->
<section id="board" class="text-center padding-vertical-3 bg-light-gray">
  <div class="grid-container">
    <h3 class="title text-tertiary">Board</h3>
    <p class="padding-horizontal-3">Need something <strong class="text-secondary">warm hearted and inspiring</strong> here that explains how great the leadership is, how that impacts the organization, and why people should believe/trust it.</p>

    <div class="grid-x grid-margin-x grid-margin-y margin-top-2">
      <div class="cell small-6 medium-4 bg-dark-blue color-white">
        <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
        <div class="padding-vertical-2">
          <h4 class="text-uppercase text-white">Person One</h4>
          <div class="text-uppercase text-grey-for-white">Board Member Title</div>
        </div>
      </div>
      <div class="cell small-6 medium-4 bg-dark-blue color-white">
        <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
        <div class="padding-vertical-2">
          <h4 class="text-uppercase text-white">Person One</h4>
          <div class="text-uppercase text-grey-for-white">Board Member Title</div>
        </div>
      </div>
      <div class="cell small-6 medium-4 bg-dark-blue color-white">
        <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
        <div class="padding-vertical-2">
          <h4 class="text-uppercase text-white">Person One</h4>
          <div class="text-uppercase text-grey-for-white">Board Member Title</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Associate Board -->
<section id="associate-board" class="text-center padding-vertical-3 grid-container">
  <h3 class="title text-primary">Associate Board</h3>
  <p class="padding-horizontal-3">Need something <strong class="text-secondary">warm hearted and inspiring</strong> here that explains how great the leadership is, how that impacts the organization, and why people should believe/trust it.</p>

  <div class="grid-x grid-margin-x grid-margin-y margin-top-2">
    <div class="cell small-4 medium-3 bg-dark-blue color-white">
      <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
      <div class="padding-vertical-1">
        <h6 class="text-uppercase text-white">Person One</h6>
        <div class="text-uppercase text-grey-for-white">One</div>
      </div>
    </div>
    <div class="cell small-4 medium-3 bg-dark-blue color-white">
      <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
      <div class="padding-vertical-1">
        <h6 class="text-uppercase text-white">Person One</h6>
        <div class="text-uppercase text-grey-for-white">One</div>
      </div>
    </div>
    <div class="cell small-4 medium-3 bg-dark-blue color-white">
      <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
      <div class="padding-vertical-1">
        <h6 class="text-uppercase text-white">Person One</h6>
        <div class="text-uppercase text-grey-for-white">One</div>
      </div>
    </div>
    <div class="cell small-4 medium-3 bg-dark-blue color-white">
      <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
      <div class="padding-vertical-1">
        <h6 class="text-uppercase text-white">Person One</h6>
        <div class="text-uppercase text-grey-for-white">One</div>
      </div>
    </div>
    <div class="cell small-4 medium-3 bg-dark-blue color-white">
      <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
      <div class="padding-vertical-1">
        <h6 class="text-uppercase text-white">Person One</h6>
        <div class="text-uppercase text-grey-for-white">One</div>
      </div>
    </div>
    <div class="cell small-4 medium-3 bg-dark-blue color-white">
      <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
      <div class="padding-vertical-1">
        <h6 class="text-uppercase text-white">Person One</h6>
        <div class="text-uppercase text-grey-for-white">One</div>
      </div>
    </div>
    <div class="cell small-4 medium-3 bg-dark-blue color-white">
      <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
      <div class="padding-vertical-1">
        <h6 class="text-uppercase text-white">Person One</h6>
        <div class="text-uppercase text-grey-for-white">One</div>
      </div>
    </div>
    <div class="cell small-4 medium-3 bg-dark-blue color-white">
      <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
      <div class="padding-vertical-1">
        <h6 class="text-uppercase text-white">Person One</h6>
        <div class="text-uppercase text-grey-for-white">One</div>
      </div>
    </div>
  </div>
</section>

<!-- Head Teachers -->
<section id="head-teachers" class="bg-dark-blue text-center padding-vertical-3">
  <div class="grid-container">
    <div class="text-white">
      <h3 class="title">Head Teachers</h3>
      <p class="padding-horizontal-3">Need something <strong class="text-secondary">warm hearted and inspiring</strong> here that explains how great the leadership is, how that impacts the organization, and why people should believe/trust it.</p>
    </div>

    <div class="grid-x grid-margin-x grid-margin-y margin-top-2">
      <div class="cell small-6 medium-4 medium-offset-0">
        <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
        <div class="padding-vertical-2">
          <h6 class="text-uppercase text-white">Person One</h6>
          <div class="text-uppercase text-grey-for-white">HTML, CSS, & JavaScript</div>
        </div>
      </div>
      <div class="cell small-6 medium-4 medium-offset-0">
        <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
        <div class="padding-vertical-2">
          <h6 class="text-uppercase text-white">Person One</h6>
          <div class="text-uppercase text-grey-for-white">HTML, CSS, & JavaScript</div>
        </div>
      </div>
      <div class="cell small-6 medium-4 medium-offset-0">
        <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
        <div class="padding-vertical-2">
          <h6 class="text-uppercase text-white">Person One</h6>
          <div class="text-uppercase text-grey-for-white">HTML, CSS, & JavaScript</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mentors -->
<section id="mentors" class="padding-vertical-3 bg-light-gray">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-5">
        <h2 class="title text-tertiary">Mentorship makes all the difference</h2>
        <p>Need something <strong class="text-secondary">warm hearted and inspiring</strong> here that explains how great the leadership is, how that impacts the organization, and why people should believe/trust it.</p>
      </div>
      <div class="cell medium-offset-1 medium-6">
        <div class="binary-drop-right">
          <img class="width-100" src="{% static 'weallcode/images/photos/mentoring.png' %}" alt="mentors">
        </div>
      </div>
    </div>

    <div class="grid-x grid-margin-x grid-margin-y margin-top-3 text-center">
      <div class="cell small-4 medium-3 bg-dark-blue color-white">
        <div class="position-relative">
          <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
          <div class="bottom-label bg-primary text-white">
            <strong>400+</strong><br><small>Hours</small>
          </div>
        </div>
        <div class="padding-vertical-2">
          <h6 class="text-uppercase text-white">Person One</h6>
          <div class="text-uppercase text-grey-for-white">Volunteer Title</div>
        </div>
      </div>
      <div class="cell small-4 medium-3 bg-dark-blue color-white">
        <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
        <div class="padding-vertical-2">
          <h6 class="text-uppercase text-white">Person One</h6>
          <div class="text-uppercase text-grey-for-white">Volunteer Title</div>
        </div>
      </div>
      <div class="cell small-4 medium-3 bg-dark-blue color-white">
        <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
        <div class="padding-vertical-2">
          <h6 class="text-uppercase text-white">Person One</h6>
          <div class="text-uppercase text-grey-for-white">Volunteer Title</div>
        </div>
      </div>
      <div class="cell small-4 medium-3 bg-dark-blue color-white">
        <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
        <div class="padding-vertical-2">
          <h6 class="text-uppercase text-white">Person One</h6>
          <div class="text-uppercase text-grey-for-white">Volunteer Title</div>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center">
    <a href="button tertiary" href="{% url 'weallcode_team' %}#all-mentors"></a>
  </p>
</section>

<!-- Volunteers -->
<section id="volunteers" class="padding-vertical-3 grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell medium-6">
      <div class="binary-drop-left">
        <img class="width-100" src="{% static 'weallcode/images/photos/volunteering.png' %}" alt="volunteers">
      </div>
    </div>
    <div class="cell medium-offset-1 medium-5">
      <h2 class="title text-primary">Volunteering for a better tomorrow</h2>
      <p>Need something <strong class="text-secondary">warm hearted and inspiring</strong> here that explains how great the leadership is, how that impacts the organization, and why people should believe/trust it.</p>
    </div>
  </div>

  <div class="grid-x grid-margin-x grid-margin-y margin-top-3 text-center">
    <div class="cell small-4 medium-3">
      <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
      <div class="padding-vertical-1">
        <h6 class="text-uppercase">Person One</h6>
        <div class="text-uppercase text-grey-for-white">One</div>
      </div>
    </div>
    <div class="cell small-4 medium-3">
      <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
      <div class="padding-vertical-1">
        <h6 class="text-uppercase">Person One</h6>
        <div class="text-uppercase text-grey-for-white">One</div>
      </div>
    </div>
    <div class="cell small-4 medium-3">
      <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
      <div class="padding-vertical-1">
        <h6 class="text-uppercase">Person One</h6>
        <div class="text-uppercase text-grey-for-white">One</div>
      </div>
    </div>
    <div class="cell small-4 medium-3">
      <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
      <div class="padding-vertical-1">
        <h6 class="text-uppercase">Person One</h6>
        <div class="text-uppercase text-grey-for-white">One</div>
      </div>
    </div>
    <div class="cell small-4 medium-3">
      <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
      <div class="padding-vertical-1">
        <h6 class="text-uppercase">Person One</h6>
        <div class="text-uppercase text-grey-for-white">One</div>
      </div>
    </div>
    <div class="cell small-4 medium-3">
      <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
      <div class="padding-vertical-1">
        <h6 class="text-uppercase">Person One</h6>
        <div class="text-uppercase text-grey-for-white">One</div>
      </div>
    </div>
    <div class="cell small-4 medium-3">
      <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
      <div class="padding-vertical-1">
        <h6 class="text-uppercase">Person One</h6>
        <div class="text-uppercase text-grey-for-white">One</div>
      </div>
    </div>
    <div class="cell small-4 medium-3">
      <img class="width-100" src="https://www.fillmurray.com/300/200" alt="That's your opinion man">
      <div class="padding-vertical-1">
        <h6 class="text-uppercase">Person One</h6>
        <div class="text-uppercase text-grey-for-white">One</div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
