{% extends 'weallcode/_base.html' %}

{% load static %}

{% block title %}Team | {{ block.super }}{% endblock %}

{% block page-class %}team{% endblock %}

{% block subheader %}
<div class="sub-menu">
  <nav class="grid-container" role="navigation">
    <ul class="menu">
      <li><a href="{% url 'weallcode_team' %}#leadership">Leadership</a></li>
      <li><a href="{% url 'weallcode_team' %}#board">Board</a></li>
      <li><a href="{% url 'weallcode_team' %}#associate-board">Associate Board</a></li>
      <li><a href="{% url 'weallcode_team' %}#head-teachers">Head Teachers</a></li>
      <li><a href="{% url 'weallcode_team' %}#mentors">Mentors</a></li>
      <li><a href="{% url 'weallcode_team' %}#volunteers">Volunteers</a></li>
    </ul>
  </nav>
</div>
{% endblock subheader %}

{% block content %}

{% include "weallcode/snippets/hero_image.html" with src="weallcode/images/photos/hero-team.jpg" alt="our team" %}

<section class="padding-vertical-3">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-7 text-center medium-text-left">
        <h1 class="title text-tertiary margin-bottom-2">The Team</h1>
        <p>We All Code works hard to make sure kids learn in a safe and supportive environment. We could not do it alone either. Thanks to organization leaders, teachers, mentors and volunteers, we can help run relatively free classes that help kids and community. Something else about efforts together equalling success.</p>
      </div>
      <div class="cell large-offset-1 large-4 position-relative">
        <div class="aside-title">
          <div>
            <span class="text-tertiary display-inline-block">Team work </span>
            <span class="text-tertiary display-inline-block">makes </span>
            <span class="text-secondary display-inline-block">the dream </span>
            <span class="text-white display-inline-block">work</span>
          </div>
          <div class="line width-25 bg-primary margin-top-1"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Leadership -->
<section id="leadership" class="bg-dark-blue text-center padding-vertical-3">
  <div class="grid-container">
    <div class="text-white">
      <h2 class="title">Leadership</h2>
      <p class="medium-padding-horizontal-3">Need something <strong class="text-secondary">warm hearted and inspiring</strong> here that explains how great the leadership is, how that impacts the organization, and why people should believe/trust it.</p>
    </div>

    <div class="grid-x grid-margin-x grid-margin-y margin-top-2">
      <div class="cell small-6">
        {% include "weallcode/snippets/team_member.html" with is_on_dark=True name="Ali Karbassi" title="Founder, CEO of We All Code" color="secondary" static_image="weallcode/images/team/ali-karbassi.jpg" %}
      </div>
      <div class="cell small-6">
        {% include "weallcode/snippets/team_member.html" with is_on_dark=True name="Brian Pastor" title="Chief Operating Officer" color="secondary" static_image="weallcode/images/team/brian-pastor.jpg" %}
      </div>
    </div>
  </div>
</section>

<!-- Board -->
<section id="board" class="text-center padding-vertical-3 bg-light-gray">
  <div class="grid-container">
    <h2 class="title text-tertiary">Board</h2>
    <p class="medium-padding-horizontal-3">Need something <strong class="text-secondary">warm hearted and inspiring</strong> here that explains how great the leadership is, how that impacts the organization, and why people should believe/trust it.</p>

    <div class="grid-x grid-margin-x grid-margin-y margin-top-2">
      <div class="cell small-6 medium-4">
        {% include "weallcode/snippets/team_member.html" with name="Person One" title="Board Member Title" color="tertiary" %}
      </div>
      <div class="cell small-6 medium-4">
        {% include "weallcode/snippets/team_member.html" with name="Person One" title="Other Board Member Title" color="tertiary" %}
      </div>
      <div class="cell small-6 medium-4">
        {% include "weallcode/snippets/team_member.html" with name="Person One" title="Board Member Title" color="tertiary" %}
      </div>
    </div>
  </div>
</section>

<!-- Associate Board -->
<section id="associate-board" class="text-center padding-vertical-3">
  <div class="grid-container">
    <h2 class="title text-primary">Associate Board</h2>
    <p class="medium-padding-horizontal-3">Need something <strong class="text-secondary">warm hearted and inspiring</strong> here that explains how great the leadership is, how that impacts the organization, and why people should believe/trust it.</p>

    <div class="grid-x grid-margin-x grid-margin-y margin-top-2">
      <div class="cell small-6 medium-3">
        {% include "weallcode/snippets/team_member.html" with is_small=True name="Alexandra<br>Rodriguez-Beuerman" title="Associate Board Director" color="primary" %}
      </div>
      <div class="cell small-6 medium-3">
        {% include "weallcode/snippets/team_member.html" with is_small=True name="Daniel Conrad" title="Associate Board Director" color="primary" %}
      </div>
      <div class="cell small-6 medium-3">
        {% include "weallcode/snippets/team_member.html" with is_small=True name="Ignacio Martinez" title="Associate Board Director" color="primary" %}
      </div>
      <div class="cell small-6 medium-3">
        {% include "weallcode/snippets/team_member.html" with is_small=True name="Jordan Polonsky" title="Associate Board Director" color="primary" %}
      </div>
      <div class="cell small-6 medium-3">
        {% include "weallcode/snippets/team_member.html" with is_small=True name="Ken Ballard" title="Associate Board Director" color="primary" %}
      </div>
      <div class="cell small-6 medium-3">
        {% include "weallcode/snippets/team_member.html" with is_small=True name="Matt Felz" title="Associate Board Director" color="primary" %}
      </div>
      <div class="cell small-6 medium-3">
        {% include "weallcode/snippets/team_member.html" with is_small=True name="Ovini Silva" title="Associate Board Director" color="primary" %}
      </div>
      <div class="cell small-6 medium-3">
        {% include "weallcode/snippets/team_member.html" with is_small=True name="Peter Binggeser" title="Associate Board Director" color="primary" %}
      </div>
      <div class="cell small-6 medium-3">
        {% include "weallcode/snippets/team_member.html" with is_small=True name="Saundra Castaneda" title="Associate Board Director" color="primary" %}
      </div>
      <div class="cell small-6 medium-3">
        {% include "weallcode/snippets/team_member.html" with is_small=True name="Tatyana Shestopalova" title="Associate Board Director" color="primary" %}
      </div>
    </div>
  </div>
</section>

<!-- Head Teachers -->
<section id="head-teachers" class="bg-dark-blue text-center padding-vertical-3">
  <div class="grid-container">
    <div class="text-white">
      <h2 class="title">Head Teachers</h2>
      <p class="medium-padding-horizontal-3">Need something <strong class="text-secondary">warm hearted and inspiring</strong> here that explains how great the leadership is, how that impacts the organization, and why people should believe/trust it.</p>
    </div>

    <div class="grid-x grid-margin-x grid-margin-y margin-top-2">
      <div class="cell small-6 medium-4">
        {% include "weallcode/snippets/team_member.html" with is_on_dark=True name="Person One" title="HTML, CSS, & JavaScript" color="secondary" %}
      </div>
      <div class="cell small-6 medium-4">
        {% include "weallcode/snippets/team_member.html" with is_on_dark=True name="Person One" title="HTML, CSS, & JavaScript" color="secondary" %}
      </div>
      <div class="cell small-6 medium-4">
        {% include "weallcode/snippets/team_member.html" with is_on_dark=True name="Person One" title="HTML, CSS, & JavaScript" color="secondary" %}
      </div>
    </div>
  </div>
</section>

<!-- Mentors -->
<section id="mentors" class="padding-vertical-3 bg-light-gray">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-5">
        <h2 class="title text-tertiary">Mentorship makes all the difference</h2>
        <p>Need something <strong class="text-secondary">warm hearted and inspiring</strong> here that explains how great the leadership is, how that impacts the organization, and why people should believe/trust it.</p>
      </div>
      <div class="cell medium-offset-1 medium-6">
        <div class="binary-drop-right">
          <img class="width-100" src="{% static 'weallcode/images/photos/mentoring.png' %}" alt="mentors">
        </div>
      </div>
    </div>

    <div class="grid-x grid-margin-x grid-margin-y margin-top-3">
      {% for mentor in mentors %}
        <div class="cell small-6 medium-3">
          {% include "weallcode/snippets/team_member.html" with is_small=True name=mentor.full_name label=mentor.session_count sublabel="classes" %}
        </div>
      {% endfor %}
    </div>
  </div>
  <p class="text-center">
    <a href="button tertiary" href="{% url 'weallcode_team' %}#all-mentors"></a>
  </p>
</section>

<!-- Volunteers -->
<section id="volunteers" class="padding-vertical-3">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell show-for-large large-6">
        <div class="binary-drop-left">
          <img class="width-100" src="{% static 'weallcode/images/photos/volunteering.png' %}" alt="volunteers">
        </div>
      </div>
      <div class="cell large-offset-1 large-5">
        <h2 class="title text-primary">Volunteering for a better tomorrow</h2>
        <p>Need something <strong class="text-secondary">warm hearted and inspiring</strong> here that explains how great the leadership is, how that impacts the organization, and why people should believe/trust it.</p>
      </div>
    </div>

    <div class="grid-x grid-margin-x grid-margin-y margin-top-3">
      {% for volunteer in top_volunteers %}
        <div class="cell small-6 medium-3">
          {% include "weallcode/snippets/team_member.html" with is_small=True name=volunteer.full_name %}
        </div>
      {% endfor %}
    </div>

    <div class="volunteer-toggle hide grid-x grid-margin-x grid-margin-y margin-top-1">
      {% for volunteer in other_volunteers %}
        <div class="cell small-6 medium-3">
          {% include "weallcode/snippets/team_member.html" with is_small=True name=volunteer.full_name %}
        </div>
      {% endfor %}
    </div>

    {% if other_volunteers %}
    <div class="volunteer-toggle text-center margin-vertical-2">
      <button class="button secondary" data-toggler=".volunteer-toggle" data-toggle-class="hide">See More Volunteers</button>
    </div>
    {% endif %}

  </div>
</section>
{% endblock %}
