{% extends "account/email/_allauth_email_base.html" %}

{% load i18n %}

{% block child_subject %}Password Reset E-mail{% endblock %}

{% block child_preheader %}Hello from {{ current_site.name }}!{% endblock %}

{% block child_content %}
    <p>{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Hello from {{ site_name }}!{% endblocktrans %}</p>
    <p>{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}You're receiving this e-mail because you or someone else has requested a password for your user account at {{ site_domain }}.{% endblocktrans %}</p>
    <p>{% blocktrans %}It can be safely ignored if you did not request a password reset. Click the link below to reset your password.{% endblocktrans %}</p>

    <p>{% autoescape off %}<a href="{{ password_reset_url }}">{{ password_reset_url }}</a>{% endautoescape %}</p>

    {% if username %}<p>{% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}</p>{% endif %}

    <p>{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Thank you for using {{ site_name }}!{% endblocktrans %}</p>
{% endblock %}
