{% load static i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" {% if DEBUG %}class="debug"{% endif %}>
    <head>
        <title>{% block title %}We All Code - Welcome!{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block extra_meta %}{% endblock %}

        <link rel="shortcut icon" href="{% static 'weallcode/images/favicon/favicon.ico' %}?v=12">
        <link href="{% static 'weallcode/css/vendor/google-fonts.css' %}" rel="stylesheet">
        <link href="{% static 'weallcode/css/vendor/font-awesome-4.6.3.min.css' %}" rel="stylesheet">
        <link href="{% static 'weallcode/css/vendor/bootstrap-3.3.7.min.css' %}" rel="stylesheet" >

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="{% static 'weallcode/js/vendor/html5shiv.min.js' %}"></script>
            <script src="{% static 'weallcode/js/vendor/respond.min.js' %}"></script>
        <![endif]-->

        {% block extra_style %}{% endblock %}

        {% block extra_head %}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% block topnav %}
            {% include "_topnav.html" %}
        {% endblock %}

        {% block body_base %}
            {% include "_messages_bootstrap.html" %}
            {% block content %}{% endblock %}
        {% endblock %}

        {% block footer_base %}
        {% endblock %}

        {% block script_base %}

            <!-- jQuery CDN -->
            <script src="{% static 'weallcode/js/vendor/jquery-1.12.4.min.js' %}"></script>

            <!-- Latest compiled and minified JavaScript -->
            <script src="{% static 'weallcode/js/vendor/bootstrap-3.3.7.min.js' %}"></script>

            {% block extra_script %}{% endblock %}
        {% endblock %}

        {% block extra_body %}{% endblock %}
    </body>
</html>
