{% load static i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" {% if DEBUG %}class="debug"{% endif %}>
    <head>
        <title>{% block title %}CoderDojoChi - Welcome!{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block extra_meta %}{% endblock %}

        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Quicksand:300,400,700" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block extra_style %}{% endblock %}

        {% block extra_head %}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% block topnav %}
            {% include "_topnav.html" %}
        {% endblock %}

        {% block body_base %}
            {% include "_messages_bootstrap.html" %}
            {% block content %}{% endblock %}
        {% endblock %}

        {% block footer_base %}
        {% endblock %}

        {% block script_base %}

            <!-- jQuery CDN -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

            {% block extra_script %}{% endblock %}
        {% endblock %}

        {% block extra_body %}{% endblock %}
    </body>
</html>
