body {
  /* Primary */
  --we-blue: #426cff;
  --primary: #426cff;

  /* Secondary */
  --all-yellow: #f6bb47;
  --secondary: #f6bb47;

  /* Tertiary */
  --code-red: #df504d;
  --tertiary: #df504d;

  /* Supporting Colors */
  --dark-blue: #070834;
  --black: #000000;
  --gray-4-blue: #606060;
  --gray-4-white: #b2b2b2;

  font-family: 'Open Sans', sans-serif;
}

.button, .input-group-label {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', cursive;
}

.title {
  font-family: 'Bungee', cursive;
}

.subtitle {
  margin-top: -0.5em;
  font-size: 1.5em;
}

.site {
  max-width: 64em;
  margin: 0 auto;
  padding: 1em;
}

header {
  background-color: var(--dark-blue);
}

.mega-menu .dropdown-pane {
  width: 100%;
  max-width: 85rem;
  margin: 0 auto !important;
  left: 0% !important;
  right: 0% !important;
}

.mega-menu .menu {
  background: none;
}

.mega-link:hover {
  margin-bottom: -3px;
  border-bottom: 3px solid white;
}

.mega-menu > a {
  color: white;
  font-family: 'Poppins';
}

.text-primary {
  color: var(--we-blue);
}

.text-secondary {
  color: var(--all-yellow);
}

.text-tertiary {
  color: var(--code-red);
}

.text-white {
  color: white;
}

.text-grey-for-white {
  color: var(--gray-4-white);
}

.text-grey-for-blue {
  color: var(--gray-4-blue);
}

.bg-primary {
  background-color: var(--we-blue);
}

.bg-secondary {
  background-color: var(--all-yellow);
}

.bg-tertiary {
  background-color: var(--code-red);
}

.bg-gray-blue {
  background-color: var(--gray-4-blue);
}

.bg-binary {
  background-color: var(--all-yellow);
  background-image: url(../images/backgrounds/binary-repeatable.png);
  background-repeat: repeat;
  background-size: 10%;
  padding: 3rem;
}

.bg-white {
  background-color: white;
}

.fill-white {
  fill: white;
}

/* to override the button color */
.button.text-white {
  color: white;
}

/* To remove borders from cards and callouts when not needed */
.borderless {
  border: none;
}

.get-involved {
  background-color: var(--dark-blue);
  padding: 4em 0;
}

#logo {
  height: 4em;
  padding: 1.2em;
  margin: 0 -1.2em;
}

footer {
  background-color: var(--black);
  color: white;
  padding: 3em 0;
  font-size: 0.83em;
}

footer nav {
  padding: 2em 0;
  margin: 2em 0;
  border: 1px solid var(--gray-4-blue);
  border-left: 0;
  border-right: 0;
}

footer ul,
footer li {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer a {
  display: inline-block;
  font-weight: normal;
  padding: 0.2em 0;
  color: var(--gray-4-white);
}

footer a:hover {
  color: white;
}

footer nav a.group-link {
  font-weight: 600;
  color: white;
  padding: 0.4em 0;
}

footer small span {
  padding-right: 2em;
}
