body {
  /* Primary */
  --we-blue: #426cff;
  --primary: #426cff;

  /* Secondary */
  --all-yellow: #f6bb47;
  --secondary: #f6bb47;

  /* Tertiary */
  --code-red: #df504d;
  --tertiary: #df504d;

  /* Supporting Colors */
  --dark-blue: #070834;
  --black: #000000;
  --gray-4-blue: #606060;
  --gray-4-white: #b2b2b2;
  --white: #ffffff;
  --light-gray: #eaeaea;

  font-family: 'Open Sans', sans-serif;
}

small {
  font-size: 75%;
}

.button,
.input-group-label {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', cursive;
}

h1 {
  line-height: 1.2em;
}

h2 {
  line-height: 1.3em;
}

ul.list-plus {
  font-size: 20px;
  list-style-type: none;
  margin-left: 2px;
}

ul.list-plus li {
  background-image: url("../images/plus-red.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 23px;

  margin-bottom: 1em;
  padding-left: 2.5em;
}

.title {
  font-family: 'Bungee', cursive;
}

.subtitle {
  margin-top: -0.5em;
  font-size: 1.5em;
}

.site {
  max-width: 64em;
  margin: 0 auto;
  padding: 1em;
}

.text-primary {
  color: var(--we-blue);
}

.text-secondary {
  color: var(--all-yellow);
}

.text-tertiary {
  color: var(--code-red);
}

.text-white {
  color: var(--white);
}

.text-grey-for-white {
  color: var(--gray-4-white);
}

.text-grey-for-blue {
  color: var(--gray-4-blue);
}

.bg-primary {
  background-color: var(--we-blue);
}

.bg-secondary {
  background-color: var(--all-yellow);
}

.bg-tertiary {
  background-color: var(--code-red);
}

.bg-gray-blue {
  background-color: var(--gray-4-blue);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.bg-binary {
  background-color: var(--all-yellow);
  background-image: url(../images/backgrounds/binary-repeatable.png);
  background-repeat: repeat;
  background-size: 10%;
}

.binary-drop-left,
.binary-drop-right {
  position: relative;
  display: block;
}

.binary-drop-left img,
.binary-drop-right img {
  position: relative;
}

.binary-drop-left::before,
.binary-drop-right::before {
  content: ' ';
  position: absolute;
  display: block;
  top: 1rem;
  bottom: -1rem;
  background-color: var(--all-yellow);
  background-image: url(../images/backgrounds/binary-repeatable.png);
  background-repeat: repeat;
  background-size: 10%;
}

.binary-drop-left::before {
  right: 1rem;
  left: -1rem;
}

.binary-drop-right::before {
  right: -1rem;
  left: 1rem;
}

.binary-drop-left img,
.binary-drop-right img {
  display: block;
}

.bg-white {
  background-color: var(--white);
}

.fill-white {
  fill: var(--white);
}

.program-icon {
  max-height: 7rem;
  width: 100%;
}

/* to override the button color */
.button.text-white {
  color: var(--white);
}

/* To remove borders from cards and callouts when not needed */
.borderless {
  border: none;
}

.bottom-label {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.3rem 0.5rem;
  line-height: 0.83em;
  text-transform: uppercase;
  position: absolute;
}

.hero {
  max-height: 25rem;
  overflow: hidden;
}

.hero img {
  width: 100%;
}

.get-involved {
  background-color: var(--dark-blue);
  padding: 4em 0;
}

.main-menu .logo {
  height: 4em;
  padding: 1.2em;
  margin: 0 -1.2em;
}

footer {
  background-color: var(--black);
  color: var(--white);
  padding: 3em 0;
  font-size: 0.83em;
}

footer nav {
  padding: 2em 0;
  margin: 2em 0;
  border: 1px solid var(--gray-4-blue);
  border-left: 0;
  border-right: 0;
}

footer ul,
footer li {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer a {
  display: inline-block;
  font-weight: normal;
  padding: 0.2em 0;
  color: var(--gray-4-white);
}

footer a:hover {
  color: white;
}

footer nav a.group-link {
  font-weight: 600;
  color: white;
  padding: 0.4em 0;
}

footer small span {
  padding-right: 2em;
}


/* Main Menu */

.mega-menu a {
  color: var(--white);
  font-family: 'Poppins';
}

.mega-link:hover {
  margin-bottom: -5px;
  border-bottom: 5px solid var(--white);
}


/* Sub Menu */

.sub-menu {
  background-color: var(--primary);
  font-family: 'Poppins';
}

.sub-menu a {
  color: var(--white);
  padding-top: 1rem;
  padding-bottom: calc(1rem - 5px);
  border-bottom: 5px solid transparent;
}

.sub-menu a:hover {
  margin-bottom: 0;
  border-bottom-color: black;
}

.sub-menu li:last-of-type a {
  /* Move the last menu item to the left to align text */
  margin-right: -0.7rem;
}


/* Page: Home */

body.home .main-menu .logo {
  display: none;
}

body.home .hero-logo {
  width: 50%;
  margin: 0 auto;
  display: block;
}

body.home .free-programs {
  text-align: center;
  padding: 2rem 1rem;
}

/* Media Queries */

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {
  body.home .free-programs {
    padding: 3rem 2rem;
    text-align: left;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
