body {
  /* Primary */
  --we-blue: #426cff;
  --primary: #426cff;

  /* Secondary */
  --all-yellow: #f6bb47;
  --secondary: #f6bb47;

  /* Tertiary */
  --code-red: #df504d;
  --tertiary: #df504d;

  /* Supporting Colors */
  --dark-blue: #070834;
  --black: #000000;
  --gray-4-blue: #606060;
  --gray-4-white: #b2b2b2;
  --white: #ffffff;
  --light-gray: #eaeaea;

  font-family: 'Open Sans', sans-serif;
}

.text-primary {         color: var(--we-blue); }
.text-secondary {       color: var(--all-yellow); }
.text-tertiary {        color: var(--code-red); }
.text-dark-blue {       color: var(--dark-blue); }
.text-black {           color: var(--black); }
.text-white {           color: var(--white); }
.text-light-gray {      color: var(--light-gray); }
.text-grey-for-white {  color: var(--gray-4-white); }
.text-grey-for-blue {   color: var(--gray-4-blue); }

.fill-primary {         fill: var(--we-blue); }
.fill-secondary {       fill: var(--all-yellow); }
.fill-tertiary {        fill: var(--code-red); }
.fill-dark-blue {       fill: var(--dark-blue); }
.fill-black {           fill: var(--black); }
.fill-white {           fill: var(--white); }
.fill-light-gray {      fill: var(--light-gray); }
.fill-gray-for-white {  fill: var(--gray-4-white); }
.fill-gray-for-blue {   fill: var(--gray-4-blue); }

.bg-primary {           background-color: var(--we-blue) !important; }
.bg-secondary {         background-color: var(--all-yellow) !important; }
.bg-tertiary {          background-color: var(--code-red) !important; }
.bg-dark-blue {         background-color: var(--dark-blue) !important; }
.bg-black {             background-color: var(--black) !important; }
.bg-white {             background-color: var(--white) !important; }
.bg-light-gray {        background-color: var(--light-gray) !important; }
.bg-gray-for-white {    background-color: var(--gray-4-white) !important; }
.bg-gray-for-blue {     background-color: var(--gray-4-blue) !important; }

.margin-half {              margin-top: 0.5rem; margin-bottom: 0.5rem; margin-left: 0.5rem; margin-right: 0.5rem; }
.margin-vertical-half {     margin-top: 0.5rem; margin-bottom: 0.5rem; }
.margin-horizontal-half {   margin-left: 0.5rem; margin-right: 0.5rem; }
.margin-top-half {          margin-top: 0.5rem; }
.margin-right-half {        margin-right: 0.5rem; }
.margin-bottom-half {       margin-bottom: 0.5rem; }
.margin-left-half {         margin-left: 0.5rem; }

small {
  font-size: 75%;
}

.button,
.input-group-label {
  font-family: 'Poppins', sans-serif;
}

.button.text-white {
  color: var(--white);
}

.button.tertiary {
  background-color: var(--tertiary);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', cursive;
}

h1 {
  line-height: 1.2em;
}

h2 {
  line-height: 1.3em;
}

ul.list-plus {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.list-plus li {
  background-image: url("../images/plus-red.svg");
  background-position: 0.3em 0.47em;
  background-repeat: no-repeat;
  background-size: 0.66em;
  padding-left: 1.5em;
}

.errorlist {
  color: var(--code-red);
}

.title {
  font-family: 'Bungee', cursive;
}

.subtitle {
  margin-top: -0.5em;
  font-size: 1.5em;
}

.site {
  max-width: 64em;
  margin: 0 auto;
  padding: 1em;
}

.text-bold {
  font-weight: bold;
}

.text-gigantic {  font-size: 4.5em; }
.text-huge {      font-size: 2.5em; }
.text-large {     font-size: 1.25em; }

.line-height-1 {
  line-height: 1.1em;
}

.line {
  padding: 3px;
  display: inline-block;
}

.bg-binary {
  background-color: var(--all-yellow);
  background-image: url(../images/backgrounds/binary-repeatable.png);
  background-repeat: repeat;
  background-size: 10%;
}

@media screen and (min-width: 40em) {
  .medium-padding-horizontal-3 {  padding-left: 3rem; padding-right: 3rem; }
  .medium-padding-vertical-3 {    padding-top: 3rem; padding-bottom: 3rem; }
}
@media screen and (min-width: 64em) {
  .large-padding-vertical-4 {    padding-top: 4rem; padding-bottom: 4rem; }
}

.aside-title {
  background-color: var(--dark-blue);
  font-size: 2em;
  padding: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  bottom: 0;
  right: 0;
  left: 2rem;
  line-height: 1.9em;
  display: none;
  position: absolute;
}

@media screen and (min-width: 64em) {
  .aside-title {
    display: block;
  }
}


/* Binary Drop (only visible on larger screens) */

@media screen and (min-width: 40em) {
  .binary-drop-left,
  .binary-drop-right {
    position: relative;
    display: block;
  }

  .binary-drop-left img,
  .binary-drop-right img {
    position: relative;
  }

  .binary-drop-left::before,
  .binary-drop-right::before {
    content: ' ';
    position: absolute;
    display: block;
    top: 1rem;
    bottom: -1rem;
    background-color: var(--all-yellow);
    background-image: url(../images/backgrounds/binary-repeatable.png);
    background-repeat: repeat;
    background-size: 10%;
  }

  .binary-drop-left {
    padding-left: 1rem;
  }

  .binary-drop-right {
    padding-right: 1rem;
  }

  .binary-drop-left::before {
    right: 1rem;
    left: 0rem;
  }

  .binary-drop-right::before {
    right: 0;
    left: 1rem;
  }

  .binary-drop-left img,
  .binary-drop-right img {
    display: block;
  }
}

.program-icon {
  padding-left: 10px;
  max-height: 7rem;
  width: 100%;
}

.small-container {
  /* max-width: 48em; */
  margin: 0 auto;
}

/* To remove borders from cards and callouts when not needed */
.borderless {
  border: none;
}

.bottom-label {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.3rem 0.5rem;
  line-height: 0.83em;
  text-transform: uppercase;
  position: absolute;
}

.hero {
  max-height: 25rem;
  overflow: hidden;
}

.hero img {
  width: 100%;
}


/* Kill Debug on Mobile */

@media screen and (max-width: 48em) {
  #djDebug, #djDebugToolbar, #djDebugToolbarHandle {
    display: none !important;
  }
}


/* Main Logo & Mobile Nav */

.main-logo,
.mobile-nav-trigger {
  box-sizing: content-box;
  color: white;
  display: inline-block;
  height: 1em;
  line-height: 1em;
  padding: 1.2em 0.5em;
  margin-left: -0.5em;
}

.mobile-nav-trigger,
.mobile-nav-trigger:hover,
.mobile-nav-trigger:active {
  color: white;
}


@media screen and (min-width: 48em) {
  .main-logo,
  .mobile-nav-trigger {
    height: 1.5em;
  }
}


/* Main Menu */

.main-menu a {
  color: var(--white);
  font-family: 'Poppins';
}

.main-menu a,
.sub-menu a {
  font-size: 0.6em;
}

@media screen and (min-width: 48em) {
  .main-menu a,
  .sub-menu a {
    font-size: 0.83em;
  }
}

@media screen and (min-width: 64em) {
  .main-menu a,
  .sub-menu a {
    font-size: 1em;
  }
}

html[data-whatintent='mouse'] .main-menu a:not(.button):hover,
.main-menu a.current:not(.button) {
  margin-bottom: -16px;
  padding-bottom: 22px;
  border-bottom: 5px solid var(--white);
}

.main-menu a.current:not(.button) {
  border-bottom: 5px solid var(--secondary);
}

.main-menu a.button {
  margin-left: 1rem;
}


/* Mobile Nav */

.mobile-nav {
  bottom: 0;
  background-color: var(--dark-blue);
  position: absolute;
  top: 3rem;
  width: 100%;
  z-index: 1;
  padding: 1.4rem;
}

.mobile-nav a:not(.button) {
  color: white;
  display: block;
  padding: 0.7rem 0;
}


/* Sub Menu */

.sub-menu {
  background-color: var(--primary);
  font-family: 'Poppins';
  padding: 0.5rem 0;
}

.sub-menu a {
  color: var(--white);
  margin: 0 auto;
  padding: 0.8rem 0.5rem;
  text-align: left;
}

@media screen and (min-width: 40em) {
  .sub-menu {
    padding: 0;
  }

  .sub-menu .menu {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
  }

  .sub-menu li {
    width: auto;
  }

  .sub-menu a {
    padding: 1.2rem;
    text-align: right;
  }

  html[data-whatintent='mouse'] .sub-menu a:hover {
    padding-bottom: calc(1.2rem - 5px);
    border-bottom: 5px solid var(--black);
  }
}


/* Footer  */

footer {
  background-color: var(--black);
  color: var(--white);
  padding: 3em 0;
  font-size: 0.83em;
}

footer nav {
  padding: 2em 0;
  margin: 2em 0;
  border: 1px solid var(--gray-4-blue);
  border-left: 0;
  border-right: 0;
}

footer ul,
footer li {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer a {
  display: inline-block;
  font-weight: normal;
  padding: 0.2em 0;
  color: var(--gray-4-white);
}

html[data-whatintent='mouse'] footer a:hover {
  color: white;
}

footer nav a.group-link {
  font-weight: 600;
  color: white;
  padding: 0.4em 0;
}

footer small span {
  padding-right: 2em;
}


/* Page: Home */

body.home .main-logo.show {
  display: block;
}

body.home .hero-logo {
  max-width: 75%;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 40em) {
  body.home .hero-logo {
    padding: 3rem 0;
  }
}

body.home .free-programs {
  text-align: center;
  padding: 2rem 1rem;
}

/* Media Queries */

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {
  body.home .free-programs {
    padding: 3rem 2rem;
    text-align: left;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
