{% extends 'weallcode/_base.html' %}

{% load static %}

{% block page-class %}join-us{% endblock %}

{% block subheader %}
  {% if messages %}
    {% include 'weallcode/_messages.html' %}
  {% endif %}

  <div class="sub-menu">
    <nav class="grid-container" role="navigation">
      <ul class="menu">
        <li><a href="{% url 'weallcode-join-us' %}#volunteer">Volunteer</a></li>
        <li><a href="{% url 'weallcode-associate-board' %}">Associate Board</a></li>
        <li><a href="{% url 'weallcode-join-us' %}#donate">Donate</a></li>
        <li><a href="{% url 'weallcode-join-us' %}#sponsorship">Sponsorship</a></li>
        <li class="active"><a href="{% url 'weallcode-careers' %}">Careers</a></li>
        <li><a href="{% url 'weallcode-join-us' %}#contact">Contact Us</a></li>
      </ul>
    </nav>
  </div>
{% endblock subheader %}

{% block messages %}{% endblock %}

{% block content %}

  {% include "weallcode/snippets/hero_image.html" with src="weallcode/images/photos/hero-associate-board.jpg" alt="Associate Board" %}

  <main id="main">
    <!-- Introduction -->
    <section id="introduction" class="padding-top-3">
      <div class="grid-container">
        <div class="grid-x margin-bottom-2">
          <div class="cell large-8 padding-right-2">
            <h1 class="title text-tertiary">Careers</h1>
            <p></p>
          </div>
          <div class="cell large-4 position-relative">
            <div class="aside-title">
              <div>
                <span class="text-tertiary display-inline-block">Make a</span>
                <span class="text-tertiary display-inline-block">difference </span>
                <span class="text-secondary display-inline-block">in the</span>
                <span class="text-white display-inline-block">world</span>
              </div>
              <div class="line width-25 bg-primary margin-top-1"></div>
            </div>
          </div>
        </div>

        <div class="grid-x grid-padding-x margin-vertical-2">
          <div class="cell medium-8">
            <p>We All Code is looking for passionate individuals who are looking to make a difference in the world through meaningful work. We’re a small passionate team of doers.</p>

            <p>We All Code inspires youth to become active participants in their own futures. We are committed to providing high-quality accessible STEM programs to all students especially females, people of color, and youth from underserved neighborhoods.</p>

            <p>See what opportunities we have available below:</p>

            <ul class="list-unstyled">
              <li class="h4">
                <a class="button large" href="{% url 'weallcode-careers-operations-part-time' %}">Program & Operations Coordinator (Part Time)</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </section>

    {% include "weallcode/snippets/hero_image.html" with src="weallcode/images/photos/hero-team.jpg" alt="Associate Board" %}

  </main>
{% endblock %}
