{% extends 'weallcode/_base.html' %}

{% load static %}

{% block page-class %}join-us{% endblock %}

{% block subheader %}
  {% if messages %}
    {% include 'weallcode/_messages.html' %}
  {% endif %}

  <div class="sub-menu">
    <nav class="grid-container" role="navigation">
      <ul class="menu">
        <li><a href="{% url 'weallcode-join-us' %}#volunteer">Volunteer</a></li>
        <li><a href="{% url 'weallcode-associate-board' %}">Associate Board</a></li>
        <li><a href="{% url 'weallcode-join-us' %}#donate">Donate</a></li>
        <li><a href="{% url 'weallcode-join-us' %}#sponsorship">Sponsorship</a></li>
        <li class="active"><a href="{% url 'weallcode-careers' %}">Careers</a></li>
        <li><a href="{% url 'weallcode-join-us' %}#contact">Contact Us</a></li>
      </ul>
    </nav>
  </div>
{% endblock subheader %}

{% block messages %}{% endblock %}

{% block content %}

  {% include "weallcode/snippets/hero_image.html" with src="weallcode/images/photos/hero-associate-board.jpg" alt="Associate Board" %}

  <main id="main">
    <!-- Introduction -->
    <section id="introduction" class="padding-top-3">
      <div class="grid-container">
        <div class="grid-x margin-bottom-2">
          <div class="cell large-8">
            <h1 class="title text-tertiary">Operations Manager</h1>
            <p></p>
          </div>

          <div class="cell large-4 position-relative">
            <div class="aside-title">
              <div>
                <span class="text-tertiary display-inline-block">Make a</span>
                <span class="text-tertiary display-inline-block">difference </span>
                <span class="text-secondary display-inline-block">in the</span>
                <span class="text-white display-inline-block">world</span>
              </div>
              <div class="line width-25 bg-primary margin-top-1"></div>
            </div>
          </div>

        </div>

        <div class="grid-x grid-padding-x margin-vertical-2">
          <div class="cell medium-12">
            <h2 class="h3" id="organization-overview">Organization Overview</h2>
            <p>We All Code is a 501(c)3 nonprofit organization dedicated to sparking curiosity in coding among kids aged 7 to 17, with a particular focus on girls, students of color, and underserved students. Our mission is to introduce a diverse group of children to the fun of coding by providing free educational resources and hands-on classes. We envision a world where all children have an equal opportunity to ignite their curiosity through coding.</p>

            <h2 class="h3" id="position-overview">Position Overview</h2>
            <p>The Operations Manager is a key member of the We All Code staff and is integral in the growth and maintenance of the organization. The Operations Manager will be responsible for implementing and managing a strategy focused on expanding and enhancing program operations, volunteer management and engagement, and overall people management. They will work closely with the development team to support the implementation of a diversified strategy.</p>
            <p>Successful candidates will have some experience in a vast array of community engagement, management, and growth. The Operations Manager should be willing and able to work within a detailed program and company plan and to develop creative strategies and partnerships as needed to meet the organization's needs.</p>
            <p>The ideal candidate is eager, energized, and inspired by We All Code's mission. New graduates with project or volunteer management experience are encouraged to apply.</p>

            <h2 class="h3" id="responsibilities">Responsibilities</h2>

            <h3 class="h4" id="program-planning-strategy">Program Planning & Strategy</h3>
            <ul>
              <li>Plan the delivery of the overall program and its activities in accordance with the mission and goals of We All Code, including all student-centered experiences for student programming</li>
              <li>Develop new and enhance current initiatives to support the strategic direction of the organization</li>
              <li>Develop and implement long-term goals and objectives to achieve the successful outcome of the program</li>
              <li>Develop an annual program budget and operating plan to support programming</li>
              <li>Lead program facilitation and staff programmatic events</li>
              <li>Organize all students and volunteer events, including program culminating events and volunteer engagement activities</li>
              <li>Supervise program staff by providing direction, input and feedback, and holding weekly team check-ins to ensure smooth running of the programs</li>
            </ul>


            <h3 class="h4" id="program-management">Program Management, Logistics & Evaluation</h3>
            <ul>
              <li>Manage student and volunteer recruitment, outreach and engagement including regular communication, scheduling and engagement initiatives — ensuring alignment with program enrollment goals and criteria</li>
              <li>Maintain accurate and up-to-date attendance records and other administrative documents, metrics and reporting related to grant compliance</li>
              <li>Occasional email communication with potential volunteers and partners as well as student check-ins to ensure students engagement</li>
              <li>Maintain and carry out evaluation methods to assess program strengths and identify areas for improvement</li>
              <li>Monitor the program activities on a regular basis to observe, support and evaluate instruction and implementation</li>
            </ul>

            <h3 class="h4" id="community-partnerships">Community & Partnerships</h3>
            <ul>
              <li>Communicate with members and other stakeholders to gain community support for the program and to solicit input to improve the program</li>
              <li>Represent the organization at public events; leading activities, speaking roles, and trainings</li>
              <li>Serve as a critical partner in stakeholder engagement, including organizing, holding, and supporting events and communicating with families and community members.</li>
              <li>Cultivate existing relationships with vendors, community groups, companies, and schools with the goal of ensuring sufficient resources and access to services</li>
              <li>Train and support volunteers in all aspects of their engagement</li>
            </ul>

            <h3 class="h4" id="requirements">Requirements</h3>
            <ul>
              <li>A minimum of a Bachelor's degree in a relevant field (i.e., Sociology, Education, Social Work) required. Recent graduates are highly encouraged to apply.</li>
              <li>Excellent written and verbal communication skills.</li>
              <li>Exceptional interpersonal skills, including the ability to cultivate and maintain stakeholder relationships (e.g., community partners, families, school admin, and donors)</li>
              <li>Ability to work both in a team environment and independently with minimal supervision, be flexible, and manage multiple priorities</li>
              <li>Ability to work well in a fast-paced startup environment</li>
              <li>Minimum of 3 years experience working and building positive relationships with youth and/or equal experience developing and managing impactful programs in an educational setting, youth development agency, or out-of-school time program</li>
              <li>Experience developing and implementing youth programming that considers the impact of race, gender, socio-economic status, and other identities on academic and educational experiences for youth</li>
              <li>Must be available to work a flexible schedule — may be required to attend after-hours meetings. Rarely there will be work on evenings and weekends as needed. The norm is to keep a standard work schedule.</li>
              <li>Must be able to frequently lift and/or move objects up to 25 pounds (~11 kg) and occasionally lift and/or move objects up to 40 pounds (~18 kg).</li>
            </ul>

            <p>We All Code is an equal opportunity employer and seeks to employ qualified individuals based on individual merit. We All Code does not discriminate against any individual with respect to the terms and conditions of employment based on that individual's race, sex, age, religion, color, national origin, disability, genetic information, marital status, veteran status, sexual orientation, gender identity or expression, housing status, or any other non-merit factor protected under state, local or federal laws. Equal Employment Opportunity applies to all personnel actions such as recruiting, hiring, compensation, benefits, promotions, training, transfer, termination, and opportunities for training. We All Code is committed to a fair and equitable workplace where everyone is a respected and valued member of the team.</p>

            <h3 class="h4">Compensation and Benefits</h3>

            <ul>
              <li>Health insurance provided for full-time positions</li>
              <li>Equipment provided</li>
              <li>All software provided</li>
              <li>37 hour work week with flexible working hours</li>
              <li>Remote until further notice, based in the Chicago-area.</li>
            </ul>

            <h2 class="h3" id="apply">How to apply</h2>
            <p>To apply for the position, please send a cover letter, résumé, LinkedIn URL, and two writing samples (demonstrate a training, write a memo, example correspondence with a community partner, etc) to <a href="mailto:careers@weallcode.org">careers@weallcode.org</a>. Our selection committee will review the materials and follow up with you regarding the hiring process. For all other questions related to the position or to We All Code, please reach out to <a href="mailto:hello@weallcode.org">hello@weallcode.org</a>.</p>
            <p>For volunteer opportunities, please visit <a href="{% url 'weallcode-join-us' %}#volunteer">our volunteer page</a>.</p>

            <h2 class="h3" id="other-positions">Other Positions</h2>
            <p><a href="{% url 'weallcode-careers' %}">See all available positions.</a></p>

          </div>
        </div>
      </div>
    </section>

  </main>
{% endblock %}
