{% extends "coderdojochi/_base.html" %}

{% load i18n %}

{% block title %}Donate | {{ block.super }}{% endblock %}

{% block body_class %}page-donate{% endblock %}

{% block contained_content %}

<div class="container">
  <div class="grid-container">
    <h2 class="title">{% trans "Donate" %}</h2>
    <form method="post" id="payment-form">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="grid-x grid-padding-x">
        <div class="form-row medium-12 cell">
          <label for="card-element">
            Credit or debit card:
          </label>
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>

          <!-- Used to display form errors. -->
          <div id="card-errors" role="alert"></div>
        </div>
        <div class="medium-12 cell">
          <button class="button margin-vertical-1">Submit Payment</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container">
    <h2 class="title">You can help!</h2>
    <p>We All Code is a registered non-profit organization supported entirely by...you! Please help us continue our mission by donating a small amount to our cause. Thank you! </p>

  {% if referral_disclaimer %}
  <p>{{ referral_disclaimer }}</p>
  {% endif %}

  {{ form.render }}
</div>

{% endblock %}

{% block extra_script %}
<script src="https://js.stripe.com/v3/"></script>

<script>
  var stripe = Stripe('{{ stripe_public_key }}');

  // Create an instance of Elements.
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
    base: {
      color: '#32325d',
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': {
        color: '#aab7c4'
      }
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
    }
  };

  // Create an instance of the card Element.
  var card = elements.create('card', {
    style: style
  });

  // Add an instance of the card Element into the `card-element` <div>.
  card.mount('#card-element');

  // Handle real-time validation errors from the card Element.
  card.addEventListener('change', function (event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  // Handle form submission.
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function (event) {
    event.preventDefault();

    stripe.createToken(card).then(function (result) {
      if (result.error) {
        // Inform the user if there was an error.
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
      }
    });
  });

  // Submit the form with the token ID.
  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
  }

</script>
{% endblock %}
