@mixin button() {

    background-color: transparent;
    background-image: none;
    border: 2px solid $cdc-color;
    color: $cdc-color;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    line-height: 48px;
    margin: 0;
    padding: 0 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    @include user-select(none);


    &.disabled,
    &[disabled] {
        border-color: #ccc;
        color: #ccc;

        &:hover {
            border-color: #ccc;
            color: #ccc;
        }

        &.btn-cdc-inverse {
            border-color: $cdc-color-dark;
            color: $cdc-color-dark;
        }
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:not([disabled]):hover {
        @include opacity(.9);
    }

    &.btn-cdc-inverse {
        color: #fff;
        border: 2px solid #fff;

        &.active {
            border-color: #fff;
            color: $cdc-color;
            background: #fff;
        }
    }

    &.btn-cdc-danger {
        color: red;
        border: 2px solid red;
    }

    &.btn-cdc-lg {
        font-size: 20px;
        height: 60px;
        line-height: 58px;
        padding: 0 16px;
    }

    &.btn-cdc-sm {
        font-size: 14px;
        height: 36px;
        line-height: 34px;
        padding: 0 12px;
    }

    &:focus,
    &:active {
        outline: none;
    }
}