@mixin opacity($trans: 0.5) {
    // filter: alpha(opacity=($trans * 100));
    // -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})';
    // -moz-opacity: $trans;
    // -khtml-opacity: $trans;
    // opacity: $trans;

    filter: unquote("alpha(opacity=($trans * 100))");
    opacity: $trans;
}

@mixin user-select($value: none) {
    -webkit-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
    user-select: $value;
}