/* Modified for CoderDojoChi

 * Retina Backgrounds for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Modified by Brett Kellgren
 *     1. Changed image-url to use $path-img which is set in defaults
 *     2. Added $retinaWidth and $retinaHeight variables since we have nothing to compute those on the fly without Compass
 *
 * Usage:
 * 1. create background image for pixel ratio 1 screens and put it somewhere in your images folder.
 * 2. create background image for pixel ratio 2 screens and put it somewhere in your images folder.
 * 3. include the background-image property in your Sass/Scss using: '@include background-retina(<ratio-1-imagefile>, <ratio-2-imagefile>, <ratio-2-width>, <ratio-2-height>);'
*/

@mixin background-retina($normal, $retina, $retinaWidth, $retinaHeight, $contain: false, $size: false) {
    background-image: url($path-img + $normal);

    @if $size {
        background-size: $size;
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        background-image: url($path-img + $retina);

        @if $contain == true {
            background-size: contain;
        } @else {
        	@if $size {
	            background-size: $size;
	        } @else {
	            background-size: ceil($retinaWidth / 2) ceil($retinaHeight / 2);
	        }
        }
    }
}