{% extends "registration/_base.html" %}
{% load i18n bootstrap3 %}

{% block title_placeholder %}Login{% endblock %}

{% block content_placeholder %}
<h2>Login</h2>
<form method="post" action=".">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input class="btn btn-success" type="submit" value="{% trans 'Log in' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
{% endblock %}
