{% extends "registration/_base.html" %}
{% load i18n bootstrap3 %}

{% block title_placeholder %}Login{% endblock %}

{% block body_class %}page-login{% endblock %}

{% block content %}
<div class="container min-height">
    <div class="row">
        <h1>Login</h1>
        <h2>{% trans "Not yet a member" %}? <a href="{% url 'register' %}">{% trans "Register now" %}</a>!</h2>
    </div>
    <p><a class="btn login-google" href="{% url 'social:begin' "google-oauth2" %}">{% trans "Sign in with Google" %}</a> <a class="btn login-facebook" href="{% url 'social:begin' "facebook" %}"><i class="fa fa-facebook-square"></i></a></p>
    <p class="text-muted">or</p>
    <div class="row">
        <form method="post" action="." class="form">
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissable alert-link">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
                Please enter a correct username and password. Note that both fields may be case-sensitive.
            </div>
            {% endif %}

            {% csrf_token %}

            <div class="form-group">
                <label class="control-label" for="id_username">Email</label>
                <input class="form-control" id="id_username" maxlength="254" name="username" placeholder="Email" required="required" title="" type="text">
            </div>

            <div class="form-group">
                <label class="control-label" for="id_password">Password</label>
                <input class="form-control" id="id_password" name="password" placeholder="Password" required="required" title="" type="password">
            </div>

            <input type="hidden" name="next" value="{{ next }}" />
            <input class="btn-cdc btn-cdc-lg" type="submit" value="{% trans 'Log in' %}" />
        </form>
    </div>
    <p>{% trans "Forgot your password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
</div>
{% endblock %}


{% block extra_script %}
<script>
    $(function() {
        $('#id_username').focus();
    });
</script>
{% endblock %}
