{% extends "registration/_base.html" %}
{% load i18n bootstrap3 %}

{% block title_placeholder %}Login{% endblock %}

{% block content_placeholder %}
<h2>Login</h2>
<p><a class="login-facebook" href="/login/facebook">Sign in with Facebook</a> <a class="login-google" href="/login/google-oauth2/">Sign in with Google</a></p>
<p>or</p>
<form method="post" action=".">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="hidden" name="next" value="{{ next }}" />
    <input class="btn btn-success" type="submit" value="{% trans 'Log in' %}" />
</form>
<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
{% endblock %}
