{% extends "registration/_base.html" %}
{% load i18n bootstrap3 %}

{% block title_placeholder %}Login{% endblock %}

{% block body_class %}page-login{% endblock %}

{% block content %}
<div class="container min-height">
    <div class="row">
        <h1>{% trans "Register" %}</h1>
        <h2>{% trans "Create an account to sign up for free classes and stay in touch." %}</h2>
    </div>
    <div class="row">
        <div class="half">
            <p><a class="btn signup-google" href="/login/google-oauth2/">{% trans "Sign up with Google" %}</a></p>
        </div>
        <div class="half">
            <p><span class="btn signup-email">{% trans "Sign up with Email" %}</span></p>
        </div>
    </div>
    <div class="row">
        <form method="post" class="form {% if not form.errors %}hide{% endif %}" action="{% url 'register' %}{% if 'next' in request.GET %}?next={{ request.GET.next }}{% endif %}{% if 'enroll' in request.GET %}/enroll/{% endif %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn-cdc btn-cdc-lg" type="submit" value="{% trans 'Register' %}" />
        </form>
    </div>
    <p><a href="{% url 'auth_login' %}">{% trans "I already have an account" %}</a></p>
</div>
{% endblock %}