{% extends "coderdojochi/_base.html" %}

{% block title %}Forbidden (403) | {{ block.super }}{% endblock %}
{% block meta_facebook_title %}Forbidden (403) | {{ block.super }}{% endblock %}
{% block meta_twitter_title %}Forbidden (403) | {{ block.super }}{% endblock %}

{% comment %} {% block meta_description %}{% endblock %} {% endcomment %}
{% comment %} {% block meta_facebook_description %}{% endblock %} {% endcomment %}
{% comment %} {% block meta_twitter_description %}{% endblock %} {% endcomment %}

{% comment %} {% block meta_facebook_image %}{% endblock %} {% endcomment %}
{% comment %} {% block meta_twitter_image %}{% endblock %} {% endcomment %}

{% block contained_content %}
<h1 class="title">Forbidden (403)</h1>

<p>CSRF verification failed. Request aborted.</p>
{% endblock contained_content %}
