{% extends "coderdojochi/_base.html" %}

{% load i18n %}

{% block title %}Page Not Found (404) | {{ block.super }}{% endblock %}
{% block meta_facebook_title %}Page Not Found (404) | {{ block.super }}{% endblock %}
{% block meta_twitter_title %}Page Not Found (404) | {{ block.super }}{% endblock %}

{% comment %} {% block meta_description %}{% endblock %} {% endcomment %}
{% comment %} {% block meta_facebook_description %}{% endblock %} {% endcomment %}
{% comment %} {% block meta_twitter_description %}{% endblock %} {% endcomment %}

{% comment %} {% block meta_facebook_image %}{% endblock %} {% endcomment %}
{% comment %} {% block meta_twitter_image %}{% endblock %} {% endcomment %}

{% block body_class %}page-404{% endblock %}

{% block contained_content %}
<h1 class="title">Missing Page</h1>
<p>The page is missing or there was an error.</p>
<p>Please press back and try again. If you'd like help, <strong>please contact us via <a href="mailto:hello@weallcode.org">email</a> or <a href="tel:+17738696536">phone</a></strong>. We're here to help you anytime!</p>
<p><b>Email:</b> <a href="mailto:hello@weallcode.org">hello@weallcode.org</a></p>
<p><b>Phone:</b> <a href="tel:+17738696536">(773) 869-6536</a></p>
{% endblock %}
