{% extends "coderdojochi/_base.html" %}

{% load i18n %}

{% block title %}Website Error | {{ block.super }}{% endblock %}
{% block meta_facebook_title %}Website Error | {{ block.super }}{% endblock %}
{% block meta_twitter_title %}Website Error | {{ block.super }}{% endblock %}

{% block meta_description %}Whoops! Something went wrong. We're fixing it quickly!{% endblock %}
{% block meta_facebook_description %}Whoops! Something went wrong. We're fixing it quickly!{% endblock %}
{% block meta_twitter_description %}Whoops! Something went wrong. We're fixing it quickly!{% endblock %}

{% comment %} {% block meta_facebook_image %}{% endblock %} {% endcomment %}
{% comment %} {% block meta_twitter_image %}{% endblock %} {% endcomment %}

{% block body_class %}page-500{% endblock %}

{% block contained_content %}
<h1 class="title">ERROR 500</h1>
<p>Whoops! Something went wrong :(</p>
<p>We are aware of the issue and are already working on a fix.</p>
{% endblock %}
