{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title_base %}CoderDojoChi | {% block title %}{{ SITE_NAME }}{% endblock %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon" />

        <!-- Facebook -->
        <meta property="og:url" content="http://coderdojochi.org" />
        <meta property="og:image" content="http://coderdojochi.org/assets/images/logo.png" />
        <meta property="og:title" content="CoderDojoChi" />

        {% block style_base %}
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{% static "css/vendor/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/cdc.css" %}" rel="stylesheet">
        {% block extra_style %}{% endblock %}
        {% endblock %}

        {% block html5shim %}
        <!--[if lt IE 9]><script src="{% static "js/libs/html5shiv/html5shiv.js" %}"></script><![endif]-->
        {% endblock %}

        {% block extra_head %}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% include "_nav.html" %}
        {% block body_base %}
            {% include "_messages.html" %}
            {% block content %}{% endblock %}
        {% endblock %}
        {% block footer_base %}
        <footer>
            <div class="container">
                <p class="text-muted">&copy;{% now "Y" %}. All rights reserved. <span class="pull-right"><a href="{% url 'contact_form' %}">Contact Us</a> <a href="{% url 'privacy' %}">Privacy &amp; Terms</a></span></p>
            </div>
        </footer>
        {% endblock %}

        {% block script_base %}
        <script src="{% static "js/vendor/jquery.min.js" %}"></script>
        <script src="{% static "js/vendor/cdc.bootstrap.min.js" %}"></script>
        <script src="{% static "js/cdc.js" %}"></script>

        {% block extra_script %}{% endblock %}
        {% endblock %}

        {% block extra_body %}{% endblock %}

        <!-- Analytics -->


    </body>
</html>
