{% load static avatar_tags %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand text-hide" href="/">CoderDojoChi</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li{% if '/about/' in request.path %} class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>
                <li{% if '/classes/' in request.path %} class="active"{% endif %}><a href="{% url 'sessions' %}">Classes</a></li>
                <li{% if '/volunteer/' in request.path %} class="active"{% endif %}><a href="{% url 'volunteer' %}">Volunteer</a></li>
                <li class="donate{% if '/donate/' in request.path %} active{% endif %}"><a href="{% url 'donate' %}">Donate</a></li>
                {% if user.is_authenticated %}
                <li{% if '/dojo/' in request.path %} class="active"{% endif %}><a href="{% url 'dojo' %}">My Dojo</a></li>
                {% if user.is_staff %}
                <li><a href="{% url 'cdc_admin' %}">Admin</a></li>
                {% endif %}
                <li><a href="{% url 'auth_logout' %}?next={{ request.path }}">Logout</a></li>
                {% else %}
                <li{% if '/accounts/login/' in request.path or '/register/' in request.path %} class="active"{% endif %}><a href="{% url 'auth_login' %}">My Dojo</a></li>
                <!-- <li{% if '/register/' in request.path %} class="active"{% endif %}><a href="{% url 'register' %}">Register</a></li> -->
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
