{% load static coderdojochi_extras %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand text-hide" href="{% url 'home' %}">CoderDojoChi</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="{% menu_is_active 'about' %}"><a href="{% url 'about' %}">About</a></li>
                <li class="{% menu_is_active 'sessions' %}"><a href="{% url 'sessions' %}">Classes</a></li>
                <li class="{% menu_is_active 'volunteer' %}"><a href="{% url 'volunteer' %}">Volunteer</a></li>
                <li class="donate {% menu_is_active 'donate' %}"><a href="{% url 'donate' %}">Donate</a></li>

                {% if user.is_authenticated %}
                    <li class="{% menu_is_active 'dojo' %}"><a href="{% url 'dojo' %}">My Dojo</a></li>
                    <li><a href="{% url 'account_logout' %}?next={{ request.path }}">Logout</a></li>
                {% else %}
                    <li class="{% menu_is_active 'account_login' %}"><a href="{% url 'account_login' %}">My Dojo</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
