{% extends "_base.html" %}

{% load i18n %}

{% block title %}Donate{% endblock %}

{% block body_class %}donate{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "About CoderDojoChi" %}</h1>
    <div class="row">
        <p>CoderDojoChi is a volunteer not for profit that teaches web, gamem and app development to youth ages 7 to 17.</p>
        <p>Our mission is to create a fun, collaborative environment to explore <abbr title="STEM is an acronym referring to the academic disciplines of science, technology, engineering, and mathematics.">STEM</abbr>. Through play, youth can build memorable experiences with mentors.</p>
        <p>Ali Karbassi founded the CoderDojoChi in 2013. It has grown to more than 30 active mentors teaching over 500 students. We host twice monthly workshops with dozens of youth, and reach over 600 families across the Greater Chicago area.</p>
        <p>CoderDojoChi is an 501(c)(3) tax-exempt nonprofit organization in the United States.</p>
    </div>
    <div class="row">
        <h2>Contact Us</h2>
        <form method="post" action="{% url 'contact_form' %}" _lpchecked="1">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label" for="id_name">Your name</label>
                <input class="form-control" id="id_name" maxlength="100" name="name" placeholder="Your name" required="required" title="" type="text">
            </div>
            <div class="form-group">
                <label class="control-label" for="id_email">Your email address</label>
                <input class="form-control" id="id_email" maxlength="200" name="email" placeholder="Your email address" required="required" title="" type="email">
            </div>
            <div class="form-group">
                <label class="control-label" for="id_body">Your message</label>
                <textarea class="form-control" cols="40" id="id_body" name="body" placeholder="Your message" required="required" rows="10" title=""></textarea>
            </div>
            <input class="btn btn-success" type="submit" value="Submit">
        </form>
    </div>

</div>
{% endblock %}
