{% extends "_base.html" %}

{% load i18n coderdojochi_extras %}

{% block body_class %}page-cdc-admin{% endblock %}

{% block topnav %}{% endblock %}

{% block content %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var gender_data = google.visualization.arrayToDataTable([
      ['Gender', 'Students'],
      {% for key, value in gender_count %}
      ['{{ key.title }}', {{ value }}],
      {% endfor %}
    ]);

    var gender_options = {
      legend: {
        position: 'bottom',
      }
    };

    var gender_chart = new google.visualization.PieChart(document.getElementById('gender_chart'));
    gender_chart.draw(gender_data, gender_options);

    var age_data = google.visualization.arrayToDataTable([
      ['Age', 'Students'],
      {% for key, value in age_count %}
      ['{{ key }}', {{ value }}],
      {% endfor %}
    ]);

    var age_options = {
      legend: {
        position: 'bottom',
      }
    };

    var age_chart = new google.visualization.PieChart(document.getElementById('age_chart'));
    age_chart.draw(age_data, age_options);
  }
</script>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'cdc_admin' %}">CoderDojoChi Admin</a></li>
        <li class="active">Overall Stats</li>
    </ol>

    <div class="row">
        <div class="col-md-6">
            <div class="col-xs-12 panel panel-default">
                <h3>Average Age: <b>{{ average_age }}</b></h3>
                <div id="age_chart" style="height: 400px;"></div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-xs-12 panel panel-default">
                <h3>Genders:</h3>
                <div id="gender_chart" style="height: 400px;"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-12 panel panel-default">
                <h3>Total Attendance:</h3>
                <h2>{{ total_checked_in_orders }} of {{ total_past_orders }}</h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ attendance_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ attendance_percentage }}%">
                        {{ attendance_percentage }}%
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3>All Classes</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
        {% for session in past_sessions %}
            <tr class="session">
                <td>
                    <span class="title">{{ session.start_date|date:"M j" }}</span>
                    <span class="subtitle">{{ session.start_date|time }}&ndash;{{ session.end_date|time }}</span>
                </td>
                <td class="name">
                    <span class="title"><a href="{% url 'check_in' session.id %}">{{ session.course.title }}</a></span>
                    <span class="subtitle">@ {{ session.location.name }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


{% block footer_base %}{% endblock %}
