{% extends "_base.html" %}

{% load i18n avatar_tags coderdojochi_extras %}

{% block title %}CoderDojoChi Admin{% endblock %}

{% block body_class %}page-cdc-admin{% endblock %}

{% block topnav %}{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">CoderDojoChi.org</a></li>
        <li class="active">CoderDojoChi Admin</li>
        <a class="pull-right" href="/dj-admin">Django Admin</a>
    </ol>
    <h2>Upcoming Sessions</h2>
    {% if upcoming_sessions %}
        <p><a href="/dj-admin/coderdojochi/session/add">Add a new session now</a>.</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Class</th>
                    <th>Location</th>
                    <th>Students</th>
                    <th>Volunteers</th>
                </tr>
            </thead>
            <tbody>
            {% for session in upcoming_sessions %}
                <tr>
                    <td><a href="{{ session.get_absolute_url }}">{{ session.start_date|date:"M j" }} from {{ session.start_date|time }}&ndash;{{ session.end_date|time }}</a></td>
                    <td><a href="{{ session.get_absolute_url }}">{{ session.course.title }}</a></td>
                    <td><a href="{{ session.get_absolute_url }}">{{ session.location.name }}</a></td>
                    <td><a href="{% url 'check_in' session.id %}">{{ session.get_current_orders.count }} / {{ session.capacity }}</a></td>
                    <td><a href="{% url 'check_in_mentors' session.id %}">{{ session.mentors.count }} / {{ session.get_mentor_capacity }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if upcoming_sessions_count > 3 and 'all_upcoming_sessions' not in request.GET %}
        <a href="{% url 'cdc_admin' %}?all_upcoming_sessions">View all upcoming sessions</a>
        {% endif %}
    {% else %}
        <p>No upcoming sessions. <a href="/dj-admin/coderdojochi/session/add">Add a new session now</a>.</p>
    {% endif %}
    <h2>Past Sessions</h2>
    {% if past_sessions %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Class</th>
                    <th>Location</th>
                    <th>Students</th>
                    <th>Volunteers</th>
                </tr>
            </thead>
            <tbody>
            {% for session in past_sessions %}
                <tr>
                    <td><a href="{{ session.get_absolute_url }}">{{ session.start_date|date:"M j" }} from {{ session.start_date|time }}&ndash;{{ session.end_date|time }}</a></td>
                    <td><a href="{{ session.get_absolute_url }}">{{ session.course.title }}</a></td>
                    <td><a href="{{ session.get_absolute_url }}">{{ session.location.name }}</a></td>
                    <td><a href="{% url 'check_in' session.id %}">{{ session.get_current_orders.count }} / {{ session.capacity }}</a></td>
                    <td><a href="{% url 'check_in_mentors' session.id %}">{{ session.mentors.count }} / {{ session.get_mentor_capacity }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if past_sessions_count > 3 and 'all_past_sessions' not in request.GET %}
        <a href="{% url 'cdc_admin' %}?all_past_sessions">View all past sessions</a>
        {% endif %}
    {% else %}
        <p>No past sessions yet.</p>
    {% endif %}
    <br>
    <hr>
    <h2>Upcoming Meetings</h2>
    {% if upcoming_meetings %}
        <p><a href="/dj-admin/coderdojochi/meeting/add">Add a new meeting now</a>.</p>
        <ul class="list-group">
        {% for meeting in upcoming_meetings %}
            <li class="list-group-item">
                {{ meeting.start_date|date }}, {{ meeting.start_date|time }}&ndash;{{ meeting.end_date|time }} | {{ meeting.meeting_type.title }}
                <span class="pull-right">
                    {% if meeting.announced_date %}
                    <span class="text-muted">Announced on {{ meeting.announced_date|date }}</span>
                    {% else %}
                    <a href="#" onclick="event.preventDefault()" data-toggle="popover" title="Announce Meeting?" data-content="<a class='btn btn-danger' href='{% url 'meeting_announce' meeting.id %}'>Announce</a>" data-html="true">Announce</a>
                    {% endif %} |
                    <a href="{{ meeting.get_absolute_url }}">Details</a> |
                    <a href="/dj-admin/coderdojochi/meeting/{{ meeting.id }}">Edit</a>
                </span>
            </li>
        {% endfor %}
        </ul>
        {% if upcoming_meetings_count > 3 and 'all_upcoming_meetings' not in request.GET %}
        <a href="{% url 'cdc_admin' %}?all_upcoming_meetings">View all upcoming meetings</a>
        {% endif %}
    {% else %}
        <p>No upcoming meetings. <a href="/dj-admin/coderdojochi/meeting/add">Add a new meeting now</a>.</p>
    {% endif %}
    <h2>Past Meetings</h2>
    {% if past_meetings %}
        <ul class="list-group">
        {% for meeting in past_meetings %}
            <li class="list-group-item">
                {{ meeting.start_date|date }}, {{ meeting.start_date|time }}&ndash;{{ meeting.end_date|time }} | {{ meeting.meeting_type.title }}
                <span class="pull-right">
                    <a href="{{ meeting.get_absolute_url }}">Details</a> |
                    <a href="/dj-admin/coderdojochi/meeting/{{ meeting.id }}">Edit</a>
                </span>
            </li>
        {% endfor %}
        </ul>
        {% if past_meetings_count > 3 and 'all_past_meetings' not in request.GET %}
        <a href="{% url 'cdc_admin' %}?all_past_meetings">View all past meetings</a>
        {% endif %}
    {% else %}
        <p>No past meetings yet.</p>
    {% endif %}
</div>
{% endblock %}


{% block footer_base %}{% endblock %}
