{% extends "_base.html" %}

{% load i18n avatar_tags %}

{% block title %}{{ class.title }}{% endblock %}

{% block body_class %}class-detail{% endblock %}

{% block content %}
<div class="container">
    <h1 class="light">{% if class.course %}<small>{{ class.course }}:</small> {% endif %}{{ class.title }} <small><i class="fa fa-clock-o"></i> {{ class.start_date|date }} from {{ class.start_date|time }} to {{ class.end_date|time }}</small></h1>
    <div class="clearfix">
        <div class="class-detail-content">
            <p class="lead drop-caps">{{ class.description|safe }}</p>
            <h2>Class Information</h2>
            <h4>When:</h4>
            <p>{{ class.start_date|date }} from {{ class.start_date|time }} to {{ class.end_date|time }}</p>
            <h4>Where:</h4>
            <p>{{ class.location }}</p>
            <h4>Additional Info:</h4>
            <p>{{ class.additional_info|safe }}</p>
        </div>
        <div class="class-detail-sidebar-right">
            <div id="sign-up" class="well">
                {% if user_signed_up %}
                    <h2>You are signed up for this class!</h2>
                    <p>Logged in as {{ user.role }} <i>{% avatar user 25 %}</i> <strong>{{ user.username }}</strong>. <a href="{% url 'auth_logout' %}?next={% url 'class_detail' class.start_date.year class.start_date.month class.start_date.day class.slug %}">Logout.</a></p>
                    <p><a href="{% url 'class_sign_up' class.start_date.year class.start_date.month class.start_date.day class.slug %}" class="btn btn-danger btn-sm">Oops! I can't make it...</a></p>
                {% else %}
                    <h2>Sign up</h2>
                    {% if user.is_authenticated %}
                    <p>Logged in as {{ user.role }} <i>{% avatar user 25 %}</i> <strong>{{ user.username }}</strong>. <a href="{% url 'auth_logout' %}?next={% url 'class_detail' class.start_date.year class.start_date.month class.start_date.day class.slug %}">Logout.</a></p>
                    <p><a href="{% url 'class_sign_up' class.start_date.year class.start_date.month class.start_date.day class.slug %}" class="btn btn-success btn-lg">Sign up {% ifequal user.role 'mentor'%}to mentor{% else %}for this class{% endifequal %} now!</a></p>
                    {% else %}
                    <p><a href="{% url 'auth_login' %}?next={% url 'class_detail' class.start_date.year class.start_date.month class.start_date.day class.slug %}">Login</a> or <a href="{% url 'registration_register' %}">register</a> to sign up for this class.</p>
                    {% endif %}
                {% endif %}
            </div>
            <a target="_blank" class="map" href="https://www.google.com/maps/preview?q={{ class.location }}"><img src="http://maps.google.com/maps/api/staticmap?markers=location:+{{ class.location }}&amp;size=500x500&amp;sensor=false"></a>
        </div>
    </div>

    <h2>Teacher</h2>
    <div class="mentors">
        <div class="mentor">
            {% avatar class.teacher.user %}
            <div class="info">
                <h3 class="title">{{ class.teacher.first_name }} {{ class.teacher.last_name }}</h4>
                <p>{{ class.teacher.bio }}</p>
            </div>
        </div>
    </div>

    {% if class.mentors.all %}
    <h2>Mentors</h2>
    <div class="mentors">
        {% for mentor in class.mentors.all %}
        <div class="mentor">
            {% avatar mentor.user %}
            <div class="info">
                <h3 class="title">{{ mentor.first_name }} {{ mentor.last_name }}</h3>
                <p>{{ class.teacher.bio }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}
