{% extends "_base.html" %}
{% load avatar_tags bootstrap3 humanize %}

{% block title %}My Dojo{% endblock %}

{% block body_class %}dojo{% endblock %}

{% block content %}

{% if not account.first_name %}
<div class="container">
    <div class="alert alert-warning"><i class="fa fa-warning"></i> Please complete your profile information below. <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></div>
</div>
{% endif %}
<div class="container">
    <div class="dojo-profile">
        <div class="well well-sm">
            <img src="{% avatar_url user %}" class="avatar">
            <a class="btn btn-block btn-default btn-xs text-center" href="#" onclick="return CDC.global.openPopUp('{% url 'avatar_change' %}')">Edit Avatar</a>
            <h2>
                @{{ user }}
                <small>Role: {{ user.role|capfirst }}</small>
                <small>Joined: {{ account.created_at|naturalday|capfirst }}</small>
            </h2>

            {% if form %}
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="submit btn btn-default">Save</button>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="dojo-content">
        <h2>My Classes</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#upcoming" data-toggle="tab">Upcoming</a></li>
            <li><a href="#past" data-toggle="tab">Past</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="upcoming">
                {% if upcoming_sessions %}
                <br>
                <table class="table table-striped">
                    <tbody>
                    {% for session in upcoming_sessions %}
                        <tr>
                            <td><a href="{% url 'class_detail' session.start_date.year session.start_date.month session.start_date.day session.course.slug %}">{{ session.title }}</a></td>
                            <td>{{ session.start_date|date }} <span class="text-muted">@ {{ session.start_date|time }}</span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <br>
                <p class="text-center text-muted">You have no upcoming sessions. <a href="{% url 'sessions' %}">Find one now!</a></p>
                {% endif %}
            </div>
            <div class="tab-pane" id="past">
                {% if past_sessions %}
                <table class="table table-striped">
                    <tbody>
                    {% for session in past_sessions %}
                        <tr>
                            <td><a href="{% url 'class_detail' session.start_date.year session.start_date.month session.start_date.day session.course.slug %}">{{ session.title }}</a></td>
                            <td>{{ session.start_date|date }} <span class="text-muted">@ {{ session.start_date|time }}</span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <br>
                <p class="text-center text-muted">You have not participated in any sessions yet. <a href="{% url 'sessions' %}">Find one now!</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
