{% extends "_base.html" %}

{% load i18n %}

{% block title %}Donate{% endblock %}

{% block body_class %}page-donate{% endblock %}

{% block content %}
<div class="hero">
	<div class="container">
		<h1 class="title">Donate Today!</h1>

		<ul class="list-inline donation-buttons">
			<li><a href="#" class="btn-cdc btn-cdc-inverse">$10</a></li>
			<li><a href="#" class="btn-cdc btn-cdc-inverse">$25</a></li>
			<li><a href="#" class="btn-cdc btn-cdc-inverse">$50</a></li>
			<li><a href="#" class="btn-cdc btn-cdc-inverse">$100</a></li>
			<li><a href="#" class="btn-cdc btn-cdc-inverse">Other</a></li>
		</ul>

		<a href="#" class="btn-cdc btn-cdc-inverse btn-do-it">Do it.</a>
	</div>
</div>

<div class="container">
    <h1>{% trans "You can help" %}</h1>
    <p>CoderDojoChi is a registered non-profit organization supported entirely by...you! Please help us continue our mission by donating a small amount to our cause. Thank you! </p>
    <form id="amountForm" role="form">
		<div class="form-group">
			<label class="control-label">How much would you like to give?</label>
		</div>
		<div class="form-group">
			<div class="radio">
				<label>
					<input type="radio" name="donate-amount-option" value="10" checked>
					$10
				</label>
			</div>
		</div>
		<div class="form-group">
			<div class="radio">
				<label>
					<input type="radio" name="donate-amount-option" value="20">
					$20
				</label>
			</div>
		</div>
		<div class="form-group">
			<div class="radio">
				<label>
					<input type="radio" name="donate-amount-option" value="50">
					$50
				</label>
			</div>
		</div>
		<div class="form-group">
			<div class="radio">
				<label>
					<input type="radio" name="donate-amount-option" value="100">
					$100
				</label>
			</div>
		</div>
		<div class="form-inline">
			<div class="form-group">
				<div class="radio">
					<label>
						<input type="radio" id="customDonationOption" name="donate-amount-option" value="other">
						Other:
					</label>
				</div>
			</div>
			<div class="form-group">
		    	<input placeholder="Amount" type="text" class="form-control" id="amountActual" maxlength="5">
		    </div>
	    </div>
    </form>
    <br>
	<form id="donateForm" action="https://authorize.payments.amazon.com/pba/paypipeline" method="post">
		<input type="hidden" name="returnUrl" value="http://localhost:8000/thank-you" >
		<input type="hidden" name="processImmediate" value="1" >
		<input type="hidden" name="signatureMethod" value="HmacSHA256" >
		<input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
		<input type="hidden" name="collectShippingAddress" value="0" >
		<input type="hidden" name="isDonationWidget" value="1" >
		<input type="hidden" name="amazonPaymentsAccountId" value="JKKDULQESHOW758S8FHIM22IHGT897A7SXRM8L" >
		<input type="hidden" name="referenceId" value="cdc_donation" >
		<input type="hidden" name="cobrandingStyle" value="logo" >
		<input type="hidden" name="immediateReturn" value="1" >
		<input id="donateAmount" type="hidden" name="amount" value="USD 10" >
		<input type="hidden" name="description" value="Donate to CoderDojoChi" >
	    <input type="hidden" name="abandonUrl" value="http://localhost:8000/donate" >
	    <input type="hidden" name="signatureVersion" value="2" >
	    <input type="hidden" name="signature" value="PP6IfGn8HcZtkYUCX3qrR2KH183L6Vv/hu2amH5QBZ0=" >
		<button class="btn btn-lg btn-success" id="donateBtn">Donate Now!</button>
	</form>
</div>
{% endblock %}


{% block extra_script %}
<script>
	$(function() {
		var $donateForm = $('#donateForm'),
			$amountForm = $('#amountForm'),
			$donateButton = $('#donateBtn'),
			$donateAmount = $('#donateAmount'),
			$amountActualField = $('#amountActual'),

		donateFormSubmit = function(e) {
			e.preventDefault();
			$donateButton.trigger('click');
		},

		donateButtonClick = function(e) {
			var amountVal = $('input[name=donate-amount-option]:checked', $amountForm).val(),
				amount;

			if(amountVal === 'other') {
				var customVal = $amountActualField.val().replace('$', '');

				if(customVal && customVal.length){
					amount = customVal;
				} else {
					$amountActualField.closest('.form-group').addClass('has-error');
					return false;
				}
			} else {
				amount = amountVal;
			}
			$donateAmount.val('USD ' + amount);
			$donateForm.off('submit');
			$donateForm.submit();
		},

		amountActualFocus = function() {
			$amountActualField.closest('.form-group').removeClass('has-error');
			$('#customDonationOption').prop('checked', true);
		};

		$donateForm.submit(donateFormSubmit);

		$donateButton
			.on('click', donateButtonClick);

		$amountActualField
			.on('focus', amountActualFocus);
	});
</script>
{% endblock %}
