{% extends "_base.html" %}

{% load i18n %}

{% block title %}Donate{% endblock %}

{% block body_class %}page-donate{% endblock %}

{% block content %}
<div class="hero">
	<div class="container">
		<h1 class="title">Donate Today!</h1>

		<ul class="list-inline amount-buttons">
			<li><button class="btn-cdc btn-cdc-inverse" data-value="10">$10</button></li>
			<li><button class="btn-cdc btn-cdc-inverse" data-value="25">$25</button></li>
			<li><button class="btn-cdc btn-cdc-inverse" data-value="50">$50</button></li>
			<li><button class="btn-cdc btn-cdc-inverse" data-value="100">$100</button></li>
			<li><button class="btn-cdc btn-cdc-inverse" data-value="other">Other</button></li>
		</ul>
		<div class="amount-actual">
			<span class="dollar">$</span>
			<input type="text" class="form-control input-lg" maxlength="6">
		</div>
		<button class="btn-cdc btn-cdc-inverse btn-do-it" disabled>Do it.</button>
	</div>
</div>

<div class="container">
    <h1>{% trans "You can help" %}</h1>
    <p>CoderDojoChi is a registered non-profit organization supported entirely by...you! Please help us continue our mission by donating a small amount to our cause. Thank you! </p>
	<form id="donateForm" action="https://authorize.payments.amazon.com/pba/paypipeline" method="post">
		<input type="hidden" name="returnUrl" value="http://localhost:8000/thank-you" >
		<input type="hidden" name="processImmediate" value="1">
		<input type="hidden" name="signatureMethod" value="HmacSHA256" >
		<input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
		<input type="hidden" name="collectShippingAddress" value="0" >
		<input type="hidden" name="isDonationWidget" value="1" >
		<input type="hidden" name="amazonPaymentsAccountId" value="JKKDULQESHOW758S8FHIM22IHGT897A7SXRM8L" >
		<input type="hidden" name="referenceId" value="cdc_donation" >
		<input type="hidden" name="cobrandingStyle" value="logo" >
		<input type="hidden" name="immediateReturn" value="1" >
		<input id="donateAmount" type="hidden" name="amount" value="USD 10" >
		<input type="hidden" name="description" value="Donate to CoderDojoChi" >
	    <input type="hidden" name="abandonUrl" value="http://localhost:8000/donate" >
	    <input type="hidden" name="signatureVersion" value="2" >
	    <input type="hidden" name="signature" value="UyLK9Cei3G3VYRxyHLL1Gd+TK+2eOB6CN4CZ0glgRt0=">
	</form>
</div>
{% endblock %}


{% block extra_script %}
<script>
	$(function() {
		var $donateForm = $('#donateForm'),
			$amountButtons = $('.amount-buttons:first'),
			$donateButton = $('.btn-do-it:first'),
			$donateAmount = $('#donateAmount'),
			$amountActual = $('.amount-actual:first'),
			$amountActualField = $('.form-control', $amountActual),

		amountButtonClick = function() {
			var $clicked = $(this);
			$('.active', $amountButtons).removeClass('active');
			$clicked.addClass('active');
			$donateButton.attr('disabled', false);

			if ($clicked.data('value') === 'other') {
				$amountActual.show();
				$amountActualField.focus();
			} else {
				$amountActual.hide();
			}
		},

		donateFormSubmit = function(e) {
			$donateButton.trigger('click');
		},

		donateButtonClick = function() {

			var $selectedAmountButton = $('.active', $amountButtons),
				selectedAmount = $selectedAmountButton.data('value');

			if(selectedAmount === 'other') {
				
				var customAmount = $amountActualField.val();

				if(customAmount.length){
					selectedAmount = parseInt(customAmount);
				} else {
					$amountActual.addClass('has-error');
					$amountActualField.focus();
					return false;
				}
			}


			$donateAmount.val('USD ' + selectedAmount);
			$donateForm.off('submit');
			$donateForm.submit();
		};

		$donateForm.submit(donateFormSubmit);

		$amountButtons
			.on('click', 'button', amountButtonClick);

		$donateButton
			.on('click', donateButtonClick);
	});
</script>
{% endblock %}
