{% extends "_base.html" %}

{% load i18n avatar_tags coderdojochi_extras %}

{% block title %}{{ meeting.meeting_type.title }}{% endblock %}

{% block extra_meta %}
<meta property="og:url" content="{{ meeting.get_absolute_url }}">
<meta property="og:title" content="{{ meeting.start_date|date }} | {{ meeting.meeting_type.title }}">
{% endblock %}

{% block body_class %}page-class-detail{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title">{{ meeting.meeting_type.title }} <small>{{ meeting.start_date|date }}</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 class-detail-content">
            <p>{{ meeting.meeting_type.description|safe }}</p>

            <h2 class="title light space-above">Meeting Information</h2>

            <h3>Who</h3>
            <p>Teachers, coders, writers, crafters, nurturers, leaders, tinkers, go getters to name a few. If you are passionate about coding and/or teaching children, join us. Everyone is welcome, regardless of technical ability.</p>

            <h3>When</h3>
            <p>{{ meeting.start_date|date }} from {{ meeting.start_date|time }} to {{ meeting.end_date|time }}</p>

            <h3>Where</h3>
            <p><a target="_blank" class="static-map" href="//www.google.com/maps/preview?q={{ meeting.location.name }} {{ meeting.location.address }} {{ meeting.location.address2 }} {{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}">{{ meeting.location.name }} {{ meeting.location.address }} {{ meeting.location.address2 }}<br>{{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}</a></p>

            {% if meeting.additional_info %}
            <h3>Additional Info</h3>
            <p>{{ meeting.additional_info|safe }}</p>
            {% endif %}

            {% if meeting.volunteers.all %}
            <h2 class="subtitle">Attending</h2>

            <div class="row volunteers">
                {% for volunteer in meeting.volunteers.all %}
                    {% if volunteer.public == True %}
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <a href="{% url 'volunteer_detail' volunteer.id %}" class="thumbnail">
                        {% avatar volunteer.user 175 %}
                        <span class="caption text-center">{{ volunteer.first_name }} {{ volunteer.last_name }}</span>
                    </a>
                </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="col-sm-4 class-detail-sidebar-right">
            {% if user.is_staff %}
            <ul class="center-block well well-sm list-group list-unstyled">
                {% if meeting.active %}
                    <!-- Todo -->
                    <li class="list-group-item">Volunteers: <b>{{ meeting.volunteers.count }}</b></li>

                        {% if meeting.announced_date %}
                            <li class="text-muted list-group-item">Announced: <b>{{ meeting.announced_date|date }}</b></li>
                        {% else %}
                            <li class="list-group-item"><a href="#" onclick="event.preventDefault()" data-toggle="popover" title="Announce Meeting?" data-content="<a class='btn btn-danger' href='{% url 'meeting_announce' meeting.id %}'>Announce</a>" data-html="true">Announce</a></li>
                        {% endif %}

                    <!-- Todo -->
                    <li class="list-group-item"><a href="#">Check-in Meeting</a></li>
                    {% else %}
                {% endif %}

                <!-- Todo -->
                <li class="list-group-item"><a href="#">Meeting Stats</a></li>

                <!-- Todo -->
                <li class="list-group-item"><a href="/dj-admin/coderdojochi/meeting/{{ session.id }}">Edit Meeting</a></li>
            </ul>
            {% endif %}

            <div class="sidebar-right-section center-block">
                {% if meeting.external_enrollment_url %}
                    <p><a href="{{ meeting.external_enrollment_url }}" class="btn-cdc btn-cdc-lg btn-block">Attend Meeting</a></p>
                {% else %}
                    {% if user.is_authenticated %}
                        {% if volunteer_signed_up %}
                            <p>You are signed up to attend this meeting.</p>
                            <p><a href="{{ meeting.get_signup_url }}" class="btn-cdc btn-cdc-danger btn-block">I can't make it...</a></p>
                        {% else %}
                            <p><a href="{{ meeting.get_signup_url }}" class="btn-cdc btn-cdc-lg btn-block">Attend Meeting</a></p>
                        {% endif %}
                    {% else %}
                    <p><a href="{% url 'auth_login' %}?next={{ meeting.get_absolute_url }}">Login</a> or <a href="{% url 'register' %}?next={{ meeting.get_absolute_url }}">register</a> to sign up for this volunteer meeting.</p>
                    {% endif %}
                {% endif %}
            </div>

            <div class="sidebar-right-section center-block">
                <div class="map">
                    <a target="_blank" class="static-map" href="//www.google.com/maps/preview?q={{ meeting.location.name }} {{ meeting.location.address }} {{ meeting.location.address2 }} {{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}"><img src="http://maps.google.com/maps/api/staticmap?markers=location:{{ meeting.location.name }} {{ meeting.location.address }} {{ meeting.location.address2 }} {{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}&amp;center={{ meeting.location.name }} {{ meeting.location.address }} {{ meeting.location.address2 }} {{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}&amp;size=281x281&amp;sensor=false&amp;zoom=15"></a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
