{% extends "_base.html" %}

{% load i18n avatar_tags coderdojochi_extras %}

{% block title %}{{ meeting.title }}{% endblock %}

{% block body_class %}page-class-detail{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">{{ meeting.meeting_type.title }} <small>{{ meeting.start_date|date }}</small></h1>
    <div class="row">
        <div class="class-detail-sidebar-right">

            {% if user.is_staff %}
            <div class="well well-sm">
                <ul class="list-group">
                    <a href="/admin/coderdojochi/meeting/{{ meeting.id }}" class="list-group-item">Edit Meeting</a>
                </ul>
            </div>
            {% endif %}

            <div class="content">
                {% if meeting.external_enrollment_url %}
                    <p><a href="{{ meeting.external_enrollment_url }}" class="btn-cdc btn-cdc-lg btn-block">Attend Meeting</a></p>
                {% else %}
                    {% if user.is_authenticated %}
                        {% if mentor_signed_up %}
                            <p>You are signed up to attend this meeting.</p>
                            <p><a href="{% url 'meeting_sign_up' meeting.start_date.year meeting.start_date.month meeting.start_date.day meeting.id %}" class="btn-cdc btn-cdc-danger btn-block">I can't make it...</a></p>
                        {% else %}
                            <p><a href="{% url 'meeting_sign_up' meeting.start_date.year meeting.start_date.month meeting.start_date.day meeting.id %}" class="btn-cdc btn-cdc-lg btn-block">Attend Meeting</a></p>
                        {% endif %}
                    {% else %}
                    <p><a href="{% url 'auth_login' %}?next={{ meeting.get_absolute_url }}">Login</a> or <a href="{% url 'register' %}?next={{ meeting.get_absolute_url }}">register</a> to sign up for this mentor meeting.</p>
                    {% endif %}
                {% endif %}
                <hr>
                <div class="map">
                    <a target="_blank" class="static-map" href="//www.google.com/maps/preview?q={{ meeting.location.name }} {{ meeting.location.address }} {{ meeting.location.address2 }} {{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}"><img src="//maps.google.com/maps/api/staticmap?markers=location:{{ meeting.location.name }} {{ meeting.location.address }} {{ meeting.location.address2 }} {{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}&amp;center={{ meeting.location.name }} {{ meeting.location.address }} {{ meeting.location.address2 }} {{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}&amp;size=500x300&amp;sensor=false&zoom=16"></a>
                </div>
            </div>
        </div>
        <div class="class-detail-content">
            <p>{{ meeting.meeting_type.description|safe }}</p>

            <h2 class="title light space-above">Meeting Information</h2>
            <p>Who:<br>Teachers, coders, writers, crafters, nurturers, leaders, tinkers, go getters to name a few. If you are passionate about coding and/or teaching children, join us. Everyone is welcome, regardless of technical ability.</p>

            <p>When:<br>{{ meeting.start_date|date }} from {{ meeting.start_date|time }} to {{ meeting.end_date|time }}</p>

            <p>Where:<br><a target="_blank" class="static-map" href="//www.google.com/maps/preview?q={{ meeting.location.name }} {{ meeting.location.address }} {{ meeting.location.address2 }} {{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}">{{ meeting.location.name }} {{ meeting.location.address }} {{ meeting.location.address2 }}<br>{{ meeting.location.city }}, {{ meeting.location.state }} {{ meeting.location.zip }}</a></p>

            {% if meeting.additional_info %}
            <p> Additional Info:<br>{{ meeting.additional_info|safe }}</p>
            {% endif %}


            {% if meeting.mentors.all %}
            <h2 class="subtitle">Mentors Attending</h2>
            <div class="mentors">
                {% for mentor in meeting.mentors.all %}
                <a href="{% url 'mentor_detail' mentor.id %}">
                <span class="mentor">
                    {% avatar mentor.user 250 %}
                    <div class="info">
                        {{ mentor.first_name }} {{ mentor.last_name }}
                    </div>
                </span>
                </a>
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
