{% extends "coderdojochi/_base.html" %}
{% load humanize %}

{% block title %}{{ mentor.user.first_name }} {{ mentor.user.last_name }} | {{ block.super }}{% endblock %}

{% block body_class %}page-mentor-detail{% endblock %}

{% block contained_content %}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'mentors' %}">All Mentors</a></li>
        <li class="active">{{ mentor.user.first_name }} {{ mentor.user.last_name }}</li>
    </ol>
</div>


<div class="container">
    <div class="dojo-content">
        <h1 class="title">{{ mentor.user.first_name }} {{ mentor.user.last_name }}</h1>
        <p>{{ mentor.bio }}</p>
    </div>
    <div class="dojo-profile">
        <div class="well well-sm">
            <img src="{% if mentor.avatar %}{{ mentor.avatar.thumbnail.url }}{% else %}https://gravatar.com/avatar/?s=283&d=mm{% endif %}" width="283" height="283" class="avatar" alt="Photo of {{ mentor.user.first_name }} {{ mentor.user.last_name }}">
            <h3 class="title">Joined: {{ mentor.user.date_joined|naturalday|capfirst }}</h3>
        </div>
        {% if user.is_staff %}
        <ul class="well well-sm well-admin list-group list-unstyled">
            <li class="list-group-item"><a href="{% url 'admin:coderdojochi_mentor_change' mentor.id %}">Edit Mentor</a></li>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
