{% extends "_base.html" %}
{% load humanize %}

{% block title %}{{ mentor.first_name }} {{ mentor.last_name }}{% endblock %}

{% block body_class %}page-mentor-detail{% endblock %}

{% block content %}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'mentors' %}">All Mentors</a></li>
        <li class="active">{{ mentor.first_name }} {{ mentor.last_name }}</li>
    </ol>
</div>


<div class="container">
    <div class="dojo-content">
        <h1>{{ mentor.first_name }} {{ mentor.last_name }}</h1>
        <p>{{ mentor.bio }}</p>
    </div>
    <div class="dojo-profile">
        <div class="well well-sm">
            <img src="{% if mentor.avatar %}{{ mentor.avatar.url }}{% else %}http://gravatar.com/avatar/?s=283&d=mm{% endif %}" width="283" height="283" class="avatar">
            <h3>Joined: {{ mentor.user.date_joined|naturalday|capfirst }}</h3>
        </div>
    </div>
</div>

{% endblock %}
