{% extends "_base.html" %}
{% load humanize %}

{% block title %}My Dojo{% endblock %}

{% block body_class %}page-mentors{% endblock %}

{% block content %}

<div class="container">

    <h1>Meet Our Mentors <a href="{% url 'account_signup' %}" class="btn-cdc">Join us now!</a></h1>

    <div class="row mentors">
        {% for mentor in mentors %}
            {% if mentor.public == True %}
        <div class="col-xs-12 col-sm-4 col-md-3">
            <a href="{% url 'mentor_detail' mentor.id %}" class="thumbnail">
                <img src="{% if mentor.avatar %}{{ mentor.avatar.thumbnail.url }}{% else %}http://gravatar.com/avatar/?s=175&d=mm{% endif %}" width="175" height="175">
                <span class="caption text-center">{{ mentor.user.first_name }} {{ mentor.user.last_name }}</span>
            </a>
        </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
