{% extends "_base.html" %}

{% load i18n avatar_tags %}

{% block title %}{{ session.course.title }} Sign Up{% endblock %}

{% block body_class %}page-class-sign-up{% endblock %}

{% block content %}
<div class="container registration min-height">
    <h1 class="light">
    {% if user_signed_up %}{% ifequal user.role 'mentor' %}You{% else %}<strong>{{ student.first_name }} {{ student.last_name }}</strong> {% endifequal %} can no longer make it{% else %}{% ifequal user.role 'mentor' %}Sign up{% else %}Enroll <strong>{{ student.first_name }} {{ student.last_name }}</strong> {% endifequal %}{% endif %} {% ifequal user.role 'mentor' %}to mentor for{% else %}in{% endifequal %} the class <strong>"{{ session.course.title }}"</strong> on <strong>{{ session.start_date|date }}</strong> from <strong>{% if user.role == 'mentor' %}{{ session.mentor_start_date|time }}{% else %}{{ session.start_date|time }}{% endif %}</strong> to <strong>{% if user.role == 'mentor' %}{{ session.mentor_end_date|time }}{% else %}{{ session.end_date|time }}{% endif %}</strong>?</h1>
    <form class="form" method="POST" action="">
        {% csrf_token %}
        <button class="btn-cdc btn-cdc-{% if user_signed_up %}danger{% else %}success{% endif %} btn-cdc-lg">{% if user_signed_up %}Yes, cancel{% else %}Yes, I'm excited!{% endif %}</button>
        <a href="{{ session.get_absolute_url }}" class="btn-cdc btn-cdc-sm btn-cdc-inverse">Nevermind</a>
    </form>
    <br>
    <a target="_blank" class="map" href="//www.google.com/maps/preview?q={{ session.location.address }} {{ session.location.address2 }} {{ session.location.city }}, {{ session.location.state }} {{ session.location.zip }}"><img width="100%" src="http://maps.google.com/maps/api/staticmap?markers=location:{{ session.location.address }} {{ session.location.address2 }} {{ session.location.city }}, {{ session.location.state }} {{ session.location.zip }}&amp;center={{ session.location.name }} {{ session.location.address }} {{ session.location.address2 }} {{ session.location.city }}, {{ session.location.state }} {{ session.location.zip }}&amp;size=550x550&amp;sensor=false"></a>
    <p class="text-center"><a target="_blank" href="//www.google.com/maps/preview?q={{ session.location.address }} {{ session.location.address2 }} {{ session.location.city }}, {{ session.location.state }} {{ session.location.zip }}">Open in Google Maps</a></p>
</div>
{% endblock %}
