{% extends "_base.html" %}

{% load i18n avatar_tags coderdojochi_extras %}

{% block title %}{% if session.course.code %}{{ session.course.code }} | {% endif %}{{ session.course.title }}{% endblock %}

{% block body_class %}class-detail{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="class-detail-content">
            
            <h1 class="title">{{ session.course.title }}</h1>
            <p>{{ session.course.description|safe }}</p>
            
            <h2 class="title light space-above">Class Information</h2>    
            <p>Who:<br>Free to attend! Anyone between 7 and 17 of age. No computer skills required.</p>

            <p>When:<br>{{ session.start_date|date }} from {{ session.start_date|time }} to {{ session.end_date|time }}</p>

            <p>Where:<br>{{ session.location }}</p>

            {% if session.additional_info %}
            <p> Additional Info:<br>{{ session.additional_info|safe }}</p>
            {% endif %}

            {% if session.teacher %}
            <h2 class="subtitle space-above">About the teacher</h2>
            <div class="teachers">
                <div class="teacher">
                    <a href="#">{% avatar session.teacher.user 220 %}</a>
                    <div class="info">
                        <h3 class="subtitle">{{ session.teacher.first_name }} {{ session.teacher.last_name }}</h4>
                        <p>{{ session.teacher.bio }}</p>
                        <p><a href="#">Learn more about {{ session.teacher.first_name }}.</a></p>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if session.mentors.all %}
            <h2 class="subtitle">Meet the mentors</h2>
            <div class="mentors">
                {% for mentor in session.mentors.all %}
                <a href="#" class="mentor">
                    {% avatar mentor.user 140 %}
                    <div class="info">
                        {{ mentor.first_name }} {{ mentor.last_name }}
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="class-detail-sidebar-right">
            <div class="content">
                {% if user.is_authenticated %}
                    {% if is_guardian %}
                        {% if session.capacity|subtract:session.get_current_students.all.count %}
                            {% if students %}
                                <p><a href="{% url 'session_sign_up' session.start_date.year session.start_date.month session.start_date.day session.course.slug session.id %}" class="btn-cdc btn-cdc-lg btn-block">Enroll student{% if students and students.count > 1 %}s{% endif %}</a></p>
                                <!-- <table class="students table-striped">
                                    <tbody>
                                    {% for student in students %}
                                        <tr>
                                            <td>{{ student.first_name }} {{ student.last_name }}</td>
                                            <td>
                                                {% student_register_link student session %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                                <small><a href="{% url 'welcome' %}">Need to add another student?</a></small> -->
                            {% else %}
                            <p>To enroll, you must first <a href="{% url 'welcome' %}">register a student</a>.</p>
                            {% endif %}
                        {% else %}
                            <h2>This class is currently full</h2>
                            <p>There are currently no available spots for this class.  Please check back or <a href="{% url 'sessions' %}">find another upcoming class.</a></p>
                        {% endif %}
                    {% else %}
                        {% if mentor_signed_up %}
                            <p>You are signed up to mentor this class.</p>
                            <p><a href="{% url 'session_sign_up' session.start_date.year session.start_date.month session.start_date.day session.course.slug session.id %}" class="btn-cdc btn-cdc-danger btn-block">I can't make it...</a></p>
                        {% else %}
                            <p><a href="{% url 'session_sign_up' session.start_date.year session.start_date.month session.start_date.day session.course.slug session.id %}" class="btn-cdc btn-cdc-lg btn-block">Sign up now!</a></p>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <p><a href="{% url 'auth_login' %}?next={{ session.get_absolute_url }}">Login</a> or <a href="{% url 'registration_register' %}?next={{ session.get_absolute_url }}">register</a> to sign up for this session.</p>
                {% endif %}
            
                <p><span class="text-large">{{ session.capacity|subtract:session.get_current_students.all.count }}</span> open spots</p>
                <hr>
                <div class="map">
                    <a target="_blank" class="static-map" href="https://www.google.com/maps/preview?q={{ session.location }}"><img src="http://maps.google.com/maps/api/staticmap?markers=location:+{{ session.location }}&amp;size=500x300&amp;sensor=false&zoom=16"></a>
                </div>
                <h3 class="subtitle">Upcoming Classes</h3>
                {% for upcoming_class in upcoming_classes %}
                <div class="upcoming-class">
                    <div class="date">{{ upcoming_class.start_date|date:'M' }}<br><strong>{{ upcoming_class.start_date|date:'d' }}</strong></div>
                    <a href="{{ upcoming_class.get_absolute_url }}">{{ upcoming_class.course.title }}</a>
                </div>
                {% endfor %}
            </div>
            <div class="content">
                <p class="subtitle">Share this class</p>
                <ul class="list-inline">
                    <a class="unstyled" href="#"><i class="fa fa-facebook fw"></i></a>
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock %}
