{% extends "_base.html" %}

{% load i18n coderdojochi_extras %}

{% block title %}{% if session.course.code %}{{ session.course.code }} | {% endif %}{{ session.course.title }}{% endblock %}

{% block body_class %}page-cdc-admin{% endblock %}

{% block topnav %}{% endblock %}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {packages: ['corechart', 'bar']});
  google.charts.setOnLoadCallback(drawBasic);

  function drawBasic() {
    var gender_data = google.visualization.arrayToDataTable([
      ['Gender', 'Students'],
      {% for key, value in gender_count %}
      ['{{ key.title }}', {{ value }}],
      {% endfor %}
    ]);

    var gender_options = {
      legend: {
        position: 'bottom',
      },
      // pieSliceText: 'label',
      // title: 'Genders of Registered Students',
      // pieStartAngle: 100,
    };

    var gender_chart = new google.visualization.PieChart(document.getElementById('gender_chart'));
    gender_chart.draw(gender_data, gender_options);

    // Age
    var age_data = google.visualization.arrayToDataTable([
      ['Age', 'Students'],
      {% for key, value in age_count %}
      ['{{ key }} y/o', {{ value }}],
      {% endfor %}
    ]);

    // var age_options = {
    //   legend: {
    //     position: 'bottom',
    //   },
    //   pieSliceText: 'label',
    //   title: 'Genders of Registered Students',
    //   // pieStartAngle: 100,
    // };

    // var age_options = {
      // title: 'Population of Largest U.S. Cities',
      // chartArea: {width: '50%'},
      // hAxis: {
      //   title: 'Total Population',
      //   minValue: 0
      // },
      // vAxis: {
      //   title: 'City'
      // }
    // };

    var age_options = {
      // chart: {
      //   title: 'Genders of Registered Students',
      // },
      // bars: 'horizontal', // Required for Material Bar Charts.
      // hAxis: { format: 'short' },
      legend: { position: 'none' },
      annotations: {
        alwaysOutside: true,
      },
    };

    // var age_chart = new google.visualization.BarChart(document.getElementById('age_chart'));
    // age_chart.draw(age_data, age_options);

    var age_chart = new google.charts.Bar(document.getElementById('age_chart'));
    age_chart.draw(age_data, age_options);

  }
</script>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'cdc_admin' %}">CoderDojoChi Admin</a></li>
        <li><a href="{{ session.get_absolute_url }}">{{ session.start_date|date }} - {{ session.course.title }}</a></li>
        <li class="active">Class Check-in</li>
    </ol>

    {% if active_orders.count %}
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-12 panel panel-default">
                <h3>Attendance:</h3>
                <h2>{{ checked_in_orders.count }} of {{ active_orders.count }}</h2>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ attendance_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ attendance_percentage }}%">
                        {{ attendance_percentage }}%
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endif %}

    {% if active_orders.count %}
    {% if active_session %}
    <h2>Attending Students <span class="badge">{{ active_orders.count }}</span></h2>
    {% else %}
    <h2>Attended Students <span class="badge">{{ active_orders.count }}</span></h2>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            {% if active_orders.count %}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Student Name</th>
                        <th>Age</th>
                        <th>Guardian</th>
                        <th></th>
                        <th><abbr title="Number Attended"># A</abbr></th>
                        <th><abbr title="Number Missed"># M</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in active_orders %}
                    <tr{% if order.check_in %} class="success"{% endif %}>
                        <form method="post" action=".">
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{ order.id }}">
                            <td>{{ forloop.counter|stringformat:"02d" }}</td>
                            <td>
                              <strong>{{ order.student.first_name }}</strong> {{ order.student.last_name }}
                            </td>
                            <td>{{ order.student.get_age }}</td>
                            {% if active_session %}
                            <td>
                              <input type="text" name="order_alternate_guardian" class="form-control" value="{% if order.alternate_guardian %}{{ order.alternate_guardian }}{% else %}{{ order.guardian.user.first_name }} {{ order.guardian.user.last_name }}{% endif %}">
                            </td>
                            {% else %}
                            <td>
                              {% if order.alternate_guardian %}{{ order.alternate_guardian }}{% else %}{{ order.guardian.user.first_name }} {{ order.guardian.user.last_name }}{% endif %}
                            </td>
                            {% endif %}
                            {% if active_session %}
                              {% if order.check_in %}
                                <td><button class="btn-link">Undo</button></td>
                              {% else %}
                                <td><button class="btn-cdc btn-cdc-sm">Check In</button></td>
                              {% endif %}
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td>{{ order.num_attended }}</td>
                            <td{% if order.num_missed >= 3 %} class="danger"{% endif %}>{{ order.num_missed }}</td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No students registered.</p>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if active_session != True %}
    <h2>No Shows <span class="badge">{{ no_show_orders.count }}</span></h2>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Student Name</th>
                        <th>Guardian</th>
                        <th>Cancelled Date</th>
                        <th><abbr title="Number Attended"># A</abbr></th>
                        <th><abbr title="Number Missed"># M</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in no_show_orders %}
                    <tr>
                        <td>{{ forloop.counter|stringformat:"02d" }}</td>
                        <td>
                          <strong>{{ order.student.first_name }}</strong> {{ order.student.last_name }}
                        </td>
                        <td>{{ order.guardian.user.first_name }} {{ order.guardian.user.last_name }}</td>
                        <td>{{ order.updated_at }}</td>
                        <td>{{ order.num_attended }}</td>
                        <td{% if order.num_missed >= 3 %} class="danger"{% endif %}>{{ order.num_missed }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if inactive_orders.count %}
    <h2>Cancelled Tickets <span class="badge">{{ inactive_orders.count }}</span></h2>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Student Name</th>
                        <th>Guardian</th>
                        <th>Cancelled Date</th>
                        <th><abbr title="Number Attended"># A</abbr></th>
                        <th><abbr title="Number Missed"># M</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in inactive_orders %}
                    <tr>
                        <td>{{ forloop.counter|stringformat:"02d" }}</td>
                        <td>
                          <strong>{{ order.student.first_name }}</strong> {{ order.student.last_name }}
                        </td>
                        <td>{{ order.guardian.user.first_name }} {{ order.guardian.user.last_name }}</td>
                        <td>{{ order.updated_at }}</td>
                        <td>{{ order.num_attended }}</td>
                        <td{% if order.num_missed >= 3 %} class="danger"{% endif %}>{{ order.num_missed }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if active_orders.count %}
    <div class="row">
        <div class="col-md-6">
            <div class="col-xs-12 panel panel-default">
                <h3>Average Age: <b>{{ average_age }}</b></h3>
                <div id="age_chart" style="height: 400px;"></div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="col-xs-12 panel panel-default">
                <h3>Genders:</h3>
                <div id="gender_chart" style="height: 400px;"></div>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}


{% block footer_base %}{% endblock %}
