{% extends "_base.html" %}

{% load i18n avatar_tags coderdojochi_extras %}

{% block title %}{% if session.course.code %}{{ session.course.code }} | {% endif %}{{ session.course.title }}{% endblock %}

{% block body_class %}page-cdc-admin{% endblock %}

{% block topnav %}{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'cdc_admin' %}">CoderDojoChi Admin</a></li>
        <li><a href="{{ session.get_absolute_url }}">{{ session.start_date|date }} - {{ session.course.title }}</a></li>
        <li class="active">Class Stats</li>
    </ol>
    <div class="row">
        <div class="half">
            <div class="panel panel-default">
                <div class="container">
                    <h3>Attendance:</h3>
                    <h2>{{ students_checked_in.count }} of {{ session.get_current_orders.count }}</h2>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ attendance_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ attendance_percentage }}%">
                            {{ attendance_percentage }}%
                        </div>
                    </div>
                    <h3>Average Age:</h3>
                    <h2>{{ average_age }}</h2>
                </div>
            </div>
        </div>
        <div class="half">
            <div class="panel panel-default">
                <div class="container">
                    <h3>Genders:</h3>
                    <h2>Male</h2>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ attendance_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ attendance_percentage }}%">
                            {{ attendance_percentage }}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3>All Students</h3>
    <table class="table table-striped">
        {% if session.get_current_orders %}
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Chaperone</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Checked In</th>
                </tr>
            </thead>
            <tbody> 
                {% for order in session.get_current_orders %}
                <tr {% if not order.check_in %}class="text-muted"{% endif %}>
                    <form method="post" action=".">
                        {% csrf_token %}
                        <input type="hidden" name="order_id" value="{{ order.id }}">
                        <td>{{ order.student.last_name }}, {{ order.student.first_name }}</td>
                        <td>{% if order.alternate_guardian %}{{ order.alternate_guardian }}{% else %}{{ order.guardian.first_name }} {{ order.guardian.last_name }}{% endif %}</td>
                        <td>{{ order.student.get_age }}</td>
                        <td>{{ order.student.gender }}</td>
                        {% if order.check_in %}
                        <td>{{ order.check_in|time }}</td>
                        {% else %}
                        <td>Did not attend</td>
                        {% endif %}
                    </form>
                </tr>
                {% endfor %}     
            </tbody>
        {% else %}
            <p>No student data.</p>
        {% endif %}
    </table>
</div>
{% endblock %}


{% block footer_base %}{% endblock %}
