{% extends "_base.html" %}

{% load i18n avatar_tags coderdojochi_extras %}

{% block title %}{% if session.course.code %}{{ session.course.code }}: {% endif %}{{ session.course.title }}{% endblock %}

{% block extra_meta %}
<meta property="og:url" content="{{ session.get_absolute_url }}">
<meta property="og:title" content="Check out our upcoming class! {% if session.course.code %}{{ session.course.code }}: {% endif %}{{ session.course.title }}">
{% endblock %}

{% block body_class %}page-class-detail{% endblock %}

{% block extra_script %}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "e6153b53-d325-47f3-a35b-7c37273a1236", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title">{% if session.course.code %}{{ session.course.code }}: {% endif%}{{ session.course.title }} <small>{{ session.start_date|date }}</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 class-detail-content">

            <p>{{ session.course.description|safe }}</p>

            <h2 class="title light space-above">Class Information</h2>

            <h3>Who</h3>
            <p>Free to attend! Anyone between 7 and 17 of age. No computer skills required.</p>

            <h3>When</h3>
            <p>{{ session.start_date|date }} from {% if account and user.role == 'mentor' %}{{ session.mentor_start_date|time }}{% else %}{{ session.start_date|time }}{% endif %} to {% if account and user.role == 'mentor' %}{{ session.mentor_end_date|time }}{% else %}{{ session.end_date|time }}{% endif %}</p>

            <h3>Where</h3>
            <p><a target="_blank" class="static-map" href="//www.google.com/maps/preview?q={{ session.location.name }} {{ session.location.address }} {{ session.location.address2 }} {{ session.location.city }}, {{ session.location.state }} {{ session.location.zip }}">{{ session.location.name }}, {{ session.location.address }}, {{ session.location.address2 }}, {{ session.location.city }}, {{ session.location.state }} {{ session.location.zip }}</a></p>

            <h3>FAQs</h3>
            <p><a href="{% url 'faqs' %}">Read more here.</a></p>

            {% if session.additional_info %}
            <p>Additional Info:<br>{{ session.additional_info|safe }}</p>
            {% endif %}

            {% if session.teacher %}
            <h2 class="subtitle space-above">About the teacher</h2>

            <div class="teachers">
                <div class="teacher">
                    <div class="image">
                        <a href="{% url 'mentor_detail' session.teacher.id %}">{% avatar session.teacher.user 320 %}</a>
                    </div>
                    <div class="info">
                        <h3 class="subtitle">{{ session.teacher.first_name }} {{ session.teacher.last_name }}</h4>
                        <p>{{ session.teacher.bio|truncatechars:120 }}</p>
                        <p><a href="{% url 'mentor_detail' session.teacher.id %}">Learn more about {{ session.teacher.first_name }}.</a></p>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if session.mentors.all %}
            <h2 class="subtitle">Meet the mentors</h2>

            <div class="row mentors">
                {% for mentor in session.mentors.all %}
                    {% if mentor.public == True %}
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <a href="{% url 'mentor_detail' mentor.id %}" class="thumbnail">
                        {% avatar mentor.user 175 %}
                        <span class="caption text-center">{{ mentor.first_name }} {{ mentor.last_name }}</span>
                    </a>
                </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="col-sm-4 class-detail-sidebar-right">
            {% if user.is_staff %}
            <ul class="center-block well well-sm list-group list-unstyled">
                {% if session.active %}
                    <li class="list-group-item">Students: <b>{{ session.get_current_orders.count }} / {{ session.capacity }}</b></li>
                    <li class="list-group-item">Mentors: <b>{{ session.mentors.count }} / {{ session.get_mentor_capacity }}</b></li>

                        {% if session.announced_date %}
                            <li class="text-muted list-group-item">Announced: <b>{{ session.announced_date|date }}</b></li>
                        {% else %}
                            <li class="list-group-item"><a href="#" onclick="event.preventDefault()" data-toggle="popover" title="Announce Session?" data-content="<a class='btn btn-danger' href='{% url 'session_announce' session.id %}'>Announce</a>" data-html="true">Announce</a></li>
                        {% endif %}

                    <li class="list-group-item"><a href="{% url 'check_in' session.id %}">Check-in Class</a></li>
                    {% else %}
                {% endif %}
                <li class="list-group-item"><a href="{% url 'stats' session.id %}">Class Stats</a></li>
                <li class="list-group-item"><a href="/dj-admin/coderdojochi/session/{{ session.id }}">Edit Class</a></li>
            </ul>
            {% endif %}
            <div class="sidebar-right-section center-block">
                {% if session.external_enrollment_url %}
                    <p><a href="{{ session.external_enrollment_url }}" class="btn-cdc btn-cdc-lg btn-block">Enroll now</a></p>
                {% else %}
                    {% if user.is_authenticated %}
                        {% if is_guardian %}
                            {% if students %}
                                {% if spots_remaining > 0 %}
                                    <h3 class="subtitle">Enroll Student{% if students and students.count > 1 %}s{% endif %}</h3>
                                {% else %}
                                    <p class="subtitle">There are currently no available spots for this class.  Please join the waitlist below and/or <a href="{% url 'sessions' %}">find another upcoming class.</a></p>
                                {% endif %}
                                <table class="students">
                                    <tbody>
                                    {% for student in students %}
                                        <tr>
                                            <td>{{ student.first_name }} {{ student.last_name|slice:":1" }}</td>
                                            <td class="text-right">
                                                {% student_session_order_count student=student session=session as student_is_enrolled %}
                                                {% if spots_remaining > 0 or student_is_enrolled %}
                                                    {% student_register_link student session %}
                                                {% else %}
                                                    <form action="" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="waitlist" value="student">
                                                        <input type="hidden" name="account_id" value="{{ student.id }}">
                                                        {% if student in session.waitlist_students.all %}
                                                            <input type="hidden" name="remove" value="true">
                                                            <button class="btn-cdc btn-cdc-danger btn-cdc-sm">Remove from Waitlist</button>
                                                        {% else %}
                                                            <input type="hidden" name="remove" value="false">
                                                            <button class="btn-cdc btn-cdc-inverse btn-cdc-sm">Add to Waitlist</button>
                                                        {% endif %}
                                                    </form>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <small class="add-another"><a href="{% url 'welcome' %}?next={{ request.path }}&enroll=True">Add another student</a></small>
                            {% else %}
                            <p><a href="{% url 'welcome' %}?next={{ request.path }}&enroll=True" class="btn-cdc btn-cdc-lg btn-block">Enroll</a></p>
                            {% endif %}
                        {% else %}
                            {% if spots_remaining %}
                                {% if mentor_signed_up %}
                                    <p>You are signed up to mentor this class.</p>
                                    <p><a href="{{ session.get_signup_url }}" class="btn-cdc btn-cdc-danger btn-block">I can't make it...</a></p>
                                {% else %}
                                    <p><a href="{{ session.get_signup_url }}" class="btn-cdc btn-cdc-lg btn-block">Sign up now!</a></p>
                                {% endif %}
                            {% else %}
                                {% if account in session.waitlist_mentors.all %}
                                    <p>You are currently on the waitlist for this class. We will contact you ASAP if a spot becomes available.</p>
                                {% else %}
                                    <p>There are currently no available mentor spots for this class.</p>
                                {% endif %}

                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="waitlist" value="mentor">
                                    <input type="hidden" name="account_id" value="{{ account.id }}">
                                    {% if account in session.waitlist_mentors.all %}
                                        <input type="hidden" name="remove" value="true">
                                        <button class="btn-cdc btn-cdc-sm btn-cdc-danger">Remove from waitlist</button>
                                    {% else %}
                                        <input type="hidden" name="remove" value="false">
                                        <button class="btn-cdc btn-cdc-sm">Add me to waitlist</button>
                                    {% endif %}
                                </form>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if spots_remaining < 1 %}
                        <p class="subtitle">There are currently no available spots for this class.  Please join the waitlist below and/or <a href="{% url 'sessions' %}">find another upcoming class.</a></p>
                        {% endif %}
                        <p><a href="{% url 'register' %}?next={{ session.get_absolute_url }}{% if spots_remaining > 0 %}&enroll=True{% endif %}" class="btn-cdc btn-cdc-lg btn-block">{% if spots_remaining > 0 %}Enroll now{% else %}Join Waitlist{% endif %}</a></p>
                    {% endif %}
                    <p>
                        {% if spots_remaining > 0 %}
                        <span class="text-large">{{ spots_remaining }}</span> spots currently open
                        {% else %}
                            {% if is_guardian %}
                                <span class="text-large">{{ session.waitlist_students.count }}</span> currently on waitlist
                            {% else %}
                                <span class="text-large">{{ session.waitlist_mentors.count }}</span> currently on waitlist
                            {% endif %}
                        {% endif %}
                    </p>
                {% endif %}
            </div>
            <div class="sidebar-right-section center-block">
                <div class="map">
                    <a target="_blank" class="static-map" href="//www.google.com/maps/preview?q={{ session.location.name }} {{ session.location.address }} {{ session.location.address2 }} {{ session.location.city }}, {{ session.location.state }} {{ session.location.zip }}"><img src="http://maps.google.com/maps/api/staticmap?markers=location:{{ session.location.name }} {{ session.location.address }} {{ session.location.address2 }} {{ session.location.city }}, {{ session.location.state }} {{ session.location.zip }}&amp;center={{ session.location.name }} {{ session.location.address }} {{ session.location.address2 }} {{ session.location.city }}, {{ session.location.state }} {{ session.location.zip }}&amp;size=281x281&amp;sensor=false&amp;zoom=15"></a>
                </div>
            </div>
            <div class="sidebar-right-section center-block">
                <h3 class="subtitle">Upcoming Classes</h3>
                {% for upcoming_class in upcoming_classes %}
                    {% if upcoming_class.id != session.id %}
                    <div class="row upcoming-class">
                        <div class="col-xs-3 date">{{ upcoming_class.start_date|date:'M' }} <strong>{{ upcoming_class.start_date|date:'d' }}</strong></div>
                        <div class="col-xs-9">
                            <a href="{{ upcoming_class.get_absolute_url }}">{{ upcoming_class.course.title }}</a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="sidebar-right-section center-block">
                <p><i class="fa fa-share"></i> Share</p>
                <ul class="list-inline text-center social-sharing">
                    <li><span class='st_facebook_large' displayText='Facebook'></span></li>
                    <li><span class='st_twitter_large' displayText='Tweet'></span></li>
                    <li><span class='st_linkedin_large' displayText='LinkedIn'></span></li>
                    <li><span class='st_googleplus_large' displayText='Google +'></span></li>
                    <li><span class='st_email_large' displayText='Email'></span></li>
                    <!-- <li><span class='st_facebook_hcount' displayText='Facebook'></span></li>
                    <li><span class='st_twitter_hcount' displayText='Tweet'></span></li>
                    <li><span class='st_linkedin_hcount' displayText='LinkedIn'></span></li>
                    <li><span class='st_email_hcount' displayText='Email'></span></li> -->
                </ul>
            </div>
            <div class="sidebar-right-section center-block">
                <div class="ad-space">
                    <div class="ad-space-ad">
                        <a href="{% url 'sponsorship' %}">Your logo here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
