{% extends "_base.html" %}

{% load i18n coderdojochi_extras %}

{% block title %}Upcoming Classes{% endblock %}

{% block extra_meta %}
<meta property="og:url" content="{{ session.get_absolute_url }}">
<meta property="og:title" content="Check out our upcoming classes!">
{% endblock %}

{% block body_class %}page-classes{% endblock %}

{% block content %}
    <div class="container">
        <div id="errors">
            <p>Error: {{ error }}</p>
        </div>
        <form method="post" action=".">
            {% csrf_token %}
            <label for="id-password">Password:</label>
            <input id="id-password" name="password" type="text"/>
            <button class="btn-cdc btn-cdc-sm">Submit</button>
        </form>
    </div>
{% endblock %}
