{% extends "_base.html" %}

{% load static i18n coderdojochi_extras %}

{% block title %}{% if session.course.code %}{{ session.course.code }}: {% endif %}{{ session.course.title }} | {{ block.super }}{% endblock %}

{% block extra_meta %}
<meta property="og:url" content="{{ SITE_URL }}{{ request.get_full_path }}">
<meta property="og:title" content="Check out our upcoming class! {% if session.course.code %}{{ session.course.code }}: {% endif %}{{ session.course.title }}">
{% endblock %}

{% block body_class %}page-class-detail{% endblock %}


{% block contained_content %}

<h3 class="title text-primary">Class Details</h3>

<div class="grid-x text-white margin-top-2">
  <div class="cell medium-8 bg-dark-blue padding-2">
    <h2>{% if session.course.code %}{{ session.course.code }}: {% endif%}{{ session.course.title }}</h2>
    <p>{{ session.course.description|safe }}</p>
    {% if session.additional_info %}
      <p>Additional Info:<br>{{ session.additional_info|safe }}</p>
    {% endif %}
  </div>
  <div class="cell medium-4 bg-primary padding-2">
    <h5 class="text-uppercase">{{ session.start_date|date }}</h5>
    <p>
      {% if account and user.role == 'mentor' %}{{ session.mentor_start_date|time }}{% else %}{{ session.start_date|time }}{% endif %} to {% if account and user.role == 'mentor' %}{{ session.mentor_end_date|time }}{% else %}{{ session.end_date|time }}{% endif %}<br>
      <i class="fa fa-calendar"></i> <a class="text-white" href="{{ session.get_calendar_url }}">Add to your calendar</a>
    </p>

    <h5 class="text-uppercase margin-top-2">{{ session.location.name }}</h5>
    <p><a target="_blank" class="static-map text-white" href="//www.google.com/maps/preview?q={{ session.location.address }}, {{ session.location.city }}, {{ session.location.state }} {{ session.location.zip }}">{{ session.location.address }}, {{ session.location.city }}, {{ session.location.state }} {{ session.location.zip }}</a></p>

    <h5 class="text-uppercase margin-top-2">Who</h5>
    {% if session.gender_limitation %}<p><strong>This class is limited to {{ session.gender_limitation }}s only.</strong></p>{% endif %}
    <p>Free to attend! {% if session.gender_limitation %}{{ session.gender_limitation|title }}s {% else %}Anyone{% endif %} between {{ session.min_age_limitation|default:"7" }} and {{ session.max_age_limitation|default:"17" }} of age. No computer skills required.</p>

    <h5 class="text-uppercase margin-top-2"><a class="text-white" href="{% url 'faqs' %}">Read the FAQs.</a></h5>
  </div>
</div>


<section class="margin-top-3">
    <h3 class="title text-primary">Enrollment</h3>

    {% if session.external_enrollment_url %}
    <p><a href="{{ session.external_enrollment_url }}" class="button large secondary">Enroll now</a></p>
    {% else %}
    {% if user.is_authenticated %}
    {% if user.role == 'guardian' %}
    {% if students %}
    {% if spots_remaining > 0 %}
    <p class="subtitle">Enroll Student{% if students and students.count > 1 %}s{% endif %}</p>
    {% else %}
    <p class="subtitle">There are currently no available spots for this class.  Please join the waitlist below and/or <a href="{% url 'weallcode_programs' %}#classes">find another upcoming class.</a></p>
    {% endif %}
    <table class="students">
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.first_name }} {{ student.last_name|slice:":1" }}</td>
                <td class="text-right">
                    {% student_session_order_count student=student session=session as student_is_enrolled %}
                    {% if spots_remaining > 0 or student_is_enrolled %}
                    {% student_register_link student session %}
                    {% else %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="waitlist" value="student">
                        <input type="hidden" name="account_id" value="{{ student.id }}">
                        {% if student in session.waitlist_students.all %}
                        <input type="hidden" name="remove" value="true">
                        <button class="button tertiary small">Remove from Waitlist</button>
                        {% else %}
                        <input type="hidden" name="remove" value="false">
                        <button class="button secondary small">Add to Waitlist</button>
                        {% endif %}
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <small class="add-another"><a href="{% url 'welcome' %}?next={{ request.path }}&enroll=True">Add another student</a></small>
    {% else %}
    <p><a href="{% url 'welcome' %}?next={{ request.path }}&enroll=True" class="button large secondary">Enroll</a></p>
    {% endif %}
    {% else %}
    {% if spots_remaining %}
    {% if mentor_signed_up %}
    <p>You are signed up to mentor this class.</p>
    <p><a href="{{ session.get_sign_up_url }}" class="button large tertiary">I can't make it...</a></p>
    {% else %}
    <p><a href="{{ session.get_sign_up_url }}" class="button large secondary">Sign up now!</a></p>
    {% endif %}
    {% else %}
    {% if account in session.waitlist_mentors.all %}
    <p>You are currently on the waitlist for this class. We will contact you ASAP if a spot becomes available.</p>
    {% else %}
    <p>There are currently no available mentor spots for this class.</p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="waitlist" value="mentor">
        <input type="hidden" name="account_id" value="{{ account.id }}">
        {% if account in session.waitlist_mentors.all %}
        <input type="hidden" name="remove" value="true">
        <button class="button small tertiary">Remove from waitlist</button>
        {% else %}
        <input type="hidden" name="remove" value="false">
        <button class="button small secondary">Add me to waitlist</button>
        {% endif %}
    </form>
    {% endif %}
    {% endif %}
    {% else %}
    {% if spots_remaining < 1 %}
    <p class="subtitle">There are currently no available spots for this class.  Please join the waitlist below and/or <a href="{% url 'weallcode_programs' %}">find another upcoming class.</a></p>
    {% endif %}
    <p><a href="{% url 'account_signup' %}?next={{ session.get_absolute_url }}{% if spots_remaining > 0 %}&enroll=True{% endif %}" class="button large secondary">{% if spots_remaining > 0 %}Enroll now{% else %}Join Waitlist{% endif %}</a></p>
    {% endif %}
    {% endif %}
</section>

<section class="margin-top-3">
  {% if session.teacher %}
    <h3 class="title text-secondary">About the teacher</h3>
    <div class="grid-x teacher grid-margin-x grid-margin-y margin-top-2">
      <div class="cell small-4 medium-3 image">
        <a href="{% url 'mentor-detail' session.teacher.id %}"><img class="width-100 thumbnail" src="{% if session.teacher.avatar %}{{ session.teacher.avatar.thumbnail.url }}{% else %}https://gravatar.com/avatar/?s=320&d=mm{% endif %}"></a>
      </div>
      <div class="cell small-8 medium-9 padding-top-1">
        <h4 class="subtitle">{{ session.teacher.user.first_name }} {{ session.teacher.last_name }}</h4>
        <p>{{ session.teacher.bio|truncatechars:120 }}</p>
        <p><a href="{% url 'mentor-detail' session.teacher.id %}">Learn more about {{ session.teacher.user.first_name }}.</a></p>
      </div>
    </div>
  {% endif %}
</section>

<section class="margin-top-3">
  {% if active_mentors %}
    <h3 class="title text-secondary">Meet the mentors</h3>
    <div class="grid-x mentors grid-margin-x grid-margin-y">
      {% for mentor in active_mentors %}
        {% if mentor.is_public == True %}
        <div class="cell small-4 medium-3">
          <a href="{% url 'mentor-detail' mentor.id %}">
            <img class="thumbnail width-100" src="{% if mentor.avatar %}{{ mentor.avatar.thumbnail.url }}{% else %}https://gravatar.com/avatar/?s=175&d=mm{% endif %}" >
            <div class="caption text-center">{{ mentor.user.first_name }} {{ mentor.user.last_name }}</div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</section>

{% if user.role == 'mentor' or user.is_staff %}
<section class="margin-top-3">
  <h3 class="title text-tertiary">Class Stats</h3>
  {% if user.role == 'mentor' %}
  <ul class="center-block well well-sm well-admin list-group list-unstyled">
      <li class="list-group-item">Students: <b>{{ session.get_current_orders.count }} / {{ session.capacity }}</b></li>
      <li class="list-group-item">Mentors: <b>{{ session.get_mentor_orders.count }} / {{ session.get_mentor_capacity }}</b></li>
  </ul>
  {% endif %}
  {% if user.is_staff %}
  <ul class="center-block well well-sm well-admin list-group list-unstyled">
      <li class="list-group-item">Active: <b>{{ session.is_active }}</b></li>
      <li class="list-group-item">Public: <b>{{ session.is_public }}</b></li>
      {% if session.is_active %}
      <li class="list-group-item">Min Age: <b>{{ session.min_age_limitation }}</b></li>
      <li class="list-group-item">Max Age: <b>{{ session.max_age_limitation }}</b></li>
      {% if session.announced_date_mentors %}
      <li class="text-muted list-group-item">Announced to mentors on:<br><b>{{ session.announced_date_mentors|date:'F j, Y \a\t g:i a' }}</b></li>
      {% else %}
      <li class="list-group-item"><a href="#" onclick="event.preventDefault()" data-toggle="popover" title="Announce Session?" data-content="<a class='button tertiary' href='{% url 'session-announce-mentors' session.id %}'>Announce mentors</a>" data-html="true">Announce to mentors</a></li>
      {% endif %}

      {% if session.announced_date_guardians %}
      <li class="text-muted list-group-item">Announced to guardians on:<br><b>{{ session.announced_date_guardians|date:'F j, Y \a\t g:i a' }}</b></li>
      {% else %}
      <li class="list-group-item"><a href="#" onclick="event.preventDefault()" data-toggle="popover" title="Announce Session?" data-content="<a class='button tertiary' href='{% url 'session-announce-guardians' session.id %}'>Announce guardians</a>" data-html="true">Announce to guardians</a></li>
      {% endif %}

      <li class="list-group-item"><a href="{% url 'student-check-in' session.id %}">Check-in Students</a></li>
      <li class="list-group-item"><a href="{% url 'mentor-check-in' session.id %}">Check-in Mentors</a></li>
      {% endif %}

      <li class="list-group-item"><a href="{% url 'stats' session.id %}">Class Stats</a></li>
      <li class="list-group-item"><a href="{% url 'admin:coderdojochi_session_change' session.id %}">Edit Class</a></li>
  </ul>
  {% endif %}
</section>
{% endif %}

{% endblock %}
