{% extends "coderdojochi/_base.html" %}

{% load i18n bootstrap3 static %}

{% block title %}{{ student.first_name }} {{ student.last_name }} | {{ block.super }}{% endblock %}

{% block body_class %}page-student-detail{% endblock %}

{% block contained_content %}
<div class="container registration min-height">
    <h1 class="title">Edit Student Info</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="button">Update</button>&nbsp;
        <a href="{% url 'account-home' %}" class="button secondary">Cancel</a>
    </form>

    <form action="." onsubmit="return confirm('Are you sure?')" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <input type="hidden" name="delete" value="true" />
        <button type="submit" role="button" class="btn-link delete-student">Delete Student</button>
    </form>
</div>
{% endblock %}
