{% extends "_base.html" %}

{% load i18n %}

{% block title %}Volunteer{% endblock %}

{% block body_class %}page-volunteer{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-12">
        <h1>{% trans "Volunteer" %}</h1>

        <p>We'd like to invite you to find out what it's like to help shape the minds of tomorrow by giving you the opportunity to volunteer at our next event. If you are passionate about coding and teaching children, join us. Everyone is welcome, regardless of technical ability. To join and attend our next meeting please sign up below.</p>

        <p>If you are unable to attend meetings and setup CoderDojo Chicago, but would still like to help, we are in need of volunteers and sponsors who can simply help spread the word, recruit new mentors, donate equipment, space and more.</p>

        <ul>
            <li>All teaching sessions run between 10am and 1pm with breaks and food provided.</li>
            <li>Volunteers are requested to be there between 9am and 2pm on the event day (Saturday) for setup and breakdown.</li>
            <li>The only thing you need to bring is yourself, willingness to help new programmers learn, and a fun, cheerful attitude!</li>
        </ul>
    </div>
</div>
{% endblock %}
