{% extends "_base.html" %}
{% load i18n avatar_tags cache %}

{% block title %}Volunteer{% endblock %}

{% block body_class %}page-volunteer{% endblock %}

{% block content %}

<div class="container">
    <div class="col-md-12">
    
        {% cache 600 volunteer_content %}
        <h1>{% trans "Volunteer" %}</h1>

        <p>We'd like to invite you to find out what it's like to help shape the minds of tomorrow by giving you the opportunity to volunteer at our next event. If you are passionate about <abbr title="STEM is an acronym referring to the academic disciplines of science, technology, engineering, and mathematics.">STEM</abbr> and teaching children, join us. Everyone is welcome, regardless of technical ability. To join and attend our next meeting please sign up below.</p>

        <p>There are many opportunities to help us grow&ndash;including national grants, corporate donations, tax exemptions and more&ndash;but we need your help.</p>

        <p>We are looking for talented marketers, copywriters, designers, accountants, fundraisers, grant writers, grant researchers, and developers.</p>

        <p>Even one hour of your time can help!</p>

        <p>Inspired to make a difference? <a href="{% url 'register' %}">Join us now!</a></p>
        {% endcache %}

        {% if mentors %}
        <h1>Meet Our Volunteers</h1>
        <div class="mentors">
            {% for mentor in mentors %}
            <a href="{% url 'mentor_detail' mentor.id %}">
            <span class="mentor">
                {% avatar mentor.user 175 %}
                <div class="info">
                    {{ mentor.first_name }} {{ mentor.last_name }}
                </div>
            </span>
            </a>
            {% endfor %}
            <span class="mentor">
                <a href="{% url 'auth_login' %}" class="btn-cdc">Join us now!</a>
            </span>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
