{% extends "_base.html" %}
{% load static i18n cache %}

{% block title %}Volunteer{% endblock %}

{% block body_class %}page-volunteer{% endblock %}

{% block contained_content %}

<div class="container">
    <div class="col-md-12">
        <h1 class="title">Volunteer</h1>

        <p>We'd like to invite you to find out what it's like to help shape the minds of tomorrow by giving you the opportunity to volunteer at our next event. If you are passionate about <abbr title="STEM is an acronym referring to the academic disciplines of science, technology, engineering, and mathematics.">STEM</abbr> and teaching children, join us. Everyone is welcome, regardless of technical ability. To join and attend our next meeting please sign up below.</p>

        <p>There are many opportunities to help us grow&ndash;including national grants, corporate donations, tax exemptions and more&ndash;but we need your help.</p>

        <p>We are looking for talented marketers, copywriters, designers, accountants, fundraisers, grant writers, grant researchers, and developers.</p>

        <p>Even one hour of your time can help!</p>

        <p>Inspired to make a difference? <a href="{% url 'account_signup' %}">Join us now!</a></p>

        {% if mentors %}
            <h1 class="title">Meet Our Volunteers <a href="{% url 'account_signup' %}" class="button">Join us now!</a></h1>


            <div class="row mentors">
                {% for mentor in mentors %}
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <a href="{% url 'mentor-detail' mentor.id %}" class="thumbnail">
                        {% if mentor.avatar %}
                            <img src="{{ mentor.avatar.thumbnail.url }}" width="175" height="175">
                        {% else %}
                            <img src="https://gravatar.com/avatar/?s=175&amp;d=mm" width="175" height="175">
                        {% endif %}
                        <span class="caption text-center">{{ mentor.user.first_name }} {{ mentor.user.last_name }}</span>
                    </a>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{% if meetings %}
<div class="upcoming-sessions">
    {% for meeting in meetings %}
        {% if meeting.bg_image %}
            <div class="upcoming-session" style="background-image: url({{ meeting.bg_image.url }});">
        {% elif meeting.image_url %}
            <div class="upcoming-session" style="background-image: url({% static meeting.image_url %});">
        {% else %}
            <div class="upcoming-session">
        {% endif %}
                <div class="session-shim">
                    <div class="container">
                        <div class="date">
                            {{ meeting.start_date|date:'F' }}
                            <span class="day">{{ meeting.start_date|date:'d' }}</span>
                        </div>
                        <div class="description">
                            <h4 class="title"><a href="{{ meeting.get_absolute_url }}">{% if meeting.meeting_type.code %}{{ meeting.meeting_type.code }}: {% endif%}{{ meeting.meeting_type.title }}</a></h4>
                            <p>{{ meeting.meeting_type.description|safe|truncatechars:180 }}</p>
                        </div>
                        <div class="actions">
                            <p><a href="{{ meeting.get_absolute_url }}" class="button">Learn more.</a></p>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
