{% extends "coderdojochi/_base.html" %}

{% load i18n bootstrap3 static %}

{% block title %}{{ class.title }} Sign Up | {{ block.super }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/js-datepicker@5.14.2/dist/datepicker.min.css">
{% endblock %}

{% block body_class %}page-welcome{% endblock %}

{% block contained_content %}
<section class="medium-padding-horizontal-3 text-center">
    {% if role %}
        {% if role == 'guardian' %}
            {% if not add_student %}
            <h2 class="title text-primary">Tell us a little more about yourself...</h2>
            <p>
              Before you sign up your student(s), let's start with some contact information.<br>
              <strong>We will never share this information with anyone.</strong>
            </p>
            {% else %}
                {% if students %}
                    <h4 class="title light">{{ students }} Student{{ students|pluralize }} Registered <i class="fas fa-check"></i></h4>
                    <h2 class="title text-primary">Register another student</h2>
                {% else %}
                    <h2 class="title text-primary">Register your first student now</h2>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if role == 'mentor' %}
        <h2 class="title text-primary">Tell us a little more...</h2>
        <p>Before you sign up to mentor classes, come up with a short bio for yourself...</p>
        {% endif %}

        <hr>

        {% if form %}
        {% if add_student %}
        <p>Please complete all fields below</p>
        {% endif %}

        <form action="{% if next_url %}?next={{ next_url }}{% if 'enroll' in request.GET %}&enroll=True{% endif %}{% endif %}" method="post">
            {% csrf_token %}
            <div class="grid-x margin-top-3 grid-margin-x grid-margin-y">
                <div class="cell medium-offset-3 medium-6">{% bootstrap_form form %}</div>
            </div>
            <button class="submit button margin-top-3">{% if not add_student %}Continue{% else %}Register{% endif %} <i class="fas fa-chevron-right margin-left-half"></i></button>
        </form>
        {% endif %}
    {% else %}
        <h2 class="title text-primary">Thanks for registering!</h2>
        <h3 class="title text-secondary">Who are you?</h3>
        <hr>
        <div class="grid-x margin-top-3 grid-margin-x grid-margin-y">
            <form class="cell medium-4 medium-offset-2" method="post" action="" class="role">
                {% csrf_token %}
                <input type="hidden" name="role" value="parent">
                <p>
                  <button class="button expanded"><i class="fas fa-graduation-cap margin-right-half"></i> Parent/Guardian</button><br>
                  Enroll students for classes
                </p>
            </form>
            <form class="cell medium-4" method="post" action="{% if next_url %}?next={{ next_url }}{% if 'enroll' in request.GET %}&enroll=True{% endif %}{% endif %}" class="role">
                {% csrf_token %}
                <input type="hidden" name="role" value="mentor">
                <p>
                  <button class="button expanded"><i class="fas fa-hands-helping margin-right-half"></i> Volunteer</button><br>
                  Looking to join our team!
                </p>
            </form>
        </div>
    {% endif %}
</section>
{% endblock %}

{% block extra_script %}
<script src="https://unpkg.com/js-datepicker@5.18.0/dist/datepicker.min.js"></script>

<script>

// Test whether a new date input falls back to a text input
var testElement = document.createElement('input');

try {
  testElement.type = 'date';
} catch (e) {
  console.log(e.description);
}

// If it does, run the code inside the if () {} block
if (testElement.type === 'text') {
    var $birthday = document.querySelector("#id_birthday");
    var picker = datepicker('#id_birthday', {
        disableMobile: true,
        startDate: new Date($birthday.attributes['max'].value),
        minDate: new Date($birthday.attributes['min'].value),
        maxDate: new Date($birthday.attributes['max'].value),
        formatter: (input, date, instance) => {
            input.value = date.toLocaleDateString('en-US')
        }
    });
}
</script>
{% endblock %}
